<template>
  <div class="vh-100 d-flex flex-column">
    <!-- Navbar -->
    <nav class="navbar is-home-top-nav" role="navigation" :class="{'is-fixed-top':$route.path == '/card'}">
      <div class="navbar-menu">
        <!-- ********** 左側 ********** -->
        <div class="navbar-start">
          <!-- 漢堡主選單 -->
          <a href="javascript:void(0)" class="navbar-item text-white" ref="isSideMenu" @click="isSideMenu=true" v-show="$route.path == '/card'">
            <div class="drop-shadow"><i class="fas fa-bars fa-fw fa-lg"></i></div>
          </a>
          <!-- 返回 -->
          <a href="javascript:void(0)" class="navbar-item" 
           @click="($route.path === '/cardStore' || ($route.path === '/cardShop' && !$route.query.type)?$router.push('/card'):($route.query?$router.go(-1):$router.push('/')))" v-if="isShowNav">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a>
          <a href="javascript:void(0)" class="navbar-item" 
           @click="clickGo('cardShopCart', 1)" v-if="$route.path.includes('/cardShopCart') && $route.query.type =='pay'">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a>
          <a href="javascript:void(0)" class="navbar-item" 
           @click="clickGo('cardShop', 1)" v-if="$route.path.includes('/cardShopCart') && ($route.query.type =='finished' || $route.query.type == undefined)">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a>
          <a href="javascript:void(0)" class="navbar-item" 
           @click="clickGo('cardShopMine', 1)" v-if="$route.path.includes('/cardShopMine') && $route.query.type =='pay'">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a>
          <a href="javascript:void(0)" class="navbar-item" 
           @click="($route.query.type == undefined?clickGo('cardShop'):clickGo('cardShopMine', 1))" v-if="$route.path.includes('/cardShopMine') && ($route.query.type =='finished' || $route.query.type == undefined)">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a>
          <!-- <a href="javascript:void(0)" class="navbar-item" 
           @click="$router.go(-1)" v-if="$route.path.includes('/cardShopMine')">
            <div><i class="fas fa-arrow-left fa-fw"></i></div>
          </a> -->
        </div>
        <!-- ********** 中(頁面名稱) ********** -->
        <div class=" is-size-5 navbar-item" v-if="$route.path !== '/card'" v-cloak>{{$store.state.isPageName}}</div>
        <!-- ********** 右側 ********** -->
        <div class="navbar-end shadow has-background-success rounded-leftbottom" v-if="isLogin && ($route.path == '/card' || $route.path == '/cardMember')">
          <!-- 推播提醒 -->
          <a href="javascript:void(0)" class="navbar-item pl-3 pr-0 text-decoration-none" v-if="$route.path !== '/cardMember'" @click="$router.push('/pushNotifications')">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#000">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.8,17.5H5.6c-1.5,0-2.6-1.2-2.6-2.6V6.7C3,5.2,4.2,4,5.6,4h12.7C19.8,4,21,5.2,21,6.7v8.1c0,1.5-1.2,2.7-2.6,2.7l-3.1,0.1l-5.7,4.3 M7.5,8.5h9 M7.5,13h5.6" />
            </svg>
            <!-- TODO：有未讀推播，則紅點圖示出現 -->
            <span v-if="hasNotify" class="badge mt-2"></span>
          </a>
          <!-- 點數 -->
          <a href="javascript:void(0)" class="navbar-item pl-3 pr-0 text-decoration-none" v-if="$route.path !== '/cardMember'" @click="showQrcode()">
            <b class="is-size-4 text-white mr-1 line-height-100">{{ isNaN(points) ? '讀取中..' : points }}</b>
            <sub style="bottom:-0.5em">點</sub>
          </a>
          <!-- 會員qrcode -->
          <a href="javascript:void(0)" class="navbar-item" :class="{'pl-3':($route.path == '/cardMember')}" @click="showQrcode()">
            <img src="../../assets/images/qrcode_scan_icon.svg" style="height:21px" alt="">
          </a>
        </div>
        <div class="navbar-end" v-else-if="showCardShop">
          <!-- 訂單紀錄 -->
          <a href="javascript:void(0)" class="navbar-item pr-0" v-if="isLogin && ($route.path=='/cardShopTrace' || $route.path=='/cardShop')" @click="hasFoodkind && clickGo('cardShopMine')">
            <img src="../../assets/images/cart_orders.svg" style="height:28px" alt="">
          </a>
          <!-- 購物車 ps:isCarUI觸發UI用-->
          <a href="javascript:void(0)" class="navbar-item position-relative" v-if="$route.path!='/cardShopMine'" @click="hasFoodkind && chkCartSum()" :data-badge="$store.state.mallData.isCarUI!=undefined && cartAllQty()">
            <img src="../../assets/images/cart.svg" style="height:28px" alt="">
          </a>
        </div>
        <div class="navbar-end" v-else>
          <!-- 首頁 -->
          <a href="javascript:void(0)" class="navbar-item" @click="$router.push('/card')" v-if="isShowNav">
            <div><i class="fas fa-home fa-fw fa-lg has-text-success"></i></div>
          </a>
          <!-- 對位使用 -->
          <a href="javascript:void(0)" class="navbar-item" v-else>
            <div style="width:20px"></div>
          </a>
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <aside class="menu shadow" @click="onClose" v-show="isSideMenu" v-closable="{exclude: ['isSideMenu'], handler: 'onClose'}" v-cloak>
        <ul class="menu-list">
          <li class="text-center my-3">
            <p class="pb-1"><i class="fas fa-user-circle fa-fw fa-2x"></i></p>
            <p class="px-2" v-if="isLogin"><b>{{userData.Name}}</b></p>
            <button class="button is-small is-rounded w-50" v-if="!isLogin" @click="$router.push({path: '/login'})">登入</button>

          </li>
          <hr>
          <!-- <li @click="$router.push('/card')"><a>首頁</a></li> -->
          <li v-if="isLogin" @click="$router.push('/cardMember')"><a href="javascript:void(0)"><i class="fas fa-user fa-fw"></i> 會員專區</a></li>
          <li v-for="(brandLeft, index) in brands" :key="'brandLeft'+index" @click="goBrand(brandLeft)">
            <a href="javascript:void(0)">
              <figure class="image is-24x24 d-inline-block align-bottom">
                <img class="is-rounded" v-if="brandLeft" :src="showImageWuhu(brandLeft.BrandLogo)">
              </figure>
              {{(brandLeft?brandLeft.Text:"")}}
            </a>
          </li>

          <!-- <li @click="$router.push('/cardBrand?type=brand')">
            <a>
              <figure class="image is-24x24 d-inline-block align-bottom">
                <img class="is-rounded" :src="showImageWuhu(brand.BrandLogo)">
              </figure>
              {{ index==0 ? '大戶屋' : index==1 ? '沃克牛排' : index==2 ? 'bb.q': ''}}
            </a>
          </li>
          <li @click="$router.push('/cardBrand?type=brand')">
            <a>
              <figure class="image is-24x24 d-inline-block align-bottom">
                <img class="is-rounded" src="../../assets/images/nav_ic_volks.png">
              </figure>
              沃克牛排
            </a>
          </li>
          <li @click="$router.push('/cardBrand?type=brand')">
            <a>
              <figure class="image is-24x24 d-inline-block align-bottom">
                <img class="is-rounded" src="../../assets/images/nav_ic_bbq.png">
              </figure>
              bb.q
            </a>
          </li> -->
          <hr class="mx-3">
          <!-- <li @click="toCloestStore()"><a>店鋪據點</a></li> -->
          <!-- <li @click="$router.push('/cardNews')"><a>最新消息</a></li> -->
          <li @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord='';isSideMenu=false"><a href="javascript:void(0)">搜門市</a></li>
          <li @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord='';isSideMenu=false"><a href="javascript:void(0)">訂餐</a></li>
          <li @click="$router.push('/cardFaq?name=常見問題')"><a href="javascript:void(0)">常見問題</a></li>
          <li @click="clickGo('cardShop')"><a href="javascript:void(0)">商城</a></li>
          <li @click="$router.push('/setting')"><a href="javascript:void(0)">設定</a></li>
        </ul>
        <!-- 關閉範圍
        <div class="position-fixed vw-100 h-100" style="top: 0; z-index: -1;" @click="isSideMenu=false"></div> -->
      </aside>
    </transition>

    <!-- 內容 Slot -->
    <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()" class="flex-fill">
      <slot></slot>
    </PullRefresh>

    <!-- 底導覽列 -->
    <nav class="navbar is-success bottom-nav" v-if="$route.path !== '/cardMember' && $route.path !== '/pushNotifications'
     && $route.path !== '/cardShopType' && $route.path !== '/cardShopMine' && $route.path !== '/cardShopCart' && $route.path !== '/cardShop'">
      <div class="level is-mobile w-100">
        <div class="level-item has-text-centered">
          <div class="mt-n4" @click="isModal='findBrand';isSideMenu=false">
            <figure class="image is-64x64 drop-shadow">
              <img src="../../assets/images/nav_btm_ic_brand.png">
            </figure>
            <p class="heading is-size-6 mt-n1">找品牌</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="mt-n4" @click="chkLogin('/cardCoupon')" :data-badge="ticketListLength_quick">
            <figure class="image is-64x64 drop-shadow">
              <img src="../../assets/images/nav_btm_ic_coupon.png">
            </figure>
            <p class="heading is-size-6 mt-n1">享優惠</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="mt-n4" @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord='';isSideMenu=false">
            <figure class="image is-64x64 drop-shadow">
              <img src="../../assets/images/nav_btm_ic_store.png">
            </figure>
            <p class="heading is-size-6 mt-n1">訂餐</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="mt-n4" @click="goMOrder('SS001', 'homedelivery')">
            <figure class="image is-64x64 drop-shadow">
              <img src="../../assets/images/nav_btm_ic_delivery.png">
            </figure>
            <p class="heading is-size-6 mt-n1">購物</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="mt-n4" @click="chkLogin('/cardMember')">
            <figure class="image is-64x64 drop-shadow">
              <img src="../../assets/images/nav_btm_ic_member.png">
            </figure>
            <p class="heading is-size-6 mt-n1">會員區</p>
          </div>
        </div>
      </div>
    </nav>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-top" mode="out-in">
      <div class="modal mbr-qrcode is-active" v-if="cardQRcode.show">
        <div class="modal-background"></div>
        <div class="modal-content" style="overflow: visible">
          <div class="box m-auto text-center text-white has-background-success" style="max-width: 280px">
            <header>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0,0 Q50,50 100,0"></path>
              </svg>
              <h5 class="title is-6">會員條碼</h5>
            </header>
            <figure class="image is-96x96 qrcode-avatar">
              <img v-if="CardTypeCode == '' || CardTypeCode == 'A'" src="@/assets/images/nav_ic_avatar.png">
              <img v-if="CardTypeCode == 'B'" src="@/assets/images/nav_ic_avatar_gold.png">
              <img v-if="CardTypeCode == 'C'" src="@/assets/images/nav_ic_avatar_diamond.png">
            </figure>
            <article>
              <div class="bg-white p-2 m-auto" style="max-width:200px">
                <figure class="image bg-white is-1by1">
                  <!-- <img src="../../assets/images/qrcode.png"> -->
                  <small class="qrcode-rendering has-text-grey-light text-nowrap" @click="renderQRcode()"><i class="fas fa-redo-alt fa-fw fa-lg"></i> 點選產生條碼</small>
                  <img :src="cardQRcode.data.image">
                </figure>
              </div>
              <p class="m-3 is-size-7">{{cardQRcode.data.value}}<br>
                本次條碼可使用時間 {{cardQRcode.timer}} 秒</p>
            </article>
          </div>
          <!-- <div v-if="cardQRcode.data.loaded">
            <div class="w3-card">
              <h4 class="is-size-4 my-3">會員條碼： {{$store.getters.currentApp.AppName}}</h4>
              <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 75%">
              <p class="my-3">
                {{cardQRcode.data.value}}
                <br>
                本次條碼可使用時間 {{cardQRcode.timer}} 秒
              </p>
            </div>
          </div> -->
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>

      <!-- 搜 品牌 or 門店 前導 -->
      <div class="modal is-active" style="z-index: 100" v-if="isModal == 'findBrand' || isModal == 'findStore'">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box p-3 m-auto has-background-white-ter" style="max-width: 320px" v-if="isModal == 'findBrand'">
            <p class="mb-3 text-center">請選擇品牌</p>
            <div class="rounded-lg bg-white p-3 my-3">
              <div class="columns is-mobile is-variable is-2 is-multiline">
                <div class="column is-6" v-for="(brand, index) in brands" @click="goBrand(brand)" :key="'brand'+index">
                  <img :src="showImageWuhu(brand.BrandLogo)" alt="">
                </div>

              </div>
            </div>
          </div>
          <div class="box p-3 m-auto has-background-white-ter" style="max-width: 320px" v-if="isModal == 'findStore'">
            <p class="mb-3">
              歡迎光臨，<br>
              今天想吃什麼美味餐點呢？
            </p>
            <div class="rounded-lg bg-white p-3 my-3">
              <div class="columns is-mobile is-variable is-2 is-multiline">
                <div class="column is-6" v-for="(brand, index) in brands" :key="'brandStore'+index" @click="goBrandStore(brand.Text)">
                  <img :src="showImageWuhu(brand.BrandLogo)" alt="">
                </div>
              </div>
            </div>
            <div class="rounded-lg my-3">
              <button class="button border has-text-success bg-white is-fullwidth" @click="toCloestStore()">
                <span>或是搜尋離我最近的門市</span>
                <span class="icon">
                  <i class="fas fa-mouse-pointer fa-fw"></i>
                </span>
              </button>
            </div>
            <div class="rounded-lg my-3">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input class="input" type="text" v-model="footerStoreKeyWord" :placeholder="stSearchNote" @blur="fixScroll">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-fw"></i>
                  </span>
                </p>
                <div class="control" @click="searchStoreByKeyWord()">
                  <a href="javascript:void(0)" class="button is-success">
                    送出
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="isModal=''"></button>
      </div>

    </transition>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { fixScroll, isLogin, showImageWuhu, Closable, showToast } from 'src/libs/appHelper.js'
import { deviseFunction, goMOrder } from 'src/libs/deviseHelper.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'
import { cartQty,guestCartQty,guestMarkeLogin } from 'src/libs/market.js'
//import { S_Obj } from 'src/s_obj.js'
// import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
// import { showAlert } from 'src/libs/appHelper.js'

const currentAppUser = computed(() => store.state.currentAppUser)
const userData = computed(() => store.state.userData)
const currentApp = computed(() => currentAppUser.EnterPriseID )
// const publicData = computed(() => store.state.publicData )

// 側選單開關
// const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (store.getters.currentAppUsers.length === 0) return 0
  const userData = store.getters.currentAppUsers.find(app => app.mac === store.state.currentAppUser.mac)
  if (userData === undefined) return 0
  const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

const PG_Brand = '/cardBrand'
let HasPull	= false;		// 防止連拉開關

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  // 企業公開資料
  '/card':         'fetchData4CardIndex',
  '/cardFaq':      'fetchAppPublicData',
  '/cardMenu':     'fetchAppPublicData',
  // 先不要pull request以免會always下滑會觸發pull request
  // '/cardStore':    'fetchStoreListData',
  // '/cardProducts': 'fetchAppPublicData',
  '/cardProducts': 'fetchBrandDataGID',
  '/cardNews':     'fetchNewsData',
  //'/cardNewspage': 'fetchNewsData',
  '/cardNewspage':  'fetchBrandNews',
  // 企業會員資料
  '/cardMember':   	'fetchAppPublicDataDetailMemberWuhu', // 有用到
  '/cardProfile':  	'fetchAppUserData',
  '/cardCoupon':   	'fetchAppPublicDataCouponWuhu', // 有用到
  '/cardPoint':    	'fetchAppPublicDataDetailPointWuhu', // 有用到
  '/cardPay':      	'fetchMemberPurchaseRecordData',
  '/cardBrand':  		'fetchAppBrandData',
  '/cardPrepay':   	'fetchAppPublicDataDetailPrepayWuhu', // 有用到
	/** @Fix: 修正-由後端直接更新json... */
//  '/getCoupon':    	'fetchMemberDrawTicketListDataWuhu', // 有用到
  '/getCoupon':    	'fetchGetDrawTicketListJson', // 有用到
  '/pointExg':     	'fetchVipAndCardInfoWuhu', // 有用到
  '/oldCard':      	'fetchMemberRegisteredCardsData', // 有用到
  // TODO:商城開始
  '/cardShop': 'fetchMallData',
  '/cardShopMine': 'fetchShopMine',
  '/cardShopType': 'fetchMallKindData',
}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => timerRenderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  store.commit('setCssTouch', false)

  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  // console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 取會員 QRcode
  store.dispatch('fetchWuhuCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// 限時顯示 QRcode 的邏輯
function timerRenderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  renderQRcode()
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  directives: {
    Closable
  },
  data() {
    return {
      isModal: '',
      isSideMenu: false,
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,
      publicData: this.$store.state.baseInfo.publicData,
      footerStoreKeyWord: '',
    };
  },
  setup(props, context) {
    // 未登入 => 導回首頁
    // if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const urlQuery = computed(() => context.root.$route.query )
    const refreshAction = ref('')
    const pullTime = computed(() => ['/cardShopType','/cardShop','/cardShopMine'].indexOf(context.root.$route.path) > -1?0:5000 )
    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      // if (/\/cardMenu\//.test(urlPath))     path = '/cardMenu' //test(urlPath)??沒有.urlPath.value
      if (/\/cardMenu\//.test(urlPath.value))     path = '/cardMenu'  // path只重設/cardMenu/xxx  
      if (/\/cardNewspage\//.test(urlPath.value)) path = '/cardNewspage'// path只重設/cardNewspage/xxx
      if (/\/cardProducts\//.test(urlPath.value)) path = '/cardProducts'  // path只重設/cardProducts/xxx    
      const isEnabled = pathValidation[path] !== undefined      
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入/無企業資料，不啟用
      if (!isLogin || !currentApp ) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
			if (!HasPull) {
				HasPull = true;

				let qUrl = urlQuery.value || {};
        if (/\/cardBrand/.test(urlPath.value) && qUrl.gid && refreshAction.value == 'fetchAppBrandData'){
          store.dispatch("fetchAppBrandDataById",qUrl)
          
        }else{
          store.dispatch(refreshAction.value,qUrl)
        }
				
				//console.warn('下拉刷新_Act: ', refreshAction.value);	// @@

				// === 即時更新橫幅的圖片 === start
				let path = this.$route.path
				if (path == '/card') {
					store.commit('setMainBannerUpdate', true)
					store.dispatch('fetchMemberTicketListDataWuhu')
				}
				// === 即時更新橫幅的圖片 === end
				setTimeout(function () {
					HasPull = false;
				}, pullTime.value);
			}
      return new Promise(resolve => setTimeout(() => resolve(), pullTime.value))
    }
    
    if (!store.state.ShowQrcodeFn) store.commit('setShowQrcode', showQrcode)
    return {
      isLogin, onPullRefresh, pullRefreshConfig, goMOrder,
      ticketCount, timerRenderQRcode, renderQRcode,
      cardQRcode, showQrcode, hideCardCode, layout, fixScroll, userData
    }
  },
  async created() {
    store.dispatch('fetchCompanyData')	// 隱私權政策,關於我們
		//暫時拿掉,因為fetchVipAndCardInfoWuhu有支援TicketCount
    //store.dispatch('fetchMemberTicketListDataWuhu')	// 取優惠卷列表資訊

    isLogin.value && await store.dispatch('fetchPushNotifyNum')	// 取會員-推播消息-總數
		// console.log('推播提醒總數: ', this.memberData.pushNotifyNoRead);	// @@
  },
  computed: {    
    byApp(){return this.$store.getters.isNotLinePara},
    hasFoodkind(){
      return !!this.$store.state.mallData.foodkind.length;
    },
    showCardShop(){
			const path1 = this.$route.path
			,isTrue			= /cardShop/.test(path1) && !/cardShopCart/.test(path1)
      // return path1 == '/cardShop' || path1 == '/cardShopType'
      return isTrue
    },
    isShowNav(){
      return this.$route.path !== '/card' && !this.$route.path.includes('/cardShopMine') && !(this.$route.path.includes('/cardShopCart'))
    },
    points() { return Math.floor(this.memberData.card_info.Points) },
    CardTypeCode() { return this.memberData.card_info.CardTypeCode },
    pageData() { return this.publicData.storeList },
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    brands() {	// 品牌詳情
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      // console.log('品牌詳情-brandList: ', brandList);	// @@
      // 重新排序(臨時需求hardcode)
      const goodeat = brandList[brandList.length - 1]
      const bbq = brandList[brandList.length - 2]
      const work = brandList[brandList.length - 3]
      brandList.splice(1, 3)
      brandList.push(bbq)
      brandList.push(goodeat)
      brandList.push(work)
      return brandList;
    },
    ticketListLength_quick() {
      return this.memberData.vip_info.TicketCount
    },
    ticketListLength() {
      let ticketLength = 0
      let ticketList = this.memberData.ticketList
      if (ticketList) {
        ticketLength = ticketList.length
      }
      return ticketLength
    },
    store_keys(){
			const cloudsearch = this.publicData.cloudsearch
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
          return item.LinkPosition == "門店搜尋"
				}) : []
      return arr1;
    },
    store_cloudKeys(){
      return this.store_keys.filter((item) => {
          return item.isFullText
      })
    },
    stSearchNote(){
      //isText
      let brandArr = this.store_keys.filter((item) => {
          return item.isText
      })
      let p_text = "";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    },
    hasNotify(){
      return !!this.memberData.pushNotifyNoRead;
    },
  },
  methods: {
    cartQty,
    showImageWuhu,
    guestCartQty,
    guestMarkeLogin,
    clickGo(v1, isReplace) {
      const _path	= `/${v1}`
			if (isReplace) this.$router.replace({ path: _path}) 
      if (!isReplace) this.$router.push({ path:_path})
      
    },
    chkCartSum(){   
      const guestQty = this.guestCartQty()   
      if (!this.isLogin){
        if (!guestQty) return showToast("購物車沒有品項")
        else if(this.byApp) this.clickGo('login')
        else if(!this.byApp) this.guestMarkeLogin();
        
      }else{
        const allCount = this.cartQty(store.state.mallData.kindQty) + guestQty
        if (!allCount) return showToast("購物車沒有品項")//在登入時,guestQty也要檜查是否有數量
        else this.clickGo('cardShopCart')
      }
      
    },
    cartAllQty(){
      const guestQty = this.guestCartQty()
      return (this.isLogin?cartQty(store.state.mallData.kindQty)+guestQty:guestQty)
    },
    chkLogin(str_path){
			const isTrue = this.isLogin
					,thePage = isTrue ? str_path : '/login'
      if (isTrue) {
				this.isSideMenu = false
      }
			this.$router.push({path: thePage})
    },
    goBrand(p_brand){
			const _path = this.$route.path
				,isSame		= _path == PG_Brand
      var isDiff = !isSame || (isSame && this.$route.query.gid != p_brand.ID);
      if (isDiff) this.$router.push({ path: PG_Brand, query: { gid: p_brand.ID} }); this.isModal = ''
    },
		/* 找品牌 */
    goBrandStore(brandStr) {
      // console.log('goBrandStore ===> brandStr =>' + brandStr)

      // === 只查品牌,其他查詢條件清空 === start
      store.commit('setStoreQueryBrand', brandStr)
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 只查品牌,其他查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    // 最近門店
    toCloestStore() {
      // === 全部查詢條件清空 === start
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 全部查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    searchStoreByKeyWord() {
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', this.footerStoreKeyWord)

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    onClose() {
      this.isSideMenu = false
    },

  },
}
</script>

<style lang="scss" scoped>
.mt-n4 {
    margin-top: -1.75rem !important;
}
.rounded-leftbottom {
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
}
.image.is-64x64 {
  width: 60px;
  height: 60px;
}
.qrcode-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -72px;

}
header h5 {
  transform: translateY(12px);
}
.qrcode-rendering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bell {
	transform-origin: 50% 0;
	animation: shake-bell 3s ease 2;
}
@keyframes shake-bell {
	0%, 50%, 100% {
		transform: rotate(0);
	}
	5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
		transform: rotate(6deg);
	}
	45% {
		transform: rotate(2deg);
	}
	7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
		transform: rotate(-6deg);
	}
}

[data-badge]::after {
    left: calc(50% + 16px);
}
</style>
