<template>
  <div class="vh-100 d-flex flex-column">
    <!-- 未登入 && 註冊/登入 -->
    <nav class="navbar is-login-top-nav" role="navigation"
      v-if="(isLogin && $route.path == '/setting') || $route.path == '/register' || $route.path == '/login'"
      :class="{'position-fixed':($route.path == '/register' || $route.path == '/login')}"
    >
      <div class="navbar-menu">
        <div class="navbar-start">
          <!-- 返回全版Banner -->
          <a class="navbar-item text-black" v-if="$route.path == '/login'" @click="$router.push('/')">
            <i class="fas fa-arrow-left fa-fw"></i>
          </a>
          <!-- 返回登入 -->
          <a class="navbar-item text-black" v-if="$route.path == '/register'" @click="registerBack()">
            <i class="fas fa-arrow-left fa-fw"></i>
          </a>
          <!-- 設定返回 -->
          <a class="navbar-item text-black" v-if="$route.path == '/setting'" @click="$router.go(-1)">
            <i class="fas fa-arrow-left fa-fw"></i>
          </a>
        </div>
        <!-- ********** 中(頁面名稱) ********** -->
        <div class=" is-size-5 navbar-item" v-if="$route.path == '/setting'">{{$store.state.isPageName}}</div>
        <div class="navbar-end">
          <!-- 文字 -->
          <b class="navbar-item is-size-5"></b>
        </div>
      </div>
    </nav>

    <!-- 已登入 -->
    <!-- <nav class="navbar" role="navigation" v-if="isLogin"> -->
    <nav class="navbar" role="navigation" v-if="false">
      <div class="navbar-menu">
        <div class="navbar-start" style="width: 52px;margin-right: 0px;">
          <!-- 卡卡LOGO圖 -->
          <img src="../../assets/images/logo-kakar-text.svg" style="height:2rem;margin: 10px" @click="$router.push('/')" v-if="$route.path !== '/'">
          <img src="../../assets/images/logo-kakar-text.svg" style="height:2rem;margin: 10px" @click="$router.push('/setting')" v-if="$route.path === '/'">
        </div>
        <div class="navbar-end ml-0" style="width: 100%">
          <!-- 卡片篩選 -->
          <input class="input mt-2 mr-3" type="text" v-model="$store.state.appFilter" placeholder="搜尋 / 篩選" v-if="isLogin && $route.fullPath === '/' && $store.state.vipApps.length > 3">
          <!-- 登入後掃碼圖示(右) -->
          <img src="../../assets/images/scanCode.svg" style="height:2rem;margin-top: 12px;margin-right: 10px;" @click="openBarcodeScan" v-if="isLogin && $route.fullPath === '/'" v-cloak>
          <!-- 在設定頁 -->
          <a class="navbar-item" @click="$router.go(-1)" v-if="$route.path === '/setting'">
            <i class="fas fa-times is-size-4"></i>
          </a>
        </div>
      </div>
    </nav>

    <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig" class="flex-fill"
      :class="[(($route.path == '/register' && $route.query.type == 'fillout') || $route.path == '/setting')?'has-background-white-ter':'has-background-success']"
    >
      <slot></slot>
    </PullRefresh>

  </div>
</template>

<script>
import store from 'src/store'
import PullRefresh from 'src/components/PullRefresh.vue'
import { touchScrolling, isLogin } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
// 依據是否登入來設定啟用下拉刷新功能
const pullRefreshConfig = { pullEnabled: true/*isLogin.value*/ }
// 下拉後啟動刷新的邏輯
function onPullRefresh() {
  let path = this.$route.path
  // console.log('onPullRefresh ===> path =>' + path)
  if (path == '/') {
    store.dispatch('fetchAdvertise', true)
  } else if (/login|register/.test(path)) {
    store.dispatch('fetchIndexSubBannerWuhu')
    store.commit('setSubBannerUpdate', true) // 即時更新副橫幅
  } else if (path == '/setting') {
    store.dispatch('fetchVipAndCardInfoWuhu')
  }
  return new Promise(resolve => setTimeout(() => resolve(), 1000) )
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup() {
    return { touchScrolling, isLogin, openBarcodeScan, onPullRefresh, pullRefreshConfig }
  },
  methods: {
    // 註冊頁的回上一步
    registerBack() {
      let type = this.$route.query.type
      // 如果在[下一步驟]/register?type=fillout
      if (type == 'fillout') {
        // 就回到[第一步驟]/register
        this.$router.push({path: '/register'})
      // 如果已經在[第一步驟]/register
      } else {
        // 就回到登入頁
        this.$router.push({path: '/login'})
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .is-login-top-nav {
    padding-top: env(safe-area-inset-top);
    background: rgba(255,255,255,0);
  }
</style>
