<template>
  <div class="h-100 overflow-auto has-background-black-ter"
    v-if="hasAD">
    <div class="opening" @click="toNext()">
      <a class="d-inline-block delete is-large"></a>
    </div>
    <!-- 未登入全版Banner -->
    <Swiper class="h-100" ref="awesomeSwiperA" :options="swiperOptionA">
      <swiper-slide
        @click.native="doRedirectToLink(banner)">
        <img class="swiper-lazy object-fit-contain h-100 w-100" :src="showImageWuhu(banner.PicURL+'?v='+(new Date().getTime()))">
        <div class="swiper-lazy-preloader"></div>
      </swiper-slide>
    </Swiper>

		<!-- original -->
<!-- 
    <div class="modal is-active" v-if="hasAD">
      <div class="modal-background has-background-black"></div>
      <div class="modal-content m-0 mh-100 overflow-hidden" @click="doRedirectToLink(banner)">
        <p class="image is-fullwidth">
          <img v-lazy="showImageWuhu(banner.PicURL)" alt="">
        </p>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="toNext()"></button>
    </div>
 -->
  </div>
</template>

<script>
import store from 'src/store'
import { showImageWuhu,setLoading,jParse, b64_to_utf8, getParameterByName } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'
// import { isLogin } from 'src/libs/appHelper.js'
// import { computed, reactive, watch } from '@vue/composition-api'

export default {
  name: 'index',
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data() {
    return {
      state: this.$store.state,
      isLogin: this.$store.getters.isLogin,
      hasAD: false,
      banner: {},
      swiperOptionA: {
        // Enable lazy loading
        observer:true,
        lazy: true,
      },
    }
  },
  async beforeRouteEnter(to, from, next) {
    setLoading(true,2)

    if (store.getters.isNotLinePara) await store.dispatch('fetchAdvertise')	// 彈跳廣告
    // 彈跳廣告，如果當下日期沒有設定任何彈跳廣告，
    // 就不要出現無圖片黑畫面，直接進入APP即可

		// next()
		next(vm => {
      setLoading(false)

			let adData 	= store.state.baseInfo.publicData.advertise.adData
				,ADBanner = adData.ADBanner
				,hasTrue = ADBanner && ADBanner.length
			// console.log('彈跳廣告-adData: ', adData);	// @@

			let hasBanner = false;
			if (hasTrue) {
				let adBanner = ADBanner.filter((o1)=>{return o1.BannerType == "AD"});
				// console.log('彈跳廣告banner-adBanner: ', adBanner);	// @@
				if (adBanner.length) {
					vm.banner = adBanner[0];
					hasBanner = true;
				}
			}
			vm.hasAD = hasBanner;
			if (!hasBanner) {
				vm.toNext();
			}
		})
  },

  computed: {
    isNotLinePara(){
      return store.getters.isNotLinePara;  
    },
    brands() {
      let companyData = this.state.baseInfo.publicData.companyData
      let brandList = []

      if (companyData) {
        // 品牌
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      return brandList
    },
  },
  methods: {
    showImageWuhu,
    redirectToLink(banner) {
      if (banner.LinkType == 'InnerURL') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.$router.push({path: '/' + banner.LinkPostion})
        }
      }else if (banner.LinkType == 'OuterURL') {
        let url = banner.OuterURL
        // 在殼裡面 => 開啟瀏覽器
        if (typeof(JSInterface) !== 'undefined') {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }else if (banner.LinkType == 'MessageDetail') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.loadMsg(banner.LinkPostion);
        }
      }else if (banner.LinkType == 'MessageKind') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.loadMsgKind(banner.LinkPostion);

        }
      }else if (banner.LinkType == 'FoodKind') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.loadFoodKind(banner.LinkPostion);
        }

      }else if (banner.LinkType == 'FoodDetail') {
        if (banner.LinkPostion && banner.LinkPostion.trim()!='') {
          this.loadFood(banner.LinkPostion);

        }
      }


    },
    async loadMsg(p_value) {
      //訊息
      await store.dispatch('fetchBrandNews')
      const path = `/cardNewspage/${p_value}`
      this.$router.push({ path: path });
    },
    async loadMsgKind(p_value) {
      //訊息類別
      await store.dispatch('fetchAppBrandData')
      this.$router.push({ path: '/cardBrand', query: { msgKindID:p_value} });
    },
    async loadFoodKind(p_value) {
      //商品類別
      await store.dispatch('fetchAppBrandData')
      await store.dispatch('fetchBrandDataKind', {KindID: p_value})
      this.$router.push({ path: '/cardBrand', query: { foodKindID:p_value} });
    },
    async loadFood(p_value) {
      //商品
      if (this.brands && this.brands.length == 0) await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandDataFood', {DetailID: p_value})
      let brandArr=[];
      if (Array.isArray(store.state.baseInfo.publicData.brandListDetail) && store.state.baseInfo.publicData.brandListDetail.length > 0){
        const foodObj = store.state.baseInfo.publicData.brandListDetail[0];
        brandArr = this.brands.filter((item) => {
          return item.ID == foodObj.BrandID
        })

        if (Array.isArray(brandArr) && brandArr.length > 0){
          await store.dispatch('fetchBrandData', {GID: brandArr[0]["GID"]})
          const path = `/cardProducts/${foodObj.DetailID}?mainName=${foodObj.KindName}&subCode=${foodObj.KindID}&gid=${brandArr[0]["GID"]}`;
          this.$router.push({ path: path });
        }
      }
    },
    doRedirectToLink(banner) {
			/** @Important: 20210524 加菲說不要卡登入,人人都可以看~ */
       this.redirectToLink(banner)
      // if (this.isLogin) {
        // console.log('[廣告] doRedirectToLink ===> 已登入 => 可以連')
        // this.redirectToLink(banner)
      // } else {
        // // 未登入就不能連
        // console.log('[廣告] doRedirectToLink ===> 未登入直接導到登入頁')
        // this.$router.push({path: '/login'})
      // }
    },
    toNext() {
			let thePage = '/card'
			/** @Important: 20210524 加菲說不要卡登入,人人都可以看~ */
      // if (this.isLogin) {
        // console.log('[廣告] toNext ===> 已登入 => 到首頁')
      // } else {
        // // 未登入
        // console.log('[廣告] toNext ===> 未登入 => 到登入頁')
				// // thePage = '/login'	//因為apple要求不用登入也能看某些東西
      // }
      if (this.isNotLinePara) this.$router.push({path: thePage})
      if (!this.isNotLinePara) this.chkLineLogin();
    },
    async chkLineLogin(){
      const p_linePara = store.state.searchURL.linePara || ""; 
      if (p_linePara != ""){
        await store.dispatch('goSurl',{sUrl:p_linePara,fn:(p_body)=>{          
          const p_Para = jParse(b64_to_utf8(p_body))
         
          if (!this.isLogin && p_Para.path == 'cardShop' && p_Para.isGuest) this.$store.getters.router.push('/cardShop');//商城訪客
          else if (!this.isLogin) store.dispatch('memberLineLogin_v2',p_Para);          
          else if (this.isLogin){            
            store.dispatch('thirdLineKey',p_Para);
            store.dispatch('thirdToPath');
          } 
            
        }})
      }else if (!this.isLogin){
        this.$store.commit('setSearchUrl', {key:"code",value:(getParameterByName("code") || "")});
        this.$store.commit('setSearchUrl', {key:"state",value:(getParameterByName("state") || "")});   
        const p_code = store.state.searchURL.code || "";
        const p_state = store.state.searchURL.state || ""; 
        const ent = store.state.lineLogin.EnterpriseID || "";
        const p_path = store.state.lineLogin.path || "";
        
        if (p_code != "" && p_state != "" && !ent && !p_path) await store.dispatch('memberThirdCheck',{code:p_code,state:p_state})
       
      }
      
    },
  }
}
</script>
<style lang="scss" scoped>
  .background-size-cover {
    background-size: cover;
  }
  .opening {
    width: 100%;
    position: absolute;
    text-align: right;
    height: 56px;
    z-index: 9999;
    .delete {
      transform: scale(1.25);
      right: 16px;
      top: calc(16px + env(safe-area-inset-top));
    }
  }
</style>
