<template>
  <div class="vh-100 overflow-auto" :style="{'transform':(pwModal)?'':'translateZ(0)'}">
    <!-- 輪播 Banner -->
    <Swiper ref="awesomeSwiperA" :options="swiperOptionA" v-if="hasSubBanner">
      <!-- slides -->
      <swiper-slide  v-for="banner in pageData.subBanner" :key="banner.GID">
        <div class="image is-square is-fullwidth" @click="redirectToLink(banner)">
          <img class="swiper-lazy" :data-src="showImageWuhu(banner.PicURL+'?v='+(new Date().getTime()))">
          <div class="swiper-lazy-preloader"></div>
        </div>
      </swiper-slide>
      <!-- <swiper-slide  v-for="banner in 2" :key="banner">
        <div class="image is-square is-fullwidth">
          <img class="swiper-lazy" data-src="https://rimage.gnst.jp/rest/img/ndy3y03j0000/s_0o7j.jpg">
          <div class="swiper-lazy-preloader"></div>
        </div>
      </swiper-slide> -->
      <!-- Optional controls -->
      <div class="swiper-pagination"  slot="pagination"></div>
    </Swiper>
    <!-- 沒有設定任何資料跑這裡 -->
    <div class="no-data text-center" v-if="!hasSubBanner">
      <img src="../../assets/images/temp-img.png">
    </div>
    <!-- 登入表單 -->
    <article class="shadow message is-danger m-3 rounded-8px">
      <div class="message-header justify-content-center rounded-8px-t">
        <p class="text-wide"><i class="fas fa-user fa-fw"></i> 會員登入</p>
      </div>
      <div class="message-body p-3 pb-4 bg-white rounded-8px-b">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input rounded-0 border-0 border-bottom shadow-none" type="number" pattern="[0-9]*" placeholder="手機號碼" @blur.prevent="fixScroll" v-model="loginForm.account">
            <span class="icon is-left">
              <i class="fas fa-mobile-alt"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped">
          <p class="control has-icons-left is-expanded">
            <input class="input rounded-0 border-0 border-bottom shadow-none" type="password" placeholder="密碼" @blur.prevent="fixScroll" v-model="loginForm.password">
            <span class="icon is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
          <p class="control" style="width:33.33%">
            <button class="w-100 button is-danger" :class="{'is-loading':(loginForm.submited)}" :disabled="loginForm.submited" @click="login">
              <b>送出</b>
            </button>
          </p>
        </div>
      </div>
    </article>
    <p class="mx-3 mt-n1 text-dark">
      <!-- <span class="bg-dark text-white rounded-pill d-inline-block" style="padding: 2px 8px">&middot; 原享聚卡會員需重新註冊</span> -->
      <u class="float-right" @click="pwModal = true">忘記密碼</u>
      <button class="shadow w-100 button is-warning text-wide my-2" @click="$router.push('/register')">
        <b>會員註冊</b>
      </button>
    </p>

    <!-- 忘記密碼 Modal -->
    <div class="modal is-active" v-if="pwModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <!-- 表單 -->
        <article class="shadow message is-danger m-3">
          <div class="message-header justify-content-center">
            <p class="text-wide"><i class="fas fa-unlock fa-fw"></i> 忘記密碼</p>
          </div>
          <div class="message-body p-3 pb-3 bg-white">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input rounded-0 border-0 border-bottom shadow-none" type="number" pattern="[0-9]*" placeholder="請輸入手機號碼" @blur.prevent="fixScroll" v-model="forgotPWForm.memberCode" name="usrname" requiredd>
                <span class="icon is-left">
                  <i class="fas fa-mobile-alt"></i>
                </span>
              </div>
            </div>
            <div class="field is-grouped">
              <p class="control has-icons-left is-expanded">
                <input class="input rounded-0 border-0 border-bottom shadow-none" type="text" placeholder="驗證碼" @blur.prevent="fixScroll" v-model="forgotPWForm.SMSValidateCode" name="pscode" required>
                <span class="icon is-left">
                  <i class="fas fa-key"></i>
                </span>
              </p>
              <p class="control">
                <button class="w-100 button is-info" :disabled="forgotPWForm.countNum > 0" @click="getSMSValidateCode">
                  <b>{{ (forgotPWForm.countNum > 0) ? `${forgotPWForm.countNum} 秒後可重發驗證碼` : '取得驗證碼' }}</b>
                </button>
              </p>
            </div>
            <div class="columns is-mobile is-variable is-1 mt-n1">
              <div class="column">
                <button class="button is-fullwidth text-wide is-light border" @click="pwModal = false">
                  <b>取消</b>
                </button>
              </div>
              <div class="column">
                <button class="button is-fullwidth is-danger" @click="snedAppSMSForgetPW" :disabled="forgotPWForm.memberCode=='' || (inDeviseApp&&forgotPWForm.SMSreCode=='') || forgotPWForm.SMSValidateCode==''">
                  <b>取得新密碼</b>
                </button>
              </div>
            </div>
          </div>
        </article>
        <!-- <input class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" type="number" pattern="[0-9]*" placeholder="請輸入手機號碼" v-model="forgotPWForm.memberCode" name="usrname" required>
        <div class="w3-section w3-display-container">
          <input class="w3-input w3-block w3-border-bottom w3-border-gray w3-large" type="text" placeholder="驗證碼" v-model="forgotPWForm.SMSValidateCode" name="pscode" required>
          <button class="w3-button w3-round w3-display-topright" style="margin:2px; background-color: yellow;" :disabled="forgotPWForm.countNum > 0" @click="getSMSValidateCode">{{ (forgotPWForm.countNum > 0) ? `${forgotPWForm.countNum} 秒後可重發驗證碼` : '取得驗證碼' }}</button>
        </div>
        <div class="w3-section w3-center">
          <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray" style="width:49%" @click="pwModal = false">取消</button>
          <button class="w3-button w3-round w3-large primary-color" style="width:49%" @click="snedAppSMSForgetPW" :disabled="forgotPWForm.memberCode=='' || forgotPWForm.SMSreCode=='' || forgotPWForm.SMSValidateCode==''">取得新密碼</button>
        </div> -->
        <button class="modal-close is-large" aria-label="close" @click="pwModal = false"></button>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { isLogin, showAlert, fixScroll, showImageWuhu } from 'src/libs/appHelper.js'
import { reactive, ref, computed } from '@vue/composition-api'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'
// import { L_Obj, IsMobile } from 'src/fun1.js'	// 共用fun在此!

const pwModal = ref(false)
// 取今天日期 (格式： yyyymmdd => e.g. 20190514)
const currentDay = computed(() => new Date().toISOString().slice(0,10).replace(/-/g,"") )
// 簡訊發送間隔的最低時間 (預設： 50 秒)
const AppSMSIntervalMin = computed(() => parseInt(store.state.SMS_Config.AppSMSIntervalMin) )
// 簡訊每日發送上限 (預設： 5 封)
const APPSMSDayTimes = computed(() => parseInt(store.state.SMS_Config.APPSMSDayTimes) )
// 取簡訊的發送扣打紀錄
const SMSSendQuota = computed(() => store.state.SMS_Config.SMSSendQuota )
// 取簡訊驗證碼
const SMSreCode = computed(() => store.state.SMS_Config.reCode )

const inDeviseApp = computed(() => (typeof(JSInterface) == 'object') )

const forgotPWForm = reactive({
  countNum: 0,
  counter: '',
  memberCode: null,
  SMSValidateCode: '',
  SMSCurrentQuota: 0
})

// 驗證是否還有扣打能發送簡訊
function validateSMSSendQuota() {
  // 扣打紀錄是空的 => true
  if (SMSSendQuota.value === '') return true
  // 扣打紀錄跟今日日期不同 => true
  if (SMSSendQuota.value.substring(0, 8) !== currentDay.value) return true
  // 更新今日扣打數量
  const currentQouta = parseInt(SMSSendQuota.value.substring(9))
  forgotPWForm.SMSCurrentQuota = currentQouta
  // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
  if (currentQouta >= APPSMSDayTimes.value) return false
  if (currentQouta <  APPSMSDayTimes.value) return true
}

// 驗證手機號碼 => 發送驗證碼簡訊
async function getSMSValidateCode() {
  const {memberCode, SMSCurrentQuota} = forgotPWForm
  // console.log('memberCode', memberCode)
  // 跟殼取簡訊已發送扣打資料
  deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
  // 手機號碼格式驗證
  if (memberCode == '') return showAlert('請輸入手機號碼')
  const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
  const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
  // 依據手機格式加入國碼
  let countyNum = ''
  if ( twMobilePhoneRegxp.test(memberCode) ) countyNum = '886'
  if ( cnMobilePhoneRegxp.test(memberCode) ) countyNum = '86'
  if ( twMobilePhoneRegxp.test(memberCode) === false && cnMobilePhoneRegxp.test(memberCode) === false ) return showAlert('手機號碼格式錯誤')

  // 檢測此手機號碼是否存在
  const res = await store.dispatch('ensureMemberCodeNotRegistered', memberCode)
  if (res.ErrorCode !== '0') return showAlert('查無此會員，請重新輸入')
  if (validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${APPSMSDayTimes.value} 封簡訊)`)

  // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
  forgotPWForm.countNum = AppSMSIntervalMin.value
  // 啟動倒數計時
  forgotPWForm.counter = setInterval(() => {
    // 到 0 時清除倒數計時
    if (forgotPWForm.countNum <= 0) { clearInterval(forgotPWForm.counter) }
    // 每一秒 - 1
    forgotPWForm.countNum = forgotPWForm.countNum - 1;
  }, 1000);

  // sample: '20190514-3'
  const SMSSendQuota = `${currentDay.value}-${SMSCurrentQuota + 1}`

  // 發送簡訊認證碼
  sendDeviseSMSreCode({ phone: `${memberCode};;${countyNum}`, SMSSendQuota: SMSSendQuota })
}

// 確認簡訊驗證碼 -> 發送忘記密碼的簡訊
function snedAppSMSForgetPW(){
  const {memberCode, SMSValidateCode} = forgotPWForm
  if (SMSreCode.value == '') return showAlert('請先取得簡訊驗證碼')
  if (SMSreCode.value != SMSValidateCode) return showAlert('簡訊驗證碼錯誤，請重新輸入')
  // 驗證 ok -> 清除 SMSreCode
  store.commit('setSMSreCode', '')

  // 啟動殼的忘記密碼 functuin (會更改會員帳號的密碼，並簡訊通知該會員新密碼)
  deviseFunction('AppSMSForgetPW', memberCode, '')
  // 提示已寄送新密碼，關掉 modal
  pwModal.value = false
  showAlert('已將新密碼用簡訊傳送至您的手機，請用新密碼登入')
}

// const LS1 = IsMobile() ? (L_Obj.read('loginForm') || {}) : {};
	// IsMobile() && alert('login_account: ', LS1.account);

const loginForm = reactive({
  submited: false,
  account: '',
  password: '',
  // account: LS1.account,
  // password: LS1.password,
  rememberMe:  true
})

async function login() {
  if (!loginForm.account) return showAlert('請輸入帳號')
  if (!loginForm.password) return showAlert('請輸入密碼')
  loginForm.submited = true
  await store.dispatch('memberLogin', loginForm)

  loginForm.submited = false
  loginForm.account = ''
  loginForm.password = ''
}

export default {
  name: "kakarLogin",
  // BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data() {
    return {
      // BANNER輪播
      swiperOptionA: {
        // Enable lazy loading
        observer:true,
        lazy: true,
        pagination: {
          el: '.swiper-pagination'
        },
      },
      state: this.$store.state,
      pageData: this.$store.state.baseInfo.publicData.index,
    }
  },
  async beforeRouteEnter(to, from, next) {
    if (!store.state.member.mac) {
      // 未登入狀態先撈好mac
      await store.dispatch('getMacNoLogin')
    }
    store.dispatch('fetchIndexSubBannerWuhu')		// 次橫幅

    next()
    //next(vm=>{vm.chkLineLogin()})
  },
  beforeRouteLeave(to, from, next) {
    // 離開頁面時，清空表單設定
    pwModal.value = false
    forgotPWForm.memberCode = ''
    forgotPWForm.SMSValidateCode = ''

    loginForm.submited = false
		// AutoSetForm()
    next()
  },
  setup() {
    return { isLogin, loginForm, login, pwModal, forgotPWForm, getSMSValidateCode, snedAppSMSForgetPW, SMSreCode, inDeviseApp, fixScroll }
  },
  computed: {
    hasSubBanner() { return !!this.pageData.subBanner.length },
    // 即時更新橫幅的圖片
    subBannerUpdate() { return this.pageData.subBannersUpdate },
  },
  methods: {
    showImageWuhu,    
    redirectToLink(banner) {
      let url = banner.OuterURL
      if (url && (typeof url !== 'undefined')
        && (url.trim() != '')) {
        // 在殼裡面 => 開啟瀏覽器
        if (typeof(JSInterface) !== 'undefined') {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }
    },
    // 副橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-lazy')
      // console.log('===> imageObjs =>', imageObjs)
      imageObjs.forEach((item)=>{
        let imgUrl = item.currentSrc
        // console.log('===> imgUrl =>' + imgUrl)

        // 如果已經load好圖片
        if (imgUrl && imgUrl!='') {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.src = newImgUrl
          item.dataset.src = newImgUrl
          item.dataset.currentSrc = newImgUrl
        }
      })
    }
  },
  watch: {
    subBannerUpdate: function(val) {
      // 如果pull request副橫幅
      if (val) {
        this.refreshImage() // 即時更新副橫幅的圖片
        store.commit('setSubBannerUpdate', false) // 清空flag
      }
    }
  }
}

// function AutoSetForm() {
// 	if (!IsMobile()) { return; }
// 	loginForm.account = LS1.account||''
// 	loginForm.password = LS1.password||''
// }
</script>
