<template>
  <!--  :style="{'transform':(selectedContract)?'none':'translateZ(0)'}" ios gpu render issue -->
  <div class="vh-100 overflow-auto">
    <div v-if="$route.query.type == null">
      <!-- 輪播 Banner -->
      <Swiper ref="awesomeSwiperA" :options="swiperOptionA"
        v-if="hasSubBanner">
        <!-- slides -->
        <swiper-slide  v-for="banner in pageData.subBanner" :key="banner.GID">
          <div class="image is-square is-fullwidth" @click="redirectToLink(banner)">
            <img class="w3-image swiper-lazy" :data-src="showImageWuhu(banner.PicURL+'?v='+(new Date().getTime()))">
            <div class="swiper-lazy-preloader"></div>
          </div>
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-pagination"  slot="pagination"></div>
      </Swiper>
      <p class="m-3" v-if="!isLineLogin">
        <button class="shadow w-100 button is-danger text-wide" @click="$router.push('/login')">
          <b>會員登入</b>
        </button>
      </p>
      <!-- 驗證碼表單 -->
      <article class="shadow message is-warning m-3" v-if="isConfirmed == false">
        <div class="message-header justify-content-center">
          <p class="text-wide"><i class="fas fa-user-plus fa-fw"></i> 會員註冊</p>
        </div>
        <div class="message-body p-3 pb-3 bg-white">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input rounded-0 border-0 border-bottom shadow-none" @blur.prevent="fixScroll(),validAccount()" v-model="registerForm.memberphone" type="number" pattern="[0-9]*" placeholder="手機號碼(必填)" ref="inpAccount" name="usrname" required>
              <span class="icon is-left">
                <i class="fas fa-mobile-alt"></i>
              </span>
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control has-icons-left is-expanded">
              <input class="input rounded-0 border-0 border-bottom shadow-none" ref="smsCodeInput" @blur.prevent="fixScroll(),validSMS()" type="number" pattern="[0-9]*" v-model="SMSValidateCode" placeholder="驗證碼" name="pscode" maxlength="4" required>
              <span class="icon is-left">
                <i class="fas fa-key"></i>
              </span>
            </p>
            <p class="control">
              
              <!-- <button class="w-100 button is-info" :disabled="countNum > 0" @click="getSMSValidateCode"> -->
              <button class="w-100 button is-info" :disabled="countNum > 0" @click="chkSMSValidateCode">
                <b>{{ (countNum > 0) ? `${countNum} 秒後可重發驗證碼` : '取得驗證碼' }}</b>
              </button>
            </p>
          </div>
          <button class="button is-fullwidth text-wide is-warning mt-3" @click="confirmSmsCode(isLineLogin?'line':'generic')">
            <b>下一步</b>
          </button>
        </div>
      </article>
    </div>
      <!-- 資料填寫 -->
      <div v-if="$route.query.type == 'fillout'">
        <p class="text-center bg-white is-size-5 sticky-top reg-title">會員註冊</p>
        <!-- Steps -->
        <ul class="steps has-content-centered is-horizontal my-3">
          <li class="steps-segment is-active">
            <span class="steps-marker has-background-success">1</span>
            <div class="steps-content">
              <p class="is-size-5">填寫會員資訊</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker">
              <span class="icon has-text-success">
                <i class="fa fa-check"></i>
              </span>
            </span>
            <div class="steps-content">
              <p class="is-size-5">完成</p>
            </div>
          </li>
        </ul>
        <p class="has-text-grey mx-3 mb-n2">會員資訊</p>
        <!-- start 為了 skip chrome 的自動填入 -->
        <input type="text" name="prevent_autofill" id="prevent_autofill" value="" class="d-none" />
        <input type="password" name="password_fake" id="password_fake" value="" class="d-none" />
        <!-- end 為了 skip chrome 的自動填入 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal border-bottom is-flex">
            <div class="field-label is-medium">
              <label class="label">姓名</label>
            </div>
            <div class="field-body is-flex">
              <div class="field mb-1">
                <div class="control">
                  <input class="input rounded-0 border-0 shadow-none" type="text" @blur.prevent="fixScroll" v-model="registerForm.membername" placeholder="姓名" name="usrname" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label">性別</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control pl-2">
                  <label class="radio" for="male">
                    <input type="radio"  name="gender" id="male" v-model="registerForm.memberSex" value="男" class="input-radio">
                    先生
                  </label>
                  <label class="radio" for="female">
                    <input type="radio" name="gender" id="female" v-model="registerForm.memberSex" value="女" class="input-radio">
                    小姐
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- <input autocomplete="off" class="w3-input w3-border-bottom w3-border-gray w3-large w3-section" type="email" v-model="registerForm.memberEmail" placeholder="電子信箱" name="email"> -->
          <!-- <input id="dp" class="w3-input w3-w3-border-bottom w3-border-gray w3-large w3-round w3-section" type="text" v-model="registerForm.memberBirthday" placeholder="生日(必填)" name="birth" readonly required> -->
        </div>
        <!-- 生日 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">生日</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <datepicker
                    name="birth"
                    placeholder="請選擇日期 (必填)"
                    v-model="registerForm.memberBirthday"
                    :language="zh"
                    :clear-button="true"
                    :format="'yyyy-MM-dd'"
                    :initial-view="'year'"
                    :input-class="'input border-0 shadow-none'"
                    @blur.prevent="fixScroll"
                  />
                  <p class="help is-danger">* 填寫生日可獲得專屬優惠，送出即無法修改喔！</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 重要的日子 -->
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">重要的日子</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <template v-if="rememberKind">
                      <select class="border-0 is-shadowless" @blur.prevent="fixScroll"
                        v-model="registerForm.RD_DateTypeNo">
                        <option value="none" selected style="color:#363636">請選擇類別</option>
                        <!-- <option>紀念日</option>
                        <option>家人生日</option> -->
                        <option v-for="(item, index) in rememberKind" :key="'kind_'+index" :value="item.id">{{item.text}}</option>
                      </select>
                    </template>
                  </div>
                  <datepicker
                    class="border-top iDay-datepicker"
                    name="importantDay"
                    placeholder="請選擇日期"
                    v-model="registerForm.RemberDate"
                    :language="zh"
                    :clear-button="true"
                    :format="'MM-dd'"
                    :initial-view="'month'"
                    :input-class="'input border-0 shadow-none'"
                    @blur.prevent="fixScroll"
                  />
                  <p class="help has-text-grey-light">(非必填) 重要的日子與類別兩個欄位同時填寫，送出即無法修改喔！</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal border-bottom is-flex">
            <div class="field-label is-medium" style="margin-right: 2.75rem">
              <label class="label text-nowrap">密碼</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <input class="input border-0 shadow-none" type="password" @blur.prevent="fixScroll" v-model="registerForm.memberPwd" placeholder="請輸入 (必填)" name="pw" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">確認密碼</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <input class="input border-0 shadow-none" type="password" @blur.prevent="fixScroll" v-model="memberPwdConfirm" placeholder="請輸入 (必填)" name="pw2" required>
                  <p class="help is-danger">* 密碼為6-20字，並包含英文與數字</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box is-shadowless mx-2 my-3 py-2">
          <div class="field is-horizontal border-bottom pb-1 is-flex" @click="selectedContract='contract01'">
            <div class="field-label is-medium mt-2 w-100">
              <label class="label">
                <span :class="[formIsChecked01 ? 'has-text-success' : 'has-text-grey-lighter']"><!-- 同意後class變成has-text-success -->
                  <i class="fas fa-check-circle fa-fw"></i>
                </span>
                我同意隱私權保護條款
                <i class="is-pulled-right fas fa-angle-right fa-fw mr-n4"></i>
              </label>
            </div>
          </div>
          <div class="field is-horizontal is-flex" @click="selectedContract='contract02'">
            <div class="field-label is-medium mt-2 w-100">
              <label class="label">
                <span :class="[formIsChecked02 ? 'has-text-success' : 'has-text-grey-lighter']"><!-- 同意後class變成has-text-success -->
                  <i class="fas fa-check-circle fa-fw"></i>
                </span>
                我同意會員服務條款
                <i class="is-pulled-right fas fa-angle-right fa-fw mr-n4"></i>
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="w3-section">
          <div class="w3-row">
            <div class="w3-col s1"><input v-model="formIsChecked" class="w3-check" type="checkbox" style="top:0"></div>
            <div class="w3-col s11">
              我已同意並詳閱 卡+  <u class="primary-text-red" @click="isTerms='terms01';$store.commit('setCssTouch', false)">關於個人資料蒐集與使用之規定</u>，並成為 卡+ 會員，使用相關服務。
            </div>
          </div>
        </div> -->
        <p class="my-3 mx-2">
          <button class="button is-warning text-wide is-fullwidth" style="margin-bottom: env(safe-area-inset-bottom)" @click="submitForm()" :disabled="isDisabled">加入會員</button>
        </p>
      </div>

    <!-- 聲明條款滑出圖層 -->
    <transition name="slide-top">
      <div class="modal is-active bg-white slide-layer" v-if="selectedContract">
        <div class="modal-content">
          <h4 class="title is-4 p-4 mb-0 pb-0 text-center">
            {{currentContract.title}}
          </h4>
          <p class="white-space-wrap is-size-6 p-4 text-break" v-html="currentContract.content"></p>
          <!-- 我同意 -->
          <p class="bg-white w-100 p-2" style="margin-bottom: env(safe-area-inset-bottom)">
            <button class="button is-success is-fullwidth text-wide" @click="iagree()">我同意</button>
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="selectedContract=''"></button>
      </div>
    </transition>
  </div>
</template>

<script>

import moment from 'moment'
import store from 'src/store'
import { showAlert, fixScroll, showImageWuhu } from 'src/libs/appHelper.js'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
import fetchData from 'src/libs/fetchData.js'
import datepicker from 'vuejs-datepicker'
import { zh } from 'vuejs-datepicker/dist/locale'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
  components: {
    datepicker,
  // BANNER輪播
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data: function(){
    return {
      zh: zh,
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      pageData: this.$store.state.baseInfo.publicData.index,
      SMSValidateCode: '',
      SMSCurrentQuota: 0,
      countNum: 0,
      counter: '',
      isConfirmed: false,
      isDisabled: false,
      isRuned: false,						// 正在執行 會員註冊(防止連按

      // isTerms: '',
      selectedContract: '', // 正在看的合約內容, ex: contract01
      // termsData: termsData,
      formIsChecked01: false, // 隱私條款
      formIsChecked02: false, // 會員服務條款
      memberPwdConfirm: '',
      errMsg: '',
			isCheckOK: true,
			isSendSMS: false,
      registerForm: {
        member_country: '886',
        membername: '',
        memberphone: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        memberAddr: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
        RemberDate: '',
        RD_DateTypeNo: 'none',
        RD_DateTypeNanme: '',

      },
      selectedCounty: '選縣市',
      selectedArea: '選區域',
      addrStreet: '',
      // BANNER輪播
      swiperOptionA: {
        // Enable lazy loading
        observer:true,
        lazy: true,
        pagination: {
          el: '.swiper-pagination'
        },
      },
      rememberKind: [], // 重要日子類別
      rememberKindStr: '' // 重要日子類別字串
    };
  },
  computed: {
    byApp(){return this.$store.getters.isNotLinePara},
    isLineLogin()       {return this.$route.query.loginType == 'line' && !this.byApp},    
    enterpriseID()       {return this.state.baseInfo.EnterpriseID},
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
    // 簡訊發送間隔的最低時間 (預設： 50 秒)
    AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
    // 簡訊每日發送上限 (預設： 5 封)
    APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
    // 取簡訊的發送扣打紀錄
    SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
    // 取簡訊驗證碼
    SMSreCode()         { return this.state.SMS_Config.reCode },
    // 取今天日期 (格式： yyyymmdd => e.g. 20190514)
    currentDay()        { return new Date().toISOString().slice(0,10).replace(/-/g,"") },
    contractData() {
      let companyData = store.state.baseInfo.publicData.companyData.filter((item) => {return !item.isBrand})
      let arrRes1 = [];
      if (companyData.length) {
        // 隱私權
        let one = companyData.find((item) => {
          return /隱私權/.test(item.Text)
        })

        // 會員服務條款
        let two = companyData.find((item) => {
          return /條款/.test(item.Text)
        })
				arrRes1 = [{
					id: 'contract01',
					title: one.DetailName,//'隱私權政策',
					content: one.SubText1, // 內容
				}, {
					id: 'contract02',
					title: two.DetailName, // 會員服務條款
					content: two.SubText1 // 內容
				}]
				// console.log('contractData-arrRes1: ', arrRes1);	// @@
      }
      return arrRes1
    },
    currentContract() {
      let find1 = {}
      if (this.selectedContract) {
        find1 = this.contractData.find((item)=>{
          return item.id == this.selectedContract
        })
      }
      return find1
    },
    hasSubBanner() { return !!this.pageData.subBanner.length },
    // 即時更新橫幅的圖片
    subBannerUpdate() { return this.pageData.subBannersUpdate },
  },
  // 在路由-第1次進入
  beforeRouteEnter: async function(to, from, next){
    if (!store.state.member.mac) {
      // 未登入狀態先撈好mac
      await store.dispatch('getMacNoLogin')
    }
    store.dispatch('fetchCompanyData')
		store.dispatch('fetchIndexSubBannerWuhu')		// 次橫幅

    next((vm) => {
      vm.setRememberKind() // 取得重要日子類別
    });
  },
  // 在 router 離開此 component 時觸發 (可以用 this )
  beforeRouteLeave: function(to, from, next) {
    // 回到手機號碼表單畫面
    this.isConfirmed = false
    // 清空簡訊驗證碼 & 清空所有表單內容
    this.SMSValidateCode = ''
    this.countNum =  0
    this.counter =  ''
    this.isConfirmed =  false
    this.isDisabled =  false
    this.formIsChecked01 =  false // 隱私條款
    this.formIsChecked02 =  false // 會員條款
    this.memberPwdConfirm =  ''
    this.registerForm = {
      member_country: '886',
      membername: '',
      memberphone: '',
      memberPwd: '',
      memberEmail: '',
      memberBirthday: '',
      memberSex: '',
      memberAddr: '',
      isFromTD: '',
      MT_NickName: '',
      FromTDEmail: '',
      RemberDate: '',
      RD_DateTypeNo: 'none',
      RD_DateTypeNanme: '',
    },

    next()
  },
  beforeRouteUpdate: function(to, from, next){
    document.querySelector(".overflow-auto").scrollTop = 0 // 置頂
    next();
  },
  watch: {
    // 如果 data 有變化，會觸發指定的 function
    'registerForm.memberphone': 'setCounty',
    subBannerUpdate: function(val) {
      // 如果pull request副橫幅
      if (val) {
        this.refreshImage() // 即時更新副橫幅的圖片
        store.commit('setSubBannerUpdate', false) // 清空flag
      }
    },
		/* 監控錯誤訊息,有變動就showAlert */
		errMsg: function (v1) {
			this.isCheckOK = !(v1.length);	// falg-on/off by err有無值
			v1 && showAlert(v1);
		}
  },
  setup() {
    return { fixScroll }
  },
  // 頁面模組
  methods: {
    showImageWuhu,
    // 設定帳號所在的地區
    setCounty() {
      // 預設： 設為 886 (台灣)
      this.registerForm.member_country = '886'
      // 如果是中國的手機號碼格式, member_country 設定為 86
      if ( /^(1)\d*/.test(this.registerForm.memberphone) ) this.registerForm.member_country = '86'
    },
    // 選日期元件
    datePicker: function() {
      // var self = this;
      // this.$nextTick(function () {
      //   var options = {
      //     language: 'zh',
      //     autoClose: true,
      //     clearButton: true,
      //     view: 'years',
      //     position: 'bottom left',
      //     onSelect: function () {
      //       self.registerForm.memberBirthday = $("#dp").datepicker('getDate')[0].value;
      //     }
      //   };
      //   $("#dp").datepicker(options);
      // })
    },
    // 取得重要日子類別
    async setRememberKind() {
      const url = this.$store.state.api.memberUrl
      const body = {
        EnterpriseID: this.$store.state.baseInfo.EnterpriseID,
        act: 'GetData',
        DataName: 'RememberKind'
      }
      const data = await fetchData({url, body})
      // console.log('===> data =>', data)
      this.rememberKind = data
      this.rememberKindStr = JSON.stringify(data)
    },
		/* 驗證-手機號碼 */
    validAccount() {
			const v_inp1						= this.registerForm.memberphone
				,twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/ // 台灣手機號碼格式需為09XXXXXXXX
				,cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/  // 中國手機號碼格式需為1XXXXXXXXXX

			var _err = v_inp1.length ? '' : '請輸入手機號碼';
			if (!twMobilePhoneRegxp.test(v_inp1) && !cnMobilePhoneRegxp.test(v_inp1)) {
				_err = '手機號碼格式錯誤';
			}
			// console.error('驗證表單_err: ', _err);	// @@

			this.errMsg = _err;
			_err && event.target.focus();
    },
		/* 驗證簡訊 */
    validSMS() {
			if (!this.registerForm.memberphone.length) {
				this.$refs.inpAccount.focus();
				return;
			}

			// 有取得驗證碼,驗證
			if (this.isSendSMS) {
				var _err = this.SMSValidateCode.length > 0 ? '' : '請輸入簡訊驗證碼';
				this.errMsg = _err;
				_err && event.target.focus();
			}
    },chkSMSValidateCode(){
      if (!this.byApp)
        this.getSMSValidateCodeNotCheck();
      else
        this.getSMSValidateCode();
    },
    // 驗證手機號碼 => 發送驗證碼簡訊
    getSMSValidateCode(){
			if (!this.isCheckOK) { return; }

			// 跟殼取簡訊已發送扣打資料
			deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"');
			// 檢測此手機號碼是否已註冊
			this.$store
				.dispatch('ensureMemberCodeNotRegistered', this.registerForm.memberphone)
				.then(res => {
					if (res.ErrorCode == '0') return showAlert('此手機號碼已註冊')
					if (this.validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`)

					// 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
					this.countNum = this.AppSMSIntervalMin
					// 啟動倒數計時
					this.counter = setInterval(() => {
						// 到 0 時清除倒數計時
						if (this.countNum <= 0) { clearInterval(this.counter) }
						// 每一秒 - 1
						this.countNum = this.countNum - 1;
					}, 1000);

					// 聚焦輸入框
					this.$refs.smsCodeInput.focus()

					// sample: '20190514-3'
					const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`

					// 發送簡訊認證碼
					sendDeviseSMSreCode({ phone: `${this.registerForm.memberphone};;${this.registerForm.member_country}`, SMSSendQuota: SMSSendQuota } )
				})
				this.isSendSMS = true;
    },getSMSValidateCodeNotCheck(){
      // 這裡是由memberThirdLogin檢查過了,不用做ensureMemberCodeNotRegistered
      // 跟殼取簡訊已發送扣打資料
      deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
      // 手機號碼格式驗證,validAccount已檢查
      // const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
      // const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
      // if (this.registerForm.memberphone == '') return showAlert('請輸入手機號碼')
      // if (twMobilePhoneRegxp.test(this.registerForm.memberphone) === false && cnMobilePhoneRegxp.test(this.registerForm.memberphone) === false) return showAlert('手機號碼格式錯誤')

      if (this.validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`)

      // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
      this.countNum = this.AppSMSIntervalMin
      // 啟動倒數計時
      this.counter = setInterval(() => {
        // 到 0 時清除倒數計時
        if (this.countNum <= 0) { clearInterval(this.counter) }
        // 每一秒 - 1
        this.countNum = this.countNum - 1;
      }, 1000);

      // sample: '20190514-3'
      const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`

      // 發送簡訊認證碼
      if (typeof(JSInterface) !== 'undefined'){
        sendDeviseSMSreCode({ phone: `${this.registerForm.memberphone};;${this.registerForm.member_country}`, SMSSendQuota: SMSSendQuota } )
      }else{
        this.sendWebSMSreCode(this.registerForm.memberphone)

      }
      this.isSendSMS = true;
    },
    sendWebSMSreCode(p_mobile){
      const initCode = this.makeid_int(4);     
      const p_content = `EnterpriseID=${this.enterpriseID}&Mobile=${p_mobile}&SMSfun=RegCode&SMSMsg=${initCode}`;
      const p_url = `https://8012.jh8.tw/public/AppSMSsendOneEntry.ashx?code=${window.btoa(p_content)}`;
      store.commit('setSMSreCode', initCode)
      store.dispatch('calcuSurl',{data:"{}",qrType:"0",exType:"1",url:p_url ,fn:(p_code)=>{
        store.dispatch('goSurl',{sUrl:p_code});
      }});
    },
    makeid_int(num){
      num = num || 1;
      var text = "";
      var possible = "0123456789";

      for (var i = 0; i < num; i++) {
        text += possible.charAt(Math.floor(Math.random() * possible.length));
      }return text;
    },
    // 驗證是否還有扣打能發送簡訊
    validateSMSSendQuota() {
      // console.warn('驗證扣打是否用完: '+this.APPSMSDayTimes, this.SMSSendQuota);	// @@

      // 扣打紀錄是空的 => true
      if (this.SMSSendQuota === '') return true
      // 扣打紀錄跟今日日期不同 => true
      if (this.SMSSendQuota.substring(0, 8) !== this.currentDay) return true
      // 更新今日扣打數量
      const currentQouta = parseInt(this.SMSSendQuota.substring(9));
      this.SMSCurrentQuota = currentQouta;

      // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
			return currentQouta <  this.APPSMSDayTimes;
    },
    // 確認驗證碼(下一步
    confirmSmsCode(fromCode) {
      
			if (!this.isCheckOK || !this.isSendSMS) { return; }

      // 判斷是否在殼裡面
      const inDeviseApp = typeof(JSInterface) == 'object'
			if ((!inDeviseApp && !this.isLineLogin) || !this.isCheckOK || !this.isSendSMS) { return; }

      if ((this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')

			// 清除 SMSreCode
			this.$store.commit('setSMSreCode', '')
			// 進入註冊表單頁面
			// if (fromCode == 'generic') { this.isConfirmed = true; this.datePicker() }
			if (fromCode == 'generic') { this.$router.push('/register?type=fillout'); this.datePicker() }
			// 如果是點選 Facebook 註冊 -> 觸發 Facebook SDK login -> 回傳沒問題再進入註冊表單
			if (fromCode == 'fb') this.$store.dispatch('deviseFacebookSignup').then(() => {
				// 二秒後再開啟註冊表單頁面
				setTimeout(()=>{ this.isConfirmed = true; this.datePicker() }, 2000)
			});
      if (fromCode == 'line') this.$store.dispatch('memberThirdRegister',this.registerForm.memberphone).then(async (res) => {
        if (!res.error && res.ErrorCode == '0'){          
          this.resetForm()           
          await store.dispatch('memberThirdLogin', { sub: this.state.member.FromTDID ,isFromTD: "LINElogin"})
          store.dispatch('thirdToPath');
        }else if(res.error && res.detail && res.detail.ErrorCode === "6"){
          this.$router.push('/register?type=fillout'); this.datePicker() //原先做法,有填姓名,生日,性別等.
          //LINE未註冊卡+
          //  this.isConfirmed = true; this.datePicker() //原先做法,有填姓名,生日,性別等.
          // 改為生日1900-01-01,密碼預設亂數
          //if (this.byApp) this.isConfirmed = true; this.datePicker() //原先做法,有填姓名,生日,性別等.
          //if (!this.byApp) this.submitForm() //短網址來的,跳過基本資料填寫.
        }
      })
			this.isSendSMS = false;
    },
    checkNull(str) {
			return str && str.trim();
    },
    checkDate(str) {
			const date1	= moment(str).format('YYYY-MM-DD')
				,today 		= moment(new Date()).format('YYYY-MM-DD')
			return date1 > '1900-01-01' && date1 < today;
    },
    // 送出註冊表單
    submitForm() {
      if (this.isRuned)		return	// 防止連按

      this.isDisabled = true
      const formData 	= this.registerForm
				,memberPwd 		= formData.memberPwd
				,birthday 		= formData.memberBirthday
				,remberDate 	= formData.RemberDate
				,rdDateTypeNo	= formData.RD_DateTypeNo
				,hasRemType		= rdDateTypeNo && rdDateTypeNo != 'none'

      // email 驗證
      // eslint-disable-next-line
      // const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      // if (formData.memberEmail != '' && emailRegex.test(formData.memberEmail) != true) { this.isDisabled = false ; return showAlert('email 格式錯誤') }

      // 密碼 驗證
      const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/
      if (this.checkNull(memberPwd) && pwdRegex.test(memberPwd) != true) { this.isDisabled = false ; return showAlert('密碼為6-20字，並包含英文與數字') }

      // 條款確認
      if (this.formIsChecked01 == false) { this.isDisabled = false ; return showAlert('隱私權政策未確認') }
      if (this.formIsChecked02 == false) { this.isDisabled = false ; return showAlert('會員服務條款未確認') }
      // 密碼確認
      if (this.memberPwdConfirm != memberPwd) { this.isDisabled = false ; return showAlert('密碼與確認密碼不一致') }
      if (!this.checkNull(memberPwd)) { this.isDisabled = false ; return showAlert('密碼未填') }
      // 姓名確認
      if (!this.checkNull(formData.membername)) { this.isDisabled = false ; return showAlert('姓名未填') }
      // 生日確認
      if (!birthday) { this.isDisabled = false ; return showAlert('生日未填') }
      // 性別確認
      if (formData.memberSex == '')  { this.isDisabled = false ; return showAlert('請選擇性別') }
      // 重要日子類別確認
      if (remberDate && !hasRemType) { this.isDisabled = false ; return showAlert('請選擇重要的日子類別') }
      // 重要日子確認
      if (hasRemType && !remberDate) { this.isDisabled = false; return showAlert('請選擇重要的日子') }
      // 日期格式確認
      if (!this.checkDate(birthday)) { return showAlert('生日日期超過範圍!請重新輸入!') }
      // 地址確認
      if (this.addrStreet != '') formData.memberAddr = this.selectedCounty + this.selectedArea + this.addrStreet
      // 將第三方資訊塞入
      formData.isFromTD = this.state.member.isFromTD
      formData.FromTDID = this.state.member.FromTDID
      formData.MT_NickName = this.state.member.MT_NickName
      formData.FromTDEmail = this.state.member.FromTDEmail

      // 生日加上最後面的'T00:00:00.000Z'
      formData.memberBirthday = moment(birthday).format('YYYY-MM-DD') + 'T00:00:00.000Z'

			/* 重要的日子 */
      if (!this.checkNull(rdDateTypeNo) || rdDateTypeNo == 'none') {
        // console.log('===> rdDateTypeNo is null')
        // 若沒填就清空
        delete formData.RemberDate
        delete formData.RD_DateTypeNo
        delete formData.RD_DateTypeNanme
      } else {
        // console.log('===> rdDateTypeNo not null')
        // 若有填就處理
        // 重要的日子加上最後面的'T00:00:00.000Z'
        // 畫面沒有寫年,預設會是今年
        formData.RemberDate = moment(remberDate).format('YYYY-MM-DD') + 'T00:00:00.000Z'

        // 重要的日子類別找出label
        let originalRememberKind = JSON.parse(this.rememberKindStr)
        originalRememberKind.forEach((item) => {
          if(item.id == rdDateTypeNo) {
            formData.RD_DateTypeNanme=item.text
          }
        })
      }

			/* Run 註冊 */
      // console.log('submitForm ===> formData =>', formData)
			this.isRuned = true;
      this.$store.dispatch('ensureMemberRegister', formData).then(async res => {
				this.isRuned = false;

        // 顯示結果
        showAlert(res.ErrorMsg)
				if (res.ErrorCode == 0) {		// 註冊成功 => 導向登入頁
          // 表單資料初始化
          this.resetForm()          
          if (!this.byApp && this.state.member.FromTDID){
            await store.dispatch('memberThirdLogin', { sub: this.state.member.FromTDID ,isFromTD: "LINElogin"})
            store.dispatch('thirdToPath');
          }else{
            this.$router.push('/login')
          }
				} else {										// 註冊失敗 => 解除 disabled
					this.isDisabled = false
				}
      })

    },
    // 表單資料初始化
    resetForm() {
      this.isConfirmed = false
      this.isDisabled = false
      this.formIsChecked01 = false // 隱私條款
      this.formIsChecked02 = false // 會員條款
      this.registerForm = {
        member_country: '886',
        membername: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
      }
    },

    iagree() {
      let selectedContract = this.selectedContract
      if (selectedContract == 'contract01') {
        this.formIsChecked01 = true
      } else if (selectedContract == 'contract02') {
        this.formIsChecked02 = true
      }
      this.selectedContract = ''
    },

    redirectToLink(banner) {
      let url = banner.OuterURL
      if (url && (typeof url !== 'undefined')
        && (url.trim() != '')) {
        // 在殼裡面 => 開啟瀏覽器
        if (typeof(JSInterface) !== 'undefined') {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }
    },

    // 副橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-lazy')
      // console.log('===> imageObjs =>', imageObjs)
      imageObjs.forEach((item)=>{
        let imgUrl = item.currentSrc
        // console.log('===> imgUrl =>' + imgUrl)

        // 如果已經load好圖片
        if (imgUrl && imgUrl!='') {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.src = newImgUrl
          item.dataset.src = newImgUrl
          item.dataset.currentSrc = newImgUrl
        }
      })
    }
  },
}
</script>
<style lang="scss" scoped>
  .field:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .field-label {
    margin-right: .75rem;
    margin-top: .7rem;
  }
</style>
