<template>
  <div class="h-100 overflow-auto" style="transform:translateZ(0)">
    <!-- 設定頁 -->
    <div v-if="!type">
      <!-- <p class="text-center bg-white is-size-5 sticky-top reg-title">會員資訊</p> -->
      <!-- 基礎資訊 -->
      <section class="m-2 mb-0">
        <table class="table bg-transparent is-fullwidth">
          <tbody>
            <tr>
              <td class="align-middle py-3 has-text-grey">版本號</td>
              <td class="align-middle py-3 text-right">
                <span v-if="isStaging" class="is-size-6 has-text-grey">(測試站) </span>
                <b>20220113-1</b><b v-if="isTestAPI">*</b><!--20210916-1-->
              </td>
            </tr>
            <tr>
              <td class="align-middle py-3 has-text-grey">接收推播訊息</td>
              <td class="align-middle text-right">
                <div class="field">
                  <input id="switch" type="checkbox" name="switch" class="switch" v-model="pushNotify" @click="deviseSetPushNotify(!pushNotify)">
                  <label for="switch"></label>
                </div>
                <!-- <label class="switch">
                  <input type="checkbox" v-model="pushNotify" @click="deviseSetPushNotify(pushNotify)"> <span class="slider round"></span>
                </label> -->
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <!-- 基本資料 -->
      <section class="m-2 mt-0">
        <table class="table bg-transparent is-fullwidth">
          <tbody>
            <tr>
              <th colspan="2" class="py-3 text-center align-middle has-text-grey">基本資料</th>
            </tr>
            <tr>
              <td class="align-middle py-3 has-text-grey text-nowrap">手機</td>
              <td class="align-middle py-3 text-right"><b>{{userData.CardNO}}</b></td>
            </tr>
            <tr>
              <td class="align-middle py-3 has-text-grey text-nowrap">姓名</td>
              <td class="align-middle py-3 text-right"><b>{{userData.CnName}}</b></td>
            </tr>
            <tr v-if="userData.BirthDay && userData.BirthDay.trim()!=''">
              <td class="align-middle py-3 has-text-grey text-nowrap">生日</td>
              <td class="align-middle py-3 text-right"><b>{{formatBirthday(userData.BirthDay)}}<!-- {{displayBirthday(userData.Birthday)}} --></b></td>
            </tr>
            <tr v-if="rememberDate && rememberDate.trim()">
              <td class="align-middle py-3 has-text-grey text-nowrap">重要的日子</td>
              <td class="align-middle py-3 text-right"><b>{{rememberDate}}</b></td>
            </tr>
            <tr>
              <td class="align-middle py-3 has-text-grey text-nowrap">性別</td>
              <td class="align-middle py-3 text-right"><b>{{(typeof userData.Sex === "string"?(userData.Sex.toLowerCase() == 'true') ? "男" : "女":userData.Sex?"男" : "女")}}
                <!--{{userData.sex}}--><!-- {{(userData.Sex === 'True' || userData.Sex) ? "男" : "女"}} --></b></td>
            </tr>
            <tr v-if="userData.Email">
              <td class="align-middle py-3 has-text-grey text-nowrap">電子信箱</td>
              <td class="align-middle py-3 text-right"><b>{{userData.Email}}</b></td>
            </tr>
            <tr v-if="userData.Address">
              <td class="align-middle py-3 has-text-grey text-nowrap">地址</td>
              <td class="align-middle py-3 text-right"><b>{{userData.Address}}</b></td>
            </tr>
          </tbody>
        </table>
      </section>
      <!-- 按鈕 -->
      <section class="m-2 mt-0">
        <div class="buttons">
          <button class="button is-fullwidth is-success" @click="toChangePwd()">
            <span class="icon">
              <i class="fas fa-lock"></i>
            </span>
            <span>修改密碼</span>
          </button>
          <button class="button is-fullwidth" @click="logout">
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span class="text-wide">登出</span>
          </button>
          <!-- <button @click="$router.push('/setting?type=changeAddress')" class="button is-success" style="width: 47%; position: absolute; right: 10px;">
            <span class="icon">
              <i class="fas fa-building"></i>
            </span>
            <span>設定地址</span>
          </button> -->
        </div>
      </section>
    </div>
    <!-- 修改密碼 -->
    <div v-if="type === 'changePW'">
      <!-- <p class="text-center bg-white is-size-5 sticky-top reg-title">修改密碼</p> -->
      <section class='p-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input border-0 border-bottom shadow-none bg-transparent" type="password" placeholder="請輸入舊密碼" @blur.prevent="fixScroll" v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <i class="fas fa-user-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input border-0 border-bottom shadow-none bg-transparent" type="password" placeholder="請輸入新密碼" @blur.prevent="fixScroll" v-model="form.memberPwd">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input border-0 border-bottom shadow-none bg-transparent" type="password" placeholder="新密碼確認" @blur.prevent="fixScroll" v-model="form.memberPwdConfirm">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field mt-4">
          <button class="button text-wide is-success is-fullwidth" @click="submitChangePW" :disabled="formDisabled">送出</button>
        </div>
      </section>
    </div>
    <!-- 修改地址
    <div v-if="type === 'changeAddress'">
      <p class="text-center bg-white is-size-5 sticky-top reg-title">設定地址</p>
      <section class='px-2 mt-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="請輸入地址" v-model="form.memberAddr" >
            <span class="icon is-small is-left">
              <i class="fas fa-building"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <p class="help has-text-grey ml-5">為了確認個資的修改，請輸入您的會員密碼</p>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="請輸入密碼" v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>

        </div>
        <div class="field">
          <a class="button is-link is-fullwidth" @click="submitChangeAddr" :disabled="formDisabled">送出</a>
        </div>
      </section>
    </div> -->
  </div>
</template>

<script>
import md5 from 'md5'
import VueCookies from 'vue-cookies'
import store from 'src/store'
import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
import { router } from 'src/libs/systemEnv.js'
import { computed, ref, reactive } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { isLogin, fixScroll, showAlert, showConfirm } from 'src/libs/appHelper.js'

// 使用者基本資料
// const userData = computed(() => store.state.userData)
// const userData = computed(() => store.state.baseInfo.memberData.vip_info)

// const pushNotifySetting = computed(() => {
//   const value = store.state.baseInfo.pushNotify
//   return (value === '0' || value === undefined) ? true : false
// })

// // 設定是否啟用接收推播訊息
// const pushNotify = ref(pushNotifySetting)
// function deviseSetPushNotify(status) {
//   const pushNotify = (status ? '1' : '0')
//   store.commit('setBaseInfo', {pushNotify})
//   deviseFunction('SetSP', `{"spName":"pushNotify", "spValue":"${pushNotify}"}`, '')
// }

// 會員資料表單
const formDisabled = ref(false)
const form = reactive({
  memberPwd: '',
  memberPwdConfirm: '',
  memberPwdold: '',
  memberAddr: store.state.userData.Address,
})

// 表單資料初始化
function resetForm() {
  formDisabled.value = false
  form.memberPwd = ''
  form.memberPwdConfirm = ''
  form.memberPwdold = ''
}

// 修改密碼
async function submitChangePW() {
  const {memberPwdold, memberPwd, memberPwdConfirm} = form

  // 密碼 驗證
  const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/
  if (memberPwd != '' && pwdRegex.test(memberPwd) != true) { return showAlert('密碼為6-20字，並包含英文與數字') }

  if (memberPwd == '') { return showAlert('請輸入新密碼') }
  if (memberPwdold == '') { return showAlert('請輸入舊密碼') }
  if (memberPwd != memberPwdConfirm) { return showAlert('新密碼與新密碼確認不一致') }

  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', form)
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }

  // console.log('===> update =>', update)
  let newToken = ''
  if (update && update[0]) {
    newToken = update[0].Tokenkey
  }

  // 更新密碼和token
  const encryptedPwd = md5(memberPwd)

  // 1. 更新到store
  store.state.member.pwd = encryptedPwd
  store.state.member.Tokenkey = newToken

  // 2. 非殼才要存到cookie
  if (typeof(JSInterface) == 'undefined') {
    //VueCookies.set('kkUserPwd', encryptedPwd)
    VueCookies.set('kkTokenkey', newToken)
  }

  // 3. 更新到殼
  // 3.1 更新密碼到殼
  let setThing = `{"spName":"pwd", "spValue": "${encryptedPwd}"}`
  // console.log('submitChangePW ===> setThing-pwd =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  // 3.2 更新token到殼
  setThing = `{"spName":"Tokenkey", "spValue": "${newToken}"}`
  // console.log('submitChangePW ===> setThing-token =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  showAlert('修改密碼成功！')
  resetForm()
  router.push('/card')
}

// 修改地址
async function submitChangeAddr() {
  const {memberAddr, memberPwdold} = form

  if (memberAddr == '')   { return showAlert('請輸入地址') }
  if (memberPwdold == '') { return showAlert('請輸入會員密碼') }

  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', {memberPwdold, memberAddr})
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }
  const userData = update[0]
  store.commit('setUserData', userData)
  VueCookies.set('kkUserData', userData)
  deviseFunction('SetSP', `{"spName":"Address", "spValue":"${userData.Address}"}`, '')
  router.push('/')

}

// 生日顯示格式為 1/1/1983
// 原本為1/1/1983 hh:mm:ss
function displayBirthday(original) {
  let resultStr = ''
  if (original && typeof original !== 'undefined'
    && original.length>0) {
    // 取第一個空白位置,撈之前的字
    let firstBlankIndex = original.indexOf(' ')
    resultStr = original.substring(0, firstBlankIndex)
  }

  return resultStr
}

// 登出
const logout = () => store.dispatch('memberLogout')

export default {
  name: 'kakarSetting',
  // 頁面資料: 請使用function return
  data: function() {
    return {
      isStaging: S_Obj.isStaging,
      state: this.$store.state,
      pushNotify: true
    };
  },
  setup(props, context) {
    const type = computed(() => context.root.$route.query.type )

    return {
      logout, type, /*userData, pushNotify, deviseSetPushNotify,*/
      form, formDisabled, submitChangePW, submitChangeAddr, fixScroll, displayBirthday
    }
  },
  computed: {
    isTestAPI(){ return S_Obj.isTestAPI() },
    userData() {
      return this.state.baseInfo.memberData.vip_info
    },
    // 重要的日子
    rememberDate() {
      let returnDate = ''
      let rememberDates = this.state.baseInfo.memberData.rememberDates
      if (rememberDates && rememberDates.length>0) {
        // 只撈第一筆出來
        let oneDate = rememberDates[0].RemberDate
        returnDate = oneDate.substring(5, 10)
        returnDate = returnDate.replace('-', '/')
      }
      return returnDate
    }
  },
  // 在路由進入時執行
  beforeRouteEnter: function beforeRouteEnter(to, from, next) {
    if (!isLogin.value) return next('/login')

    store.dispatch('fetchVipAndCardInfoWuhu')

    store.state.isPageName = '會員資訊'	// 頁面名稱

    next((vm) => {
			/* 是否接收推播訊息 */
      let storePushNotify = vm.$store.state.baseInfo.pushNotify
      // console.log('pushNotify ===> storePushNotify =>' + storePushNotify)
      if (storePushNotify==null || (typeof storePushNotify === 'undefined') || parseInt(storePushNotify.trim())==1) {
        vm.pushNotify = true
      } else {
        vm.pushNotify = false
      }
    });
  },
  beforeRouteUpdate: function(to, from, next) {
		const _name = this.type != 'changePW' ? '修改密碼' : '會員資訊'
    this.$store.state.isPageName = _name
    next();
  },
  methods: {
    doDeviseSetPushNotify(status) {
      // console.log('deviseSetPushNotify ===> status =>' + status)
      const pushNotify = (status ? '1' : '0')
      store.commit('setBaseInfo', {pushNotify})
      let spString = `{"spName":"pushNotify", "spValue":"${pushNotify}"}`
      // console.log('deviseSetPushNotify ===> spString =>' + spString)
      deviseFunction('SetSP', spString, '')
      store.commit('setCustomModal', { type: '', text: '' })
    },
    deviseSetPushNotify(status) {
      if (status) {
        this.doDeviseSetPushNotify(status)
      } else {
        showConfirm("關閉後無法再收到最新優惠訊息<br>是否確認關閉?")
        // 點擊確認執行贈卷
        .then(() => this.doDeviseSetPushNotify(status) )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => {
          this.pushNotify = true
          store.commit('setCustomModal', { type: '', text: '' })
        })
      }
    },
    // 到修改密碼頁面
    toChangePwd() {
      this.$router.push('/setting?type=changePW')
      resetForm()
    },
    formatBirthday(birthStr) {
      let returnStr = ''
      if (birthStr && birthStr.trim()!='') {
        returnStr = birthStr.substring(5)
      }
      return returnStr
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
