// bulma 變數
$green: #86b817; // fami-primary-color
$cyan: #4ba6f5; // fami-secondary-color
$red: #f34235; // fami-danger-color
$orange: #f79400; // fami-warning-color
$yellow: #fdca30;

$facebook: #3b5999;
$twitter: #55acee;
$instagram: #e4405f;
$line: #00b900;

$navbar-breakpoint: 1px;
$tabs-border-bottom-width: 2px;
$tabs-toggle-link-border-width: 2px;
$tabs-border-bottom-color: #f5f5f5;
$tabs-link-hover-border-bottom-color: $green;
$tablet: 768px;
$link: $green;
$tabs-toggle-link-border-width: 2px;
$tabs-link-hover-border-bottom-color: hsl(0, 0%, 96%);
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: inherit;

.border-success {
    border-color: $green !important;
}

// ref: https://bulma.io/documentation/
// @import '../../../node_modules/bulma/sass/utilities/_all';
// @import '../../../node_modules/bulma/sass/base/_all';
// @import '../../../node_modules/bulma/sass/elements/_all';
// @import '../../../node_modules/bulma/sass/form/_all';
// @import '../../../node_modules/bulma/sass/components/_all';
// @import '../../../node_modules/bulma/sass/grid/_all';
// @import '../../../node_modules/bulma/sass/layout/_all';
@import '../../../node_modules/bulma/bulma.sass';
// blueprint css
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
// ios notch hack
.bp3-toast-container {
    padding-top: env(safe-area-inset-top);
}
.bp3-toast {
    background-color: #212529 !important;
    border-radius: .5rem !important;
    margin-top: .75rem !important;
}