<template>
  <!-- translateZ(0) 加入行內樣式GPU加速，修正sticky遲鈍 -->
  <div class="h-100 overflow-auto bg-white" style="transform: translateZ(0)">
    <div>
      <!-- 頁面標頭 -->
      <div class="text-center is-size-5 sticky-top bg-white border-bottom border-light">
        <!-- 分類列 -->
        <div class="px-2 text-left">
          <div class="columns is-mobile is-gapless">
            <!-- 品牌 -->
            <div class="column is-4">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isDropBrand" @click="isDropBrand=!isDropBrand">
                  <button class="button border-0 rounded-0 w-100">
                    <span>{{brandOnly.Text}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu w-100" style="min-width: 100%" v-show="isDropBrand" v-closable="{exclude: ['isDropBrand'], handler: 'onCloseBrand'}">
                  <div class="dropdown-content border border-success">
                    <a class="dropdown-item is-size-6 text-decoration-none text-center p-2" v-for="(one, index) in listBrands" @click="selectBrand(one.ID,true)" :key="'brand'+index">{{one.Text}}</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 餐點查詢 -->
            <div class="column is-4">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isDropFood" @click="isDropFood=!isDropFood">
                  <button class="button border-0 rounded-0 w-100">
                    <span>{{kindText}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu w-100" style="min-width: 100%" v-show="isDropFood" v-closable="{exclude: ['isDropFood'], handler: 'onCloseFood'}">
                  <div class="dropdown-content border border-success">
                    <a class="dropdown-item is-size-6 text-decoration-none text-center p-2 has-text-grey-light" v-if="!listKind.length">無資料</a>
                    <a class="dropdown-item is-size-6 text-decoration-none text-center p-2" v-for="(one, index) in listKind" :key="'kind'+index" @click="selectKind(one)">{{one.KindName}}</a>

                  </div>
                </div>
              </div>
            </div>
            <!-- 消息查詢 -->
            <div class="column is-4">
              <div class="dropdown w-100 is-active">
                <div class="dropdown-trigger w-100" ref="isDropNews" @click="isDropNews=!isDropNews">
                  <button class="button border-0 rounded-0 w-100">
                    <span>{{newsText}}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>

                <div class="dropdown-menu w-100" style="min-width: 100%" v-show="isDropNews" v-closable="{exclude: ['isDropNews'], handler: 'onCloseNews'}">
                  <div class="dropdown-content border border-success">
                    <a class="dropdown-item is-size-6 text-decoration-none text-center p-2 has-text-grey-light" v-if="!listNews.length">無資料</a>
                    <a class="dropdown-item is-size-6 text-decoration-none text-center p-2" v-for="(one, index) in listNews" :key="'one'+index" @click="selectNews(one)">{{one.KindName}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 可由微館雲設定各品牌外連結(無資料隱藏) -->
      <div class="link-buttons text-right" v-if="!$route.query.food && !$route.query.news && linkList.length">
        <button class="button rounded-circle is-success mb-2 shadow" ref="isLinkBtns" @click="isLinkBtns=!isLinkBtns">
          <span class="icon is-small">
            <i class="fas fa-external-link-alt"></i>
          </span>
        </button>
        <p class="buttons flex-column align-items-end" v-show="isLinkBtns" v-closable="{exclude: ['isLinkBtns'], handler: 'onCloseLink'}">
          <!-- link facebook -->

          <button v-for="(link, index) in linkList" :key="'link'+index" class="button rounded-pill border-0 shadow" :class="{'is-facebook':(/.facebook.com/.test(link.MenuLink.toLowerCase())),'is-instagram':(/.instagram.com/.test(link.MenuLink.toLowerCase())),'is-line':(/line.me/.test(link.MenuLink.toLowerCase())),'is-info':!(/.instagram.com|.facebook.com|line.me/.test(link.MenuLink.toLowerCase()))}" @click="deviseToLink(link.MenuLink)">
            <span class="icon" v-show="/.facebook.com/.test(link.MenuLink.toLowerCase())">
              <i class="fab fa-facebook"></i>
            </span>
            <span class="icon" v-show="/.instagram.com/.test(link.MenuLink.toLowerCase())">
              <i class="fab fa-instagram"></i>
            </span>
            <span class="icon" v-show="/.line.me/.test(link.MenuLink.toLowerCase())">
              <i class="fas"></i>
            </span>
            <span class="icon" v-show="!(/.instagram.com|.facebook.com|line.me/.test(link.MenuLink.toLowerCase()))">
              <i class="fas fa-link"></i>
            </span>
            <span>{{link.MenuTitle}}</span>
          </button>

        </p>
      </div>
      <!-- 餐點列表 -->
      <div class="p-3" v-if="$route.query.food">
        <!-- 搜尋列 -->
        <div class="field mb-0">
          <p class="control has-icons-left">
            <input class="input w-100" type="text" :placeholder="searchNote" v-model="localSearchKeyWord">
            <span class="icon is-small is-left">
              <i class="fas fa-search fa-fw"></i>
            </span>
          </p>
          <div class="tags are-small py-2">
            <span class="tag is-success" v-for="(c_key, index) in cloudKeys" :key="'c_key'+index" @click="localSearchKeyWord=c_key.Text">{{c_key.Text}}</span>

          </div>
        </div>
        <div class="columns is-mobile is-variable is-multiline is-2">
          <div class="column is-6-mobile is-4-tablet py-1" v-for="item in findBrands" :key="item.PicURL" @click="showProductUrl(item)">
            <div class="card is-shadowless">
              <div class="card-image">
                <figure class="image is-256x256">
                  <img :src="showImageWuhuPage(item.PicURL)" :key="item.PicURL" :alt="item.DetailName">
                </figure>
              </div>
              <div class="card-content p-0">
                <div class="media py-2">
                  <div class="media-content overflow-hidden">
                    <p class="title is-6">{{item.DetailName}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 品牌詳情 by jerry-->
      <div v-if="!$route.query.food && !$route.query.news && brandOnly.isBrand">
        <div class="card is-shadowless">
          <div class="card-image">
            <figure class="image is-fullwidth">
              <img :src="showImageWuhuPage((brandOnly.PicURL1 || brandOnly.PicURL)+'?v='+(new Date().getTime()))" alt="">
            </figure>
          </div>
          <div class="card-content p-3">
            <div class="media mb-3">
              <div class="media-content overflow-hidden">
                <!-- 分享功能 -->
                <p class="is-pulled-right" @click="deviceShare(brandOnly)">
                  <span class="fa-stack align-middle text-warning" style="font-size: 0.75em">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </p>
                <p class="title mb-0 mt-2 is-4">{{brandOnly.DetailName}}</p>
                <!-- <p class="subtitle mt-2 is-7 has-text-grey-light">{{brandOnly.SaleTime.substring(0, 10)}}</p> -->
                <div class="is-divider" :data-content="'發布日期：'+brandOnly.SaleTime.substring(0, 10)"></div>
              </div>
            </div>
            <div class="content white-space-wrap text-break" style="overflow-x:hidden">
              {{(brandOnly.SubText1 || '')}}
              <!-- <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time> -->
            </div>
          </div>
        </div>
      </div>
      <!-- 新聞列表，點選後連cardNewspage -->
      <div class="p-3" v-if="$route.query.news">
        <div class="card overflow-hidden border rounded-lg mb-3" v-for="(chNews, index) in chNewsList" :key="'chNews'+index" @click="showNewspage(chNews)">
          <div class="card-image">
            <figure class="image has-background-white-ter is-1by1">
              <img :src="showImageWuhuPage(chNews.PicURL+'?v='+(new Date().getTime()))" alt="">
            </figure>
          </div>
          <div class="card-content py-2 px-3">
            <div class="media">
              <div class="media-content p-1">
                <h6 class="title is-5 mb-2">{{chNews.DetailName}}</h6>
                <p class="is-size-7">發佈日期：{{chNews.SaleTime.substring(0, 10)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import store from 'src/store'
import { GroupBy } from 'src/fun1.js'	// 共用fun在此!
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage, showImageWuhu, Closable, showAlert } from 'src/libs/appHelper.js'
// import VueAwesomeSwiper from 'vue-awesome-swiper'
// import 'swiper/dist/css/swiper.css'
const S_CurPAGE = '/cardBrand';

export default {
// BANNER輪播
  // components: {
  //   Swiper: VueAwesomeSwiper.swiper,
  //   SwiperSlide: VueAwesomeSwiper.swiperSlide
  // },
  directives: {
    Closable
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      publicData: this.$store.state.baseInfo.publicData,

      isDropBrand: false,
      isDropFood: false,
      isDropNews: false,
      isLinkBtns: false,
      isType: 'brand',
      nowGID:'',
      nowKindID:'',
      nowNews:{},
      filterText:'',
      localSearchKeyWord:'',	// 搜 餐點/品牌
      kindText:"餐點查詢",
      newsText:"消息查詢",
      // BANNER輪播
      // swiperOptionA: {
      //   pagination: {
      //     el: '.swiper-pagination'
      //   },
      // },
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.getters.srcUrl },
    newsData() { return this.publicData.news.data.filter(item => item.KindID !== "_INFO_") },
		/* 下拉-品牌清單 */
    listBrands() {
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      // console.log('品牌詳情-brandList: ', brandList);	// @@
      // return [{Text:'全部品牌'}].concat(brandList);
      return brandList;
    },
    brandsItem() {
      return this.publicData.brandList
    },
    findBrands() {
			let them = this.brandsItem
				.filter((item) => {return item.KindID == this.nowKindID})
				.sort(function (a, b) {return parseInt(a.No) > parseInt(b.No) ? 1 : -1;});
			const _find = this.localSearchKeyWord;
      // console.log("findBrands-orig:"+_find, them.length);	// @@
			if (_find) {
				them = them.filter((item) => {return RegExp(_find).test(item.DetailName)});
			}
      // console.log("brandsItem-them:", them);	// @@
      return them;
    },
    listKind(){
			let group_arr = GroupBy(this.brandsItem, "KindID");
			let gp_list = [];
			group_arr.map(gp => {
				if (gp.length) {
					const gp1 	= gp[0]
						,KindID 	= gp1.KindID
						,KindName = gp1.KindName
					gp_list.push({
						KindID: KindID,
						KindName: KindName
					});
				}
			});
      return gp_list.sort(function (a, b) {return parseInt(a.KindNo) > parseInt(b.KindNo) ? 1 : -1;});
    },
		/* 品牌詳情 */
    brandOnly() {	// 目前品牌(單隻)
      let brandArr 	= []
				,q_gid 				= this.nowGID
      brandArr = this.listBrands.filter((item) => {
        return item.ID == q_gid
      })
      return (brandArr.length > 0? brandArr[0]:{Text:''});
    },
    linkList(){
			const brandLink = this.publicData.brandLink
			let arr1 = brandLink.length ? brandLink.filter((item) => {
          return item.BrandID == this.brandOnly.ID
				}) : []
      return arr1;
    },
		/* 下拉-消息清單 */
    listNews() {
			let group_arr = GroupBy(this.epNewsList, "KindID");
			let gp_list = [];
			let str1 = '';
			group_arr.map(gp => {
				if (gp.length) {
					const gp1 	= gp[0]
						,KindID 	= gp1.KindID
						,KindName = gp1.KindName

					// 秀過不再秀
					if (!RegExp(KindName).test(str1)) {
						gp_list.push({
							KindID: KindID,
							KindName: KindName
						});
						str1 += KindName;
					}
				}
			});
			return gp_list;
    },
		/* 顯示-消息清單 */
    chNewsList() {
			const them 		= this.epNewsList
			let brandArr = [];

			if (them.length) {
				brandArr = them.filter((item) => {
					const isSame 	= item.KindID == this.nowNews.KindID
						,today 		= moment(new Date()).format('YYYY-MM-DD')+' 00:00:00'
						,isShowing 	= today >= item.SaleTime && today <= item.CloseTime
						// ,isShowing 	= true	// @debug
					// console.warn('DetailName: '+isShowing, item.DetailName, today);	// @@
					// console.log('chNewsList-SaleTime, CloseTime: '+item.SaleTime, item.CloseTime);	// @@
					// const tt1 = item.SubText1 && item.SubText1.substr(0,16);	// @@
					// console.log('chNewsList-SubText1: ', tt1);	// @@
					return isSame && isShowing;
				})
				.sort(function (a, b) {
					return parseInt(a.No) > parseInt(b.No) ? 1 : -1;
				})
			}
			// console.log('chNewsList-length: ', brandArr.length);	// @@
			return brandArr;
    },
    epNewsList() {
			const brandNews = this.publicData.brandNews
			let brandArr = brandNews.length ? brandNews.filter((item) => {
				return item.BrandID == this.brandOnly.ID;
			}) : [];
			return brandArr;
    },
    findNewsKindID(){
			const brandNews = this.publicData.brandNews
			let arr1 = brandNews.length ? brandNews.filter((item) => {
          return item.KindID == this.$route.query.msgKindID;
				}) : {}
			// console.log('findNewsKindID-arr1: ', arr1);	// @@
			return arr1.length ? arr1[0] : arr1;
    },
    findFoodKindID(){
			const brandListKind = this.publicData.brandListKind;
			return brandListKind.length ? brandListKind[0] : {};
    },
    cloudKeys() {
			const cloudsearch = this.publicData.cloudsearch;
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
					return item.isFullText && item.LinkPosition == "餐點查詢";
				}) : []
      return arr1;
		},
		searchNote(){
			const cloudsearch = this.publicData.cloudsearch;
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
					return item.isText && item.LinkPosition == "餐點查詢"
				}) : []
			// console.log('findNewsKindID-arr1: ', arr1);	// @@
			return arr1.length ? arr1[0]["Text"] : '';
    },
  },

  beforeRouteEnter: function(to, from, next){
    //store.dispatch('fetchCompanyData')
    //store.dispatch('fetchAppBrandData')	//統一到 fetchAppBrandData 刷新

    // 頁面名稱
    store.state.isPageName = '品牌專區'

    next( vm => {
			const v_query 	= vm.$route.query
				,nowGID				= vm.nowGID
				,q_gid				= v_query.gid
				,q_msgKindID	= v_query.msgKindID		// 消息類別
				,q_foodKindID	= v_query.foodKindID	// 商品類別
			// console.log('beforeRouteEnter-query: ', v_query);	// @@

			// 從首頁來,且有帶gid時,更新gid
			if (from.path == '/card' && (nowGID && nowGID !== q_gid)) {
				vm.nowGID = q_gid;
			}

      const isFromMsgKind = q_msgKindID && !q_gid
				,isFromfoodKind 	= q_foodKindID && !q_gid
      if (isFromMsgKind) {
        const brand_arr = vm.listBrands.filter((item) => {
          return item.ID == vm.findNewsKindID.BrandID
        })

        if (brand_arr.length) {
          vm.$router.push({ path: S_CurPAGE, query: {gid: brand_arr[0]["GID"], msgKindID:q_msgKindID} });
        }else{
          showAlert('找不到消息類別')
        }

      }else if (isFromfoodKind) {
        const brand_arr = vm.listBrands.filter((item) => {
          return item.ID == vm.findFoodKindID.BrandID
        })
        if (brand_arr.length) {
          vm.$router.push({ path: S_CurPAGE, query: {gid: brand_arr[0]["GID"], foodKindID:q_foodKindID} });
        }else{
          showAlert('找不到商品類別')
        }

      }else{
				q_gid && vm.selectBrand(q_gid);
      }

    });
  },
  beforeRouteUpdate: function(to, from, next){
    if (to.query && !to.query.msgKindID && !to.query.foodKindID){
      this.selectBrand(to.query.gid)

    }else if(to.query){
      this.checkMsgKindID(to.query.msgKindID,to.query.gid);
      this.checkFoodKindID(to.query.foodKindID,to.query.gid);
    }

    next();
  },

	/* 建立頁面後 */
  // created: function () {
  // },
  /* 頁面模組 */
  methods: {
    showImage,
    //showImageWuhu,
    showImageWuhuPage(p_url){
      const pic = showImageWuhu(p_url);
      return pic.indexOf('/assets/images/img_init.png') > -1 ?require('../../../assets/images/img_init.png'):pic;
    },
		/* 下拉選-消息查詢 */
    selectNews(p_news){
      if(this.$route.fullPath.includes('news')) this.$router.replace({path: this.$route.fullPath, query: { food: '', news: p_news.KindName }})
      else this.$router.push({path: this.$route.fullPath, query: { food: '', news: p_news.KindName }})
      this.newsText=p_news.KindName;
      this.isType='news';
      this.nowNews = p_news;
      this.onCloseNews()
    },
    showNewspage(p_news){
      const path = `/cardNewspage/${p_news.DetailID}`
      this.$router.push({ path: path });
    },
		/* 下拉選-餐點 */
    selectKind(p_kind){
			const fullPath = this.$route.fullPath
      // if(fullPath.includes('food')) this.$router.replace({path: fullPath, query: { food: p_kind.KindName }})
      // else this.$router.push({path: fullPath, query: { food: p_kind.KindName }})
			this.$router.replace({path: fullPath, query: { food: p_kind.KindName }})

      this.kindText=p_kind.KindName;
      this.isType='food';
      this.nowKindID = p_kind.KindID;
      this.onCloseFood()
    },
		/* 下拉選-品牌 */
    selectBrand(p_gid,isStop){
      this.kindText="餐點查詢";
      this.newsText="最新消息";
			this.nowGID = p_gid;

			const _path = this.$route.path
				,query		= this.$route.query
				,isLoad 	= !this.listKind.length && !this.listNews.length
				,isDiff 	= _path != S_CurPAGE || (_path == S_CurPAGE && query.gid != p_gid) || query.food || query.news;

			// console.log('selectBrand-isDiff: ', isDiff);	// @@
      this.nowGID = p_gid;

      if (!(this.localSearchKeyWord && this.isType === 'food')) this.isType='brand';
      if (isDiff && isStop) {
        this.$router.replace({ path: S_CurPAGE, query: { gid: this.nowGID} }); //為了刷新時,可以取gid
      }
      if (!isStop || isLoad) {
        store.dispatch('fetchAppBrandDataById',{gid:p_gid})
      }
      this.onCloseBrand()
    },

		/* 顯示商品頁的連結 */
    async showProductUrl(product) {
      const path = `/cardProducts/${product.DetailID}`
      await store.dispatch('fetchBrandData', {GID: this.nowGID})
      this.$router.push({ path: path });
    },
    async checkMsgKindID(msgKindID,gid){
      if (gid) this.nowGID=gid;
      const isMsgKindID = msgKindID != undefined && gid != undefined;
      if(isMsgKindID){
        const gp = this.epNewsList.filter(ev => {
          return ev.KindID == msgKindID
        });
        if (gp.length > 0){
          await store.dispatch('fetchBrandData', {GID: gid})
          setTimeout(() => {this.selectNews({KindID:gp[0]["KindID"],KindName:gp[0]["KindName"]})}, 0);
        }
      }
      return isMsgKindID;
    },
    async checkFoodKindID(foodKindID,gid){
      if (gid) this.nowGID=gid;
      const isFind = foodKindID != undefined && gid != undefined;
      if(isFind && this.findFoodKindID.KindID){
        await store.dispatch('fetchBrandData', {GID: gid})
        setTimeout(() => {this.selectKind({KindID:this.findFoodKindID.KindID,KindName:this.findFoodKindID.KindName})}, 0)
      }
      return isFind;
    },
		// Drop Menu Click Outside to Close
		onCloseLink () {
			this.isLinkBtns = false
		},
		onCloseBrand () {
			this.isDropBrand = false
		},
		onCloseFood () {
			this.isDropFood = false
		},
		onCloseNews () {
			this.isDropNews = false
		},
		deviseUrl(url){
			return deviseFunction('openWeburl', url, '')
		},
		// (殼專屬) 另開瀏覽器app，開啟連結
		deviseToLink(Url) {
			return deviseFunction('openWeburl', Url, '')
		},
		deviceShare(pageData) {
			// console.log('deviceShare ===> start', pageData)
			let url = 'https://web.jh8.tw/home/Q/fig.html?t=b&id='
				+ pageData.ID

			let msg = '嗨!跟你分享一個好的品牌「'
				+ pageData.Text + '」，希望你會喜歡。'
				+ ' ' + url

			let shareObj = {
				subject: '',
				body: msg,
				chooserTitle: ''
			}
			let shareObjString = JSON.stringify(shareObj)
			// console.log('deviceShare ===> shareObjString =>' + shareObjString)
			return deviseFunction('shareTo', shareObjString, '')
		}
  },
  // watch: {
		/* ps: watch就是有不一樣才進來的 */
    // nowGID(_new, _old){
      // // 不一樣才要清空nowKindID
      // if (_old && _new && _old != _new) {
        // this.nowKindID = ''
      // }
    // },
	/** @Fix: 修正:nowKindID勿清空,下次進來會搜不到!! */
    // nowGID() {
      // this.nowKindID = ''
    // },
  // },
}
</script>
<style lang="scss" scoped>
.tags {
  .tag:not(:first-child) {
    margin-left: -4px;
  }
}
.link-buttons {
  position: fixed;
  z-index: 1;
  right: 1rem;
  margin-top: 1rem;
  .buttons .button {
    margin: 0 0 4px !important;
    &.is-line .icon {
      svg {
        display: none;
      }
      background: no-repeat center url('../../../assets/images/ic_line.png');
      background-size: 18px;
    }
  }
}
</style>
