<template>
  <!-- GPU加速style會影響modal層級表現 -->
  <div class="h-100 overflow-auto bg-white" :style="{'transform':(isDemo=='mbrSearch'||isDemo=='couponCode') ? '':'translateZ(0)' }">
    <div>
      <!-- {{(!ticketData) ? '我的優惠券':'詳細內容'}} -->
      <div class="text-center bg-white is-size-5 sticky-top pb-0"> 
        <!-- Tabs  -->
        <div class="tabs is-centered bg-white" v-if="!ticketData">
          <ul>
            <li :class="{'is-active':isActiveTab==1}" @click="isActiveTab=1">
              <a class="position-relative px-4 text-decoration-none" :data-badge="ticketList.length">
                可使用
              </a>
            </li>
            <li :class="{'is-active':isActiveTab==2}" @click="isActiveTab=2">
              <a class="px-4 text-decoration-none" :data-badge="notAvailableTickets.length">
                未生效
              </a>
            </li>
            <li :class="{'is-active':isActiveTab==3}" @click="isActiveTab=3">
              <a class="position-relative px-4 text-decoration-none">
                已轉贈
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div v-if="!ticketData">
        <!-- 可使用 -->
        <div v-if="isActiveTab==1 && !ticketData">
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="ticketList.length === 0">-- 無優惠券 --</p>
          <!-- 券 -->
          <div v-if="!ticketData">
            <div class="card overflow-hidden shadow-sm rounded-lg mx-3 my-3 coupon-style" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item)">
              <div class="card-content p-3 pb-0">
                <div class="media mb-3">
                  <div class="media-left">
                    <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                      <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
                    </figure>
                    <div class="position-relative icon-cut">
                      <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                    </div>
                  </div>
                  <div class="media-content">
                    <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                    <p class="subtitle is-6 mt-0">
                      有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                      張數：{{item.TicketCount}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="w3-section w3-padding-small couponStyle" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
              <div class="w3-cell-row">
                <div class="w3-cell" style="width:108px">
                  <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
                </div>
                <div class="w3-cell w3-cell-top">
                  <div class="w3-large" style="min-height:54px">
                    {{item.TicketTypeName}}
                  </div>
                  <div class="w3-medium">有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                  <div class="w3-medium">張數：{{item.TicketCount}}</div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <!-- 未生效 -->
        <div v-if="isActiveTab==2 && !ticketData">
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="notAvailableTickets.length === 0">-- 無優惠券 --</p>
          <div v-if="!ticketData">
            <!-- 券 -->
            <div class="card border overflow-hidden shadow-sm rounded-lg mx-3 my-3 coupon-style" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item)">
              <div class="card-content p-3 pb-0">
                <div class="media mb-3">
                  <div class="media-left">
                    <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                      <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
                    </figure>
                    <div class="position-relative icon-cut">
                      <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                    </div>
                  </div>
                  <div class="media-content">
                    <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                    <p class="subtitle is-6 mt-0">
                      有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                      張數：{{item.TicketCount}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="notification p-2 mb-3 shadow-sm coupon-style" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item)">
              <article class="media">
                <figure class="media-left m-2">
                  <p class="image is-96x96 mr-1">
                    <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://web.jh8.tw/wuhulife/img/img_init.gif'" :alt="item.TicketTypeName">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content h-auto">
                    <p class="mt-2" style="min-height:44px"><b>{{item.TicketTypeName}}</b></p>
                  </div>
                  <nav class="level">
                    <div class="level-left">
                      <div>有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                      <div>張數：{{item.TicketCount}}</div>
                    </div>
                  </nav>
                </div>
              </article>
            </div> -->
            <!-- original券
            <div class="w3-section w3-padding-small couponStyle" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item);$store.commit('setCssTouch', false)">
              <div class="w3-cell-row">
                <div class="w3-cell" style="width:108px">
                  <img class="w3-image" width="96" :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="item.TicketTypeName">
                </div>
                <div class="w3-cell w3-cell-top">
                  <div class="w3-large" style="min-height:54px">
                    <b>{{item.TicketTypeName}}</b>
                  </div>
                  <div class="w3-medium">期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}</div>
                  <div class="w3-medium">張數：{{item.TicketCount}}</div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <!-- 已轉贈 -->
        <div v-if="isActiveTab==3 && !ticketData">
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="gaveTicketList.length === 0">-- 無優惠券 --</p>
          <!-- 券 -->
          <div v-if="!ticketData">
            <div class="card overflow-hidden has-background-white-bis shadow-sm rounded-lg mx-3 my-3 coupon-style grayscale-100 opacity-75" v-for="item in gaveTicketList" :key="item.GID">
              <div class="card-content p-3 pb-0">
                <div class="media mb-3">
                  <div class="media-left">
                    <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                      <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
                    </figure>
                    <div class="position-relative icon-cut">
                      <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                    </div>
                  </div>
                  <div class="media-content">
                    <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                    <p class="subtitle is-6 mt-0 text-info">
                      轉贈日期： {{ item.TradeTime.substring(0, 10)}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="notification p-2 mb-3 border shadow-sm has-background-white-bis w3-grayscale-max w3-opacity" v-for="item in gaveTicketList" :key="item.GID">
            <article class="media">
              <figure class="media-left m-2">
                <p class="image is-96x96 mr-1">
                  <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? srcUrl + item.ImageUrl : 'https://web.jh8.tw/wuhulife/img/img_init.gif'" :alt="item.TicketTypeName">
                </p>
              </figure>
              <div class="media-content">
                <div class="content h-auto">
                  <p class="my-2" style="min-height:52px"><b>{{item.TicketTypeName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    轉贈日期： {{ item.TradeTime.substring(0, 10)}}
                  </div>
                </nav>
              </div>
            </article>
          </div> -->
        </div>
      </div>

      <!-- 券詳細頁 -->
      <div v-if="ticketData">
        <div class="card border overflow-hidden rounded-lg mx-3 my-3 coupon-style">
          <div class="card-content p-3 pb-0">
            <div class="media mb-3">
              <div class="media-left">
                <figure class="image has-background-white-ter is-96x96">
                  <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(ticketData.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="ticketData.TicketTypeName">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6 text-info">{{ticketData.TicketTypeName}}</p>
                <p class="subtitle is-6 mt-0">
                  期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}<br>
                  期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}<br>
                  張數：{{ticketData.TicketCount}}
                </p>
              </div>
            </div>
            <div class="content border-top py-3 white-space-wrap line-height-150" style="min-height: 240px">
              <b>券別：</b>{{ticketType}}
              <br>
              <b>限制：</b>每次消費限用1張
              <br>
              <!-- 2020-03-17 家妃說先隱藏
              限定使用商品：{{ticketUsageFoods}}
              <br>
              -->
              <b>活動說明：</b>{{ticketInfo.ruleData.Remark}}
              <br>
              <b>適用門店：</b>{{ticketUsageShops}}
              <br>
              <!-- 2020-03-27 家妃說先隱藏
              <b>適用期間：</b>{{ticketUsagePeriod}}
              <br>
              -->
            </div>
          </div>
          <footer class="card-footer bg-white">
            <a class="card-footer-item text-decoration-none text-dark text-wide" @click="$router.go(-1)">取消</a>
            <!-- 不可轉贈的優惠券,不可出現[轉贈]按鈕 -->
            <a v-if="!ticketData.IsStopGive" class="card-footer-item text-decoration-none text-dark text-wide" @click="toTrans()">贈送</a>
            <a class="card-footer-item has-background-success text-decoration-none text-white text-wide" @click="showCouponCode" v-if="!isNotAvailable(ticketData)">使用</a>
          </footer>
        </div>

        <div class="notification p-2 my-3 shadow-sm coupon-style" v-if="false">
          <article class="media flex-wrap">
            <figure class="media-left m-2">
              <p class="image is-96x96 mr-1">
                <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? srcUrl + ticketData.ImageUrl : ''" :alt="ticketData.TicketTypeName">
              </p>
            </figure>
            <div class="media-content mb-1" style="flex: 0 0 calc(100% - 120px)">
              <div class="content h-auto">
                <p class="mt-2" style="min-height:44px"><b>{{ticketData.TicketTypeName}}</b></p>
              </div>
              <nav class="level">
                <div class="level-left">
                  <!-- 顯示票券期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
                  <div>期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
                  <div>期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
                  <div>張數：{{ticketData.TicketCount}}</div>
                </div>
              </nav>
            </div>
            <div class="border-top border-warning m-2 pt-3 w-100" style="min-height:260px;line-height:1.5">
              <b>券別：</b>{{ticketType}}
              <br>
              <b>限制：</b>每次消費限用1張
              <br>
              <!-- 2020-03-17 家妃說先隱藏
              限定使用商品：{{ticketUsageFoods}}
              <br>
              -->
              <b>適用門店：</b>{{ticketUsageShops}}
              <br>
              <!-- 2020-03-27 家妃說先隱藏
              <b>適用期間：</b>{{ticketUsagePeriod}}
              <br>
              -->
              <b>備註：</b>{{ticketInfo.ruleData.Remark}}
            </div>
          </article>
        </div>
        <!-- original先隱藏 -->
        <div class="w3-section w3-round-large w3-white w3-padding w3-padding-16 couponStyle" style="margin-bottom:60px!important" v-if="false">
          <div class="w3-cell-row w3-border-bottom w3-border-gray" style="padding-bottom: 1rem">
            <div class="w3-cell" style="width:108px">
              <img class="w3-image" width="96" :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? srcUrl + ticketData.ImageUrl : ''" :alt="ticketData.TicketTypeName">
            </div>
            <div class="w3-cell w3-cell-top">
              <div class="w3-large" style="min-height:35px">
                {{ticketData.TicketTypeName}}
              </div>
              <!-- 顯示票券期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
              <div class="w3-medium">期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
              <div class="w3-medium">期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
              <div class="w3-medium">張數：{{ticketData.TicketCount}}</div>
            </div>
          </div>
          <div class="w3-margin-top" style="min-height:260px">
            券別：{{ticketType}}
            <br>
            限制：每次消費限用1張
            <br>
            <!-- 2020-03-17 家妃說先隱藏
            限定使用商品：{{ticketUsageFoods}}
            <br>
            -->
            適用門店：{{ticketUsageShops}}
            <br>
            適用期間：{{ticketUsagePeriod}}
            <br>
            備註：{{ticketInfo.ruleData.Remark}}
          </div>
        </div>
        <!-- 這個[回上頁]按鈕,等到下面3個按鈕復原後刪除 -->
        <!-- <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white">
          <div class="column py-1">
            <button class="button is-link is-outlined is-fullwidth is-medium is-light" @click="$router.go(-1)">回上頁</button>
          </div>
        </div> -->
        <!-- original先隱藏-->
        <div class="w3-cell-row w3-container w3-padding-8" v-if="false">
          <div class="w3-cell" style="padding-right:.5rem">
            <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray  w3-block" @click="$router.go(-1);$store.commit('setCssTouch', true)">
              取消
            </button>
          </div>
          <div class="w3-cell" style="padding-right:.5rem">
            <button class="w3-button w3-round w3-large w3-light-gray w3-hover-light-gray w3-block" @click="toTrans()">
              贈送
            </button>
          </div>
          <div class="w3-cell">
            <button :disabled="isNotAvailable(ticketData)" class="w3-button w3-round w3-large primary-color w3-block" @click="showCouponCode">
              使用
            </button>
          </div> 
        </div>
      </div>

      <!-- 顯示券 QRcode -->
      <transition name="slide-top">
        <!-- <div v-if="isDemo=='mbrSearch'">
          <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
            <img src="" class="w3-opacity" style="height:1.75rem;" @click="hideCouponCode">
          </header>
          <div v-if="isDemo=='mbrSearch'">
            <div class="w3-padding w3-padding-16 w3-display-container w3-white w3-border-bottom" style="border-color:#ccc">
              <input class="w3-input w3-block w3-border w3-large w3-round" type="text" placeholder="請輸入會員帳號" v-model="ToAccount">
              <button class="w3-button w3-black w3-hover-black w3-round w3-display-topright" style="margin:18px" @click="confirmTicketTrans">贈送</button>
            </div>
            <div class="w3-container">
              <div class="w3-light-gray w3-container w3-round-large w3-margin-top">
                <h5 class="w3-border-bottom w3-border-gray">優惠券轉贈</h5>
                <p class="w3-section-8">
                  可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。<br>
                  <br>
                  贈送流程 <br>
                  <br>
                  1.  請輸入贈送的好友會員帳號 (僅限轉贈已註冊會員)<br>
                  2.  確認會員帳號後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br>
                  3.  若您輸入的帳號錯誤，提示窗則會跳出「會員帳號」錯誤<br>
                  <br>
                  註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員帳號
                </p>
              </div>
            </div>
          </div>
        </div> -->
        <div class="modal mbr-qrcode is-active" v-if="isDemo=='mbrSearch'||isDemo=='couponCode'"
          :class="{'coupon-type-color-1':(ticketType=='現金劵'),'coupon-type-color-2':(ticketType=='商品抵用劵'),'coupon-type-color-3':(ticketType=='商品折扣劵'),'coupon-type-color-4':(ticketType=='現金折扣劵')}"
        >
          <div class="modal-background"></div>
          <div class="modal-content">
            <!-- 券類別大字 -->
            <h2 class="title is-2 text-center text-white mb-2">{{(isDemo=='couponCode')?ticketType:''}}</h2> 
            <!-- 券code -->
            <div class="box m-auto text-center text-white has-background-black" style="max-width: 280px" v-if="isDemo=='couponCode'">
              <header>
                <h5 class="title is-5">{{ticketData.TicketTypeName}}</h5>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                  <path d="M0,0 Q50,50 100,0"></path>
                </svg>
              </header>
              <article>
                <div class="bg-white p-2 m-auto" style="max-width:200px">
                  <figure class="image bg-white is-1by1">
                    <!-- <img src="../../assets/images/qrcode.png"> -->
                    <small class="qrcode-rendering has-text-grey-light text-nowrap"><i class="fas fa-spinner fa-pulse fa-fw fa-lg"></i> 條碼生成中...</small>
                    <img :src="ticketInfo.currentTicketQRcode">
                  </figure>
                </div>
                <p class="m-3 is-size-7">{{ticketInfo.currentTicketGID}}</p>
              </article>
            </div>
            <!-- 轉贈 -->
            <div class="box m-auto p-3" style="max-width: 320px" v-if="isDemo=='mbrSearch'">
              <h5 class="title text-center is-6 mb-3">優惠券轉贈</h5>
              <div class="field has-addons pb-2">
                <p class="control has-icons-left w-100">
                  <input class="input" type="text" placeholder="請輸入轉贈的手機號碼" v-model="ToAccount" @blur="fixScroll">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-fw"></i>
                  </span>
                </p>
                <div class="control" @click="confirmTicketTrans">
                  <a class="button is-success">
                    贈送
                  </a>
                </div>
              </div>
              <article class="is-size-7">
                <p>
                  可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。
                  <span class="d-block px-3 py-2 my-2 rounded has-background-white-ter">
                  <b>贈送流程：</b><br>
                  1.  請輸入轉贈的手機號碼 (僅限轉贈已註冊會員)<br>
                  2.  確認會員帳號後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br>
                  3.  若您輸入的帳號錯誤，提示窗則會跳出「會員帳號」錯誤<br>
                  </span>
                  註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員帳號
                </p>
              </article>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="hideCouponCode"></button>
        </div>

            <!-- <div class="w3-container w3-padding-large w3-padding-32 w3-center">
              <div class="w3-card">
                <h4 class="w3-dark-gray w3-padding" style="margin:0">{{ticketData.TicketTypeName}}</h4>
                <img :src="ticketInfo.currentTicketQRcode" class="w3-image w3-padding-64" alt="" style="width: 75%">
                <p class="w3-light-gray w3-padding" style="margin:0">{{ticketInfo.currentTicketGID}}</p>
              </div>
            </div> -->
      </transition>

    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { setLoading } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { fixScroll, isLogin, showAlert, showConfirm, showImageWuhu } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      isActiveTab: 1,
      isShow: true,
      isDemo: '',
      state: this.$store.state,
      ToAccount: '',
      flgActs: [1],
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl()   { return this.state.srcUrl },
    ticketList() { return this.state.baseInfo.memberData.ticketList },
    gaveTicketList() { return this.state.baseInfo.memberData.gaveTicketList },
    notAvailableTickets() { return this.state.baseInfo.memberData.notAvailableTickets },
    totalTicket() {return this.ticketList.concat(this.notAvailableTickets)},
    // --- 單一筆優惠卷的資訊 ---
    ticketID() { return this.$route.query.code },
    ticketInfo() { return this.state.baseInfo.memberData.ticketInfo },
    ticketData() { return this.totalTicket.filter(item => {return item.GID == this.ticketID})[0] },
    // 使用期限
    ticketExpiredAt() { return this.ticketData.TicketExpiredDate.substring(0, 10) },
    // 限定使用商品
    ticketUsageFoods() {
      const foods = this.ticketInfo.usageFoods
      if (foods.length == 0) return '不限'
      if (foods.length != 0) return foods.map(item => item.FoodName).join(', ')
      return ''
    },
    // 適用門店
    ticketUsageShops() {
      const shops = this.ticketInfo.usageShops
				,nMax 		= shops.length
				,str1			= nMax ? shops.map(item => item.ShopName).join(', ') : '不限'
			// console.log('ticketUsageShops-shops: ', shops);	// @@
			// console.log('ticketUsageShops-str1: '+nMax, str1);	// @@
      return str1;
    },
    // 適用期間 (timePeriod, weekDay)
    ticketUsagePeriod() {
      const rule = this.ticketInfo.ruleData

      // 設定使用時間
      const beginTime = rule.BeginDate2 || rule.BeginTime
      const endTime   = rule.EndDate2 || rule.EndTime

      let timePeriod = ''
      if (beginTime !== "" && endTime !== "") timePeriod = beginTime + "-" + endTime
      if (beginTime === "" && endTime !== "") timePeriod = "截止" + endTime;
      if (beginTime !== "" && endTime === "") timePeriod = beginTime + "起 - 不限";
      if (beginTime === "" && endTime === "") timePeriod = '不限'
      if (beginTime === undefined && endTime === undefined) timePeriod = 'loading...'

      // 設定使用日 (星期一 ~ 星期日)
      let weekDay = ''
      if (rule.Week1 === "True") weekDay += " 星期一";
      if (rule.Week2 === "True") weekDay += " 星期二";
      if (rule.Week3 === "True") weekDay += " 星期三";
      if (rule.Week4 === "True") weekDay += " 星期四";
      if (rule.Week5 === "True") weekDay += " 星期五";
      if (rule.Week6 === "True") weekDay += " 星期六";
      if (rule.Week7 === "True") weekDay += " 星期天";

      return `${timePeriod} [${weekDay} ]`
    },
    // 優惠卷類別
    ticketType() {
      const item = this.ticketData
      if (parseInt(item.TicketFlag) === 1) return '現金劵'
      if (parseInt(item.TicketFlag) === 2) return '商品抵用劵'
      if (parseInt(item.TicketFlag) === 3) return '商品折扣劵'
      if (parseInt(item.TicketFlag) === 4) return '現金折扣劵'
      return ''
    },
  },
  async beforeRouteEnter(to, from, next) {
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin) return next('/')

    setLoading(true)
		/* 優惠券要拆成3個,按了分頁後才更新對應之該列表 */
    // store.dispatch('fetchAppPublicDataCouponWuhu')	// 1次3支
		await store.dispatch('fetchGetDrawAutoTicketWuhu')
		store.dispatch('fetchMemberTicketListDataWuhu')	// isActiveTab==1, 優惠券-可使用

    // 頁面名稱
    store.state.isPageName = '我的優惠券'

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});

  },
  beforeRouteUpdate(to, from, next) {
    // 頁面名稱
		const _page = this.ticketData ? '我的優惠券' : '詳細內容'
    this.$store.state.isPageName = _page
    next();
  },
  // 頁面模組
  methods: {
    fixScroll,
    showImageWuhu,
    // 判斷此卷能否使用
    isNotAvailable(ticket) {
      return this.notAvailableTickets.filter(item => {return item.GID == ticket.GID}).length
    },
    // 顯示優惠卷細節資訊
    showTicketData(item) {
      // 取優惠卷的使用規則、條款資料，QRcode
      this.$store.dispatch('fetchMemberTicketInfoData', item)
      // 導向優惠卷資訊頁
      this.$router.push(`/cardCoupon?code=${item.GID}`)
    },
    // 開啟-優惠卷的 QRcode
    showCouponCode() {
      this.isDemo = 'couponCode'
      this.$store.commit('setCssTouch', false)
      // 進入時將殼的螢幕調到最亮
      deviseFunction('setBrightness', '255', '')
    },
    // 關閉-優惠卷的 QRcode
    hideCouponCode() {
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', this.$store.getters.deviseBrightness, '')
      this.$store.dispatch('fetchAppUserData')
      this.$store.commit('setCssTouch', true)
      this.isDemo = ''
      //this.$router.go(-1)
    },
    // 贈送優惠券
    toTrans() {
      this.ToAccount = ''
      this.isDemo='mbrSearch'
    },
    // 確認是否贈卷
    confirmTicketTrans() {
      const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
      if (this.ToAccount === '') return showAlert('請輸入會員電話號碼')
      if (mobilePhoneRegxp.test(this.ToAccount) != true) return showAlert('會員電話號碼錯誤')

      showConfirm("一經贈送即無法更改<br>您確定要贈送嗎?")
        // 點擊確認執行贈卷
        .then(() => this.doTicketTrans() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    },
    // 執行-贈卷
    async doTicketTrans() {
      const data = await this.$store.dispatch('ensureMemberTicketTrans', { ToAccount: this.ToAccount, TicketInfoID: this.ticketData.TicketInfoID })
      // 無論成功失敗都要顯示 api 訊息
      showAlert(data.ErrorMsg)
      if (data.ErrorCode !== '0') return
      // 成功 => 刷新已轉贈的卷資訊
      await this.$store.dispatch('fetchMemberGaveTicketListDataWuhu')
      this.hideCouponCode()
      this.isActiveTab = 3
    },
  },
  watch: {
    isActiveTab: function(num) {
			const hasNoIt = this.flgActs.indexOf(num) == -1
			// console.log('watch_isActiveTab-hasNoIt,num: '+hasNoIt, num);	// @@
      if (hasNoIt) {
				let _act = 'fetchMemberGaveTicketListDataWuhu';
				switch (num) {
				// case 1:
					// _act = 'fetchMemberTicketListDataWuhu';
					// break;
				case 2:
					_act = 'fetchMemberNotAvailableTicketsWuhu';
					break;
				// default:	// 3
				}

				this.$store.dispatch(_act);
				this.flgActs.push(num);
      }
    }

  },
}
</script>
<style lang="scss" scoped>
div {
  // 現金劵
  --coupon-type-color-1: #fe0000;
  // 商品抵用劵
  --coupon-type-color-2: #800000;
  // 商品折扣劵
  --coupon-type-color-3: #800080;
  // 現金折扣劵
  --coupon-type-color-4: #000080;
}
@for $i from 1 through 4 {
  .coupon-type-color-#{$i} {
    .box header {
      background: var(--coupon-type-color-#{$i});
      h5 {
        color: yellow;
      }
      svg {
        fill: var(--coupon-type-color-#{$i});
      }
    }
  }
}
.qrcode-rendering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge-grey[data-badge]::after {
  background: #cccccc;
}
</style>
