<template>
  <div class="h-100 bg-white overflow-auto">
    <div>
      <!-- <p class="text-center is-size-5 sticky-top bg-white reg-title border-bottom border-light">集點換券</p> -->
      <div v-if="$route.query.page==null">
        <div class="level is-mobile has-text-grey px-3 pt-2 m-0 is-size-7">
          <div class="level-start"></div>
          <div class="level-end text-right">{{pointToTicketsDate}}<!-- 2020/04/27 --> 版本</div>
        </div>
        <p class="text-center mb-n2">
          <sub>可使用點數</sub>
          <b class="title mx-2 my-0 is-4 d-inline-block has-text-success align-sub">{{totalPoints}}<!-- 888 --></b>
          <sub>點</sub>
        </p>
        <template v-if="!currentTicket">
          <template v-if="state.baseInfo.memberData.vip_infoIsLoaded && pageData && pageData.pointToTickets && pageData.pointToTickets.length>0">
            <div class="box shadow-sm border overflow-hidden mx-3 my-3 px-2 py-2 coupon-style rounded-lg" v-for="(ticket, index) in pageData.pointToTickets" :key="'ticket'+index" @click="setCurrentTicket(ticket.TicketTypeCode)">
              <div class="columns is-variable is-1 is-mobile is-vcentered text-center ml-n3">
                <div class="column is-4 has-background-success py-3">
                  <b class="title mr-1 my-0 is-3 d-inline-block text-white align-sub">{{ticket.Points}}<!-- 100 --></b>
                  <sub>點</sub>
                </div>
                <div class="column is-8 text-center">{{ticket.TicketTypeName}}<!-- 券名稱券名稱 --></div>
              </div>
            </div>  
          </template>
          <!-- 無資料 -->
          <p class="text-center has-text-grey-lighter my-5 py-5" v-if="state.baseInfo.memberData.vip_infoIsLoaded && (!pageData || !pageData.pointToTickets || pageData.pointToTickets.length<=0)">-- 無資料 --</p>
        </template>
      </div>
      <div v-if="$route.query.page=='detail' && currentTicket
        && (typeof currentTicket !== 'undefined')">
        <div class="card overflow-hidden rounded-lg mx-3 my-3 coupon-style">
          <div class="card-content p-3">
            <div class="media mb-3">
              <div class="media-left">
                <figure class="image has-background-white-ter is-96x96">
                  <img :src="(currentTicket.ImageUrl !== '/images/noPic.jpg' && currentTicket.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(currentTicket.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="currentTicket.TicketTypeName">
                </figure>
                <div class="position-relative icon-cut">
                  <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
                </div>
              </div>
              <div class="media-content">
                <p class="title is-6">{{currentTicket.TicketTypeName}}<!-- 券名稱券名稱 --></p>
                <p class="subtitle is-6 mt-0">
                  兌換點數：{{currentTicket.Points}}<!-- 5 --> 點<br>
                  兌換期限：{{currentTicket.TicketExpiredDate}}<!-- 2020/04/27 -->
                </p>
              </div>
            </div>
  
            <div class="content white-space-wrap">
              {{currentTicket.Remark}}<!-- 券內容... -->
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item has-background-white text-decoration-none text-dark text-wide" @click="$router.push('/pointExg')">取消</a>
            <a class="card-footer-item has-background-success text-decoration-none text-white text-wide" @click="doExchange()">兌換</a>
          </footer>
        </div>
      </div>
  
      <!-- 券的 QRCode -->
      <transition name="slide-top" mode="out-in">
        <div class="modal mbr-qrcode is-active" v-if="isModal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box m-auto text-center text-white has-background-success" style="max-width: 280px">
              <header>
                <h5 class="title is-5">券名稱券名稱</h5>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                  <path d="M0,0 Q50,50 100,0"></path>
                </svg>
              </header>
              <article>
                <div class="bg-white p-2 m-auto" style="max-width:200px">
                  <figure class="image bg-white is-1by1">
                    <img src="@/assets/images/qrcode.png">
                  </figure>                
                </div>
                <p class="my-3 number-font">123456789<br>
                  本次條碼可使用時間 60 秒</p>
              </article>
            </div>
            <!-- <div v-if="cardQRcode.data.loaded">
              <div class="w3-card">
                <h4 class="is-size-4 my-3">會員條碼： {{$store.getters.currentApp.AppName}}</h4>
                <img :src="cardQRcode.data.image" class="w3-image p-3" alt="" style="width: 75%">
                <p class="my-3">
                  {{cardQRcode.data.value}}
                  <br>
                  本次條碼可使用時間 {{cardQRcode.timer}} 秒
                </p>
              </div>
            </div> -->
          </div>
          <button class="modal-close is-large" aria-label="close" @click="isModal=false"></button>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { showImageWuhu } from 'src/libs/appHelper.js'
import { isLogin, showAlert, showConfirm, setLoading } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isModal: false,
      // currentTicketCode: '',
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    memberData() { return this.$store.state.baseInfo.memberData },
    totalPoints() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
    pageData() { return this.state.baseInfo.memberData },
    currentTicketCode() {
      return this.$route.query.code
    },
    currentTicket() { return this.pageData.pointToTickets.find(t => { return t.TicketTypeCode == this.currentTicketCode }) },
    pointToTicketsDate() {
      const list = this.pageData.pointToTickets
      return list.map(d => d.TicketExpiredDate).sort((a, b) => new Date(b).getTime() - new Date(a).getTime() )[0]
   },
  },
  methods: {
    showImageWuhu,
    // 顯示積分兌換卷明細資料
    setCurrentTicket(code) {
      // this.currentTicketCode = code
      this.$router.push('/pointExg?page=detail&code='+code)
    },
    // 執行積點換卷
    doExchange() {
      if (!this.currentTicket) return showAlert('請選擇兌換品')
      showConfirm("一經兌換即無法更改、退回點數，您確定要兌換嗎？")
        .then(() => { this.actExchange() })
        .catch(() => {
          // 點擊取消執行
          store.commit('setCustomModal', { type: '', text: '' }) // 關閉 confirmn 視窗
        });
    },
    async actExchange() {
      // console.log('actExchange ===> start')
      // 點擊確認執行點換倦
      const data = await store.dispatch('ensurePointExchangeTicket', this.currentTicket)

      // 有 ErrorCode => 回傳錯誤訊息
      if (data.ErrorCode !== '0') return showAlert(data.ErrorMsg)

      // 無 ErrorCode => 積點換卷成功, 重新 reload 會員資訊, 並導向優惠卷頁
      showAlert('兌換 ' + this.currentTicket.TicketTypeName + ' 成功！')

      this.$router.push({ path: '/cardCoupon' })
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    if (!isLogin) return next('/')

    setLoading(true, 4)
    store.dispatch('fetchVipAndCardInfoWuhu') // for 點數
    // 頁面名稱
    store.state.isPageName = '集點換券'

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});

  },
}
</script>
