<template>
  <div class="h-100 bg-white overflow-auto">
    <!-- <p class="text-center is-size-5 sticky-top bg-white reg-title border-bottom border-light">常見問題</p> -->
    <!-- 常見問題頁面-->
    <!-- 顯示問題大類清單 -->
    <div class="content line-height-150 p-3" v-if="faqType === 1" >
      <div class="columns is-gapless is-multiline is-mobile" v-for="item in faqData" :key="item.code">
        <div class="column is-narrow">
          <i class="fas fa-info-circle fa-fw has-text-success mr-2"></i>
        </div>
        <div class="column" @click="$router.push(`/cardFaq?name=常見問題&mainType=${item.code}`)">
          {{item.title}}
        </div>
        <div class="column text-right is-narrow">
          <i class="fa fa-chevron-right ml-2"></i>
        </div>
      </div>
    </div>
    <!-- 顯示問題小類清單 -->
    <div class="content line-height-150 p-3" v-if="faqType === 2" >
      <div class="columns is-gapless is-mobile is-multiline" v-for="item in faqData.subTypes" :key="item.code">
        <div class="column is-narrow">
          <i class="fas fa-question-circle fa-fw has-text-success mr-2"></i>
        </div>
        <div class="column" @click="item.open=!item.open">
          {{item.title}}
        </div>
        <div class="column text-right pl-2 is-narrow" @click="item.open=!item.open">
          <div v-show="item.open==false"><i class="fa fa-chevron-right ml-2"></i></div>
          <div v-show="item.open==true"><i class="fa fa-chevron-down ml-2"></i></div>
        </div>
        <div class="column is-12" v-if="!item.mailClickable">
          <p class="box is-shadowless p-3 mt-2 border border-info has-background-aliceblue" v-if="item.open" v-html="item.content"></p>
        </div>
        <!-- mail clickable -->
        <div class="column is-12" v-else>
          <p class="box is-shadowless p-3 mt-2 border border-info has-background-aliceblue" v-if="item.open">
            若有其它問題：請來信 <u @click="deviseMailTo('fig.public@familygourmet.com.tw')"><b>fig.public@familygourmet.com.tw</b></u> 詢問.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="w3-row w3-large tabBar w3-light-gray" v-if="faqName=='使用者條款' || faqName=='隱私權聲明'">
      <div class="w3-col s4 w3-bottombar w3-center tabLink" style="width:50%"
           :class="{'isActive':faqName=='使用者條款'}"
           @click="faqName='使用者條款',$router.push('/cardFaq?name=使用者條款')"
      >使用者條款</div>
      <div class="w3-col s4 w3-bottombar w3-center tabLink" style="width:50%"
           :class="{'isActive':faqName=='隱私權聲明'}"
           @click="faqName='隱私權聲明',$router.push('/cardFaq?name=隱私權聲明')"
      >隱私權聲明</div>
    </div>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center" v-else>
      {{(faqType === 2)?faqData.title:faqName}}
    </div> -->

    <!-- 常見問題以外的頁面 -->
    <!-- <p style="white-space:pre-wrap" v-if="faqName!='常見問題'">{{infoData && infoData.subtext1}}</p> -->

    <!-- 常見問題頁面-->
    <!-- 顯示問題大類清單 -->
    <!-- <div v-if="faqType === 1" >
      <ul class="w3-ul">
        <li v-for="item in faqData" :key="item.code">
          <p class="w3-section-8 w3-display-container"  @click="$router.push(`/cardFaq?name=常見問題&mainType=${item.code}`)" style="padding:0 1rem 0 1.75rem">
            <i class="fas fa-info-circle fa-lg primary-text-brown" style="margin-left:-1.75rem"></i>
            {{item.title}}
            <span class="w3-display-right"><i class="fa fa-chevron-right primary-text-brown"></i></span>
          </p>
        </li>
      </ul>
    </div> -->
    <!-- 顯示問題小類清單 -->
    <!-- <div v-if="faqType === 2" >
      <ul class="w3-ul">
        <li v-for="item in faqData.subTypes" :key="item.code">
          <p class="w3-section-8"  @click="$router.push(`/cardFaq?name=常見問題&mainType=${item.code}`)">
          <p class="w3-section-8 w3-display-container"  @click="item.open=!item.open" style="padding:0 1rem 0 1.75rem">
            <i class="fas fa-question-circle fa-lg primary-text-brown" style="margin-left:-1.75rem"></i>
            {{item.title}}
            <span class="w3-display-right" v-show="item.open==false"><i class="fa fa-chevron-right primary-text-brown"></i></span>
            <span class="w3-display-right" v-show="item.open==true"><i class="fa fa-chevron-down primary-text-brown"></i></span>
          </p>
          <p class="w3-padding w3-round w3-section" style="background:#f1f1f1;" v-if="item.open && mainType!='M07'" v-html="item.content"></p>
        </li>
      </ul>
    </div> -->
  </div>
</template>

<script>

// 常見問題的資料
const rawFaqData = [
  {
    // 大類：
    code: 'M01',
    // 大類標題
    title: 'APP會員登入/註冊',
    // 小類
    subTypes: [
      { // 小類代碼
        code: 'S01',
        // 小類標題
        title: '我要如何申請享聚卡APP會員帳號？',
        // 小類內容
        content: '下載APP並開啟後，點選首頁下方"加入會員"，填入基本資料並綁定手機號碼，即可成為享聚卡APP的「享樂會員」。<br>享聚卡APP會員帳號，有會員升等制度，後續依照您到門市消費並出示APP內會員條碼，一年內累計消費滿8,888元即可升級為「享金會員」，成為享金會員後一年內累積消費滿18,888元，即可成為「享鑽會員」。',
        open: false
      }, {
        code: 'S03',
        title: '每人可以註冊幾個會員帳號呢？',
        content: '一個帳號對應且綁定一支手機號碼，每人每支手機號碼限申請一組會員帳號。',
        open: false
      }, {
        code: 'S04',
        title: '手機一直無法收到簡訊驗證碼，怎麼辦?',
        content: '請先確認您的手機系統，是否設定為阻擋垃圾簡訊或是簡訊功能未開啟。確認後請再次點選發送簡訊驗證碼，請系統再次發送手機認證碼至您的手機。請注意，【重新寄驗證碼】需間隔一分鐘以上；若持續收不到手機認證簡訊，請與客服(fig.public@familygourmet.com.tw )聯繫提供您的問題與帳號(手機號碼)，將會由專人盡速處理。',
        open: false
      }, {
        code: 'S06',
        title: '為什麼手機號碼及生日在註冊後無法更改？',
        content: '1.一個會員帳號對應且綁定一隻手機號碼無法更改。<br> 2.會員生日無法自行更改，若需修正，請與客服(fig.public@familygourmet.com.tw )聯繫。且修改次數限一次。',
        open: false
      }, {
        code: 'S07',
        title: '忘記密碼如何查詢',
        content: '請您在APP登入畫面下方點選忘記密碼，系統會以簡訊寄出驗證碼到您的手機中。<br> 提醒您，每日僅能操作”忘記密碼”三次，點選後請稍待簡訊送達，也請不要連續按下忘記密碼，因為您必須使用最後一封通知簡訊的驗證碼，前面收到的都將會被覆蓋失效。',
        open: false
      }
    ]
  },
  /* {
    code: 'M04',
    title: '儲值金門市儲值及使用問題',
    subTypes: [
      {
        code: 'S01',
        title: '如何充值儲值金?',
        content: '任一門市皆有提供現金儲值服務，儲值時需出示APP會員條碼給門市人員收費掃碼，即可完成門市儲值。',
        open: false
      }, {
        code: 'S02',
        title: '如何使用儲值金付款',
        content: '於門市消費結帳時，出示您的APP會員條碼並確認要以儲值金全額付款或是部分付款，核對結帳後立即從您的帳號扣款相應儲值金額',
        open: false
      }, {
        code: 'S03',
        title: '哪裡可以查詢儲值金交易紀錄',
        content: '於下方工具列點選【會員專區】>點擊【儲值金】進入【儲值紀錄】，下方列表只會顯示最近10筆「現金儲值或儲值金消費」紀錄。',
        open: false
      }
    ]
  }, */
  {
    code: 'M05',
    title: '如何獲得紅利積點？',
    subTypes: [
      {
        code: 'S01',
        title: '如何獲得會員積點？',
        content: '只要您成為享聚卡APP會員，當您持手機使用享聚卡APP至全家國際餐飲股份有限公司旗下各品牌(以下稱各品牌)，單筆全額支付消費金額每滿新台幣 100 元可獲贈 1 點紅利積點(100 元 1點… 以此類推，不足 100 元的金額恕不累計計算)，您所獲贈的紅利積點將會立即記錄更新在您的享聚卡APP中，而各品牌將不定期舉辦享聚卡APP會員專屬行銷活動，給您更多驚喜與回饋！',
        open: false
      }, {
        code: 'S02',
        title: '消費完成後，需要多久才可以獲得會員積點？',
        content: '在網路傳輸正常狀況下，消費完成後五分鐘內會員積點即會顯示在您的會員帳號內。',
        open: false
      }, {
        code: 'S03',
        title: '如何用紅利積點兌換餐點？',
        content: '請至門市點餐時出示APP會員條碼，並告知門市服務人員今日消費欲使用幾點會員積點兌換當期活動商品或折抵現金消費，於結帳時進行掃碼直接將您帳號中的積點折抵兌換，並確認紅利積點足夠。每個月都有不同的紅利兌換餐點，請洽各品牌官網或享聚卡官網。',
        open: false
      }, {
        code: 'S04',
        title: '除紅利積點兌換餐點外，會員積點也可以兌換指定優惠券，如何兌換？',
        content: '點選APP下方功能列，進入【會員專區】>【積點換券】，可依照表單上品項用帳號內剩餘積點兌換指定商品優惠券，選定確認後即可兌換該優惠券。',
        open: false
      }, {
        code: 'S05',
        title: '如果積點兌換錯的優惠券，可否取消換回積點呢？',
        content: '一旦確認兌換即無法取消，使用的積點不再歸還，還請務必詳閱票券內容，以確保您的權益。',
        open: false
      }, {
        code: 'S07',
        title: '若我沒有帶手機或結帳時無法出示我的APP條碼，那這次消費可以累積會員積點嗎？',
        content: '您可以跟服務人員告知您享聚卡APP綁定的的行動電話號碼，這樣就可以將您當下的消費金額累積到您的享聚卡APP內。但若您要兌換商品，則必須要攜帶手機。',
        open: false
      }, {
        code: 'S08',
        title: '我的紅利積點及商品券、現金券等可以轉贈他人嗎？',
        content: '可以的，只要您要轉贈行動電話已經綁定享聚卡APP即可將您手機內的享聚卡紅利點數以及商品券、現金券等轉贈朋友。但生日券為會員專屬優惠故無法轉贈。',
        open: false
      }, {
        code: 'S09',
        title: '哪裡可以查詢積點交易紀錄？',
        content: '於下方工具列點選【會員專區】>點擊【積點】進入【積點紀錄】，下方列表會顯示最近10筆「積點獲得或積點兌換」紀錄。',
        open: false
      }
    ]
  },
  {
    code: 'M06',
    title: 'APP優惠券兌換及使用問題',
    subTypes: [
      {
        code: 'S01',
        title: '優惠券使用期限及兌換方式',
        content: '至門市點餐時出示優惠券 (點選APP下方功能列，進入【會員專區】>【優惠券】>【可使用】)，確認兌換品項；於結帳時出示畫面與門市服務人員進行【掃碼兌換】及可兌換指定優惠品項或折扣。 <br> 提醒您：所有優惠票券皆有使用期限，為確保您的消費權益，請確實於票券到期前，前往門市進行兌換。兌換券一旦過期，不再做補發。',
        open: false
      }, {
        code: 'S02',
        title: '我已經是享聚卡實體卡會員，為什麼我的消費沒有獲贈紅利積點？',
        content: '您需下載『享聚卡APP』並將享聚卡實體綁定在享聚卡APP上，如此您之後的消費才可獲得紅利積點，且您實體卡上的紅利積點也可以移轉到享聚卡APP上繼續累積。',
        open: false
      }, {
        code: 'S03',
        title: '我帳號中的紅利積點是有期限的嗎？',
        content: '自2019年4月1日起，當年度累積的點數於累點隔年3月31日失效，若點數到期前未使用完畢，將自動失效歸零。如2021年1月3日累積的點數，使用期限至2022年3月31日，2022年4月1日點數將做歸零處理。',
        open: false
      }, {
        code: 'S04',
        title: '我有多張實體卡，綁入同一隻手機，請問開卡禮及回娘家禮也可以送很多份嗎？',
        content: '<span class="text-danger">開卡綁定所送的商品兌換券(開卡禮)、以及舊會員綁定所送的商品兌換券(回娘家禮)皆只針對一個手機號碼綁定後發出，若您有多張實體卡綁入同一個手機號碼，只會發送一份商品兌換券(開卡禮、回娘家禮)。</span>',
        open: false
      }, {
        code: 'S05',
        title: '我獲得的商品券、現金券等贈品券是有期限的嗎？',
        content: '有的，每項商品券、現金券、折價券等，皆因當時活動規範而有不同的有效期限，逾時視同無效，請打開享聚卡APP確認各項贈券的有效期限。',
        open: false
      }, {
        code: 'S06',
        title: '什麼是會員升等，如何維持我的會員升等？',
        content: '您一完成註冊享聚卡APP，即成為『享樂會員』，從您成為享樂會員的當天往後推365天內，累積消費8,888元，在當日您即可升等為『享金會員』，在您成為『享金會員』的當天往後推365天內，您若累積消費18,888元，在當日您即可升等為『享鑽會員』。例如, 您於 2020年7月2日 註冊加入享聚卡APP，您於2020年7月2日當天立即成為『享樂會員』，而您於 2021年7月2日23:59前消費累積滿8,888元，則在2021年7月2日成為『享金會員』，不同等級的會員我們將回提供不同的優惠活動。但，若您未於365天內消費達該會員等級之金，您的會員等級將會下降一等，例如：您於2020年7月2日成為『享金會員』，但於2021年7月2日23:59前消費累積未滿8,888元，您的會員等級則於2021年7月3日降為『享樂會員』。',
        open: false
      }, {
        code: 'S07',
        title: '我要如何知道已經成為享金會員、享鑽會員？',
        content: '請您使用手機下載享聚卡APP，在您達到享金會員、享鑽會員資格時，可即時透由 APP 畫面得知等級達成狀態，您也可持註冊手機至任何一家全家國際餐飲股份有限公司旗下各品牌店鋪，請店鋪人員協助查詢目前等級狀態。',
        open: false
      }, {
        code: 'S08',
        title: '一年內消費8,888元則可從享樂會員升級為享金會員，再消費18,888元，則可升級為享鑽會員，若我一年內消費35,000元，可以從享樂會員跳升級為享鑽會員嗎？',
        content: '很抱歉是不行的。每年在您的等級到期日時，系統將會自動確認您在此會員資格 消費金額是否達成維持該等級的門檻，恕無法跳級升級。',
        open: false
      }, {
        code: 'S09',
        title: '我成為享金會員、享鑽會員有什麼好處？',
        content: '當您升級為享金會員時，將立即贈送紅利75點;在升級為享鑽會員後，將立即贈送紅利200點，且每一年的會員升等皆有不同的升等活動，敬請隨時查看享聚卡APP內的活動說明。',
        open: false
      }, {
        code: 'S10',
        title: '如果我消費後退貨，我的紅利積點會被扣除嗎？',
        content: '是的。若因各種原因導致消費未成功，或是您欲退貨所消費的商品，所相對應獲贈的紅利積點將會進行扣除，同時也將可能影響您的等級、回饋優惠內容及等級到期日等資料有所異動，期間可能會收到等級相關信件，而正確等級資料均以享聚卡APP系統紀錄為準。',
        open: false
      }, {
        code: 'S11',
        title: '我有多個手機號碼，可以一起累兌點嗎？',
        content: '不行，需加入會員後進行多張集點卡歸戶動作，歸戶到同一全家會員帳戶後才可進行兌點。若尚未歸戶，則須指定單一型手機號碼進行累點。',
        open: false
      }, {
        code: 'S12',
        title: '不是智慧型手機一樣可以累兌點嗎(累兌點需要在網路系統下操作嗎)？',
        content: '不行，累兌點需要在有網路連線的情況下才可以操作。',
        open: false
      }, {
        code: 'S13',
        title: '如果我要申請刪除我的享聚卡APP帳號，帳號內的紅利積點及商品券、現金券等優惠可以還給我嗎？',
        content: '您的紅利積點以及會員等級與所有贈品券均為免費贈送的，無任何現金價值，若您決定要刪除享聚卡APP帳號不再使用，紅利積點及贈品券將無法換算為其它商品或現金來予以退還，請您特別留意。',
        open: false
      }, {
        code: 'S14',
        title: '生日有甚麼優惠？生日券怎麼發送？',
        content: '每個月都會發送專屬生日優惠券給當月壽星，生日優惠券包含商品或折扣等不定期優惠，使用期限為一整個月。如：您生日為9月，生日禮有效期限為9/1-9/30。 <br>生日禮每年僅發送一次，生日禮發送時間為前一個月21號，票券直接發送您的【優惠券】中。 若您於生日前一個月21號之前已完成下載並註冊會員，即可於生日前一個月 21號收到生日優惠券。 若您於生日前一個月21號之後才成為會員，您的生日禮將於隔年生日前一個月份 21號收到生日禮。在您生日當月我們將會發放生日優惠券到您的享聚卡APP，各品牌生日優惠請見各品牌官網說明。<br>每個享聚APP內含當年沃克生日優惠券乙張，使用期限為生日當月一整個月。如：您生日為9月，生日券有效期限即為當年9/1-9/30。持當月壽星持 身分證明文件 及 內含生日優惠券的享聚卡APP至沃克牛排消費，可享當筆消費88折優惠(10%服務費另計，不可與其他優惠並用)，但若您下載本APP時，您的生日已經過期，則無法補發今年的生日禮。',
        open: false
      },
    ]
  },
  {
    code: 'M07',
    title: '其他問題',
    subTypes: [
      {
        code: 'S01',
        title: '客服信箱',
        // content: '若有其他問題：請於上班時間(週一~週五-非國定例假日)10:00~17:00來電02-2523-5775*1818或來信(fig.public@familygourmet.com.tw )將由專人為您服務。',
        content: '若有其它問題：請來信 fig.public@familygourmet.com.tw 詢問',
        open: false,
        mailClickable: true
      }
    ]
  },
]

import store from "src/store";
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      rawFaqData: JSON.parse(JSON.stringify(rawFaqData)), // 常見問題列表
      isActiveTab: 1,
      isQuestion: true,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl() { return this.state.srcUrl },
    // 主標題
    faqName()  { return this.$route.query.name },
    // 大類代碼
    mainType() { return this.$route.query.mainType },
    // 小類代碼
    subType()  { return this.$route.query.subType },
    // 常見問題分類 (用來判斷當下 FAQ 頁面是要顯示 問題大類 / 問題小類 / QA內容)
    faqType()  {
      // 0 => 不是 '常見問題'
      if (this.faqName !== '常見問題') return 0
      // 1 => 顯示問題大類清單
      if (this.mainType === undefined && this.subType === undefined) return 1
      // 2 => 顯示問題小類清單
      if (this.mainType !== undefined && this.subType === undefined) return 2
      return undefined
      // 3 => 顯示 QA 內容
      // if (this.mainType !== undefined && this.subType !== undefined) return 2
    },
    // 常見問題資料
    faqData() {
      // 0 => 不是 '常見問題'
      if (this.faqType == 0) return undefined
      // 1 => 顯示問題大類清單
      if (this.faqType == 1) return this.rawFaqData
      // 2 => 顯示問題小類清單 & 顯示 QA 內容
      if (this.faqType == 2) return this.rawFaqData.find(item => item.code === this.mainType)
      return undefined
    },
    // 常見問題以外的資料
    // brandInfo() { return this.state.brandInfo },
    // infoData()  { return this.brandInfo.find(item => item.detailname === this.faqName ) },
  },
  // 頁面模組
  methods: {
    // (殼專屬) 寄 email
    deviseMailTo(email){
      deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    },
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
  // to: 上一個頁面代碼
  // form: 目前頁面代碼
  // next: 向下執行
    // 頁面名稱
    store.state.isPageName = '常見問題'
    next();
  },
  beforeRouteUpdate: function(to, form, next){
  // to: 上一個頁面代碼
  // form: 目前頁面代碼
  // next: 向下執行
    this.rawFaqData = JSON.parse(JSON.stringify(rawFaqData))
    next();
  },
  // 建立頁面後
  created: function(){

  }
}
</script>
