<template>
  <div class="h-100 overflow-auto">

    <!-- 輪播 Banner -->
    <Swiper class="home-swiper" ref="awesomeSwiperA" :options="swiperOptionA" v-if="hasBanner">
      <swiper-slide v-for="banner in pageData.slideBanners" :key="banner.GID"
        :data-background="showImageWuhu(banner.PicURL+'?v='+(new Date().getTime()))" class="swiper-lazy">
        <div class="swiper-lazy-preloader"></div>
        <!-- <div class="h-100 w-100"></div> -->
        <div class="swiper-content m-3 p-4 rounded-lg shadow" data-swiper-parallax="-200" data-swiper-parallax-opacity="0" @click="redirectToLink(banner)">
          <h4 class="title is-5 mb-1">
            <span class="d-inline-block" style="width:calc(100% - 20px)">{{banner.BannerName}}</span>
            <span class="is-pulled-right pl-2 has-text-success"><i class="fas fa-chevron-right fa-xs"></i></span>
          </h4>
          <p class="my-2 is-size-7 text-black-50">{{formatTime(banner.SaleTime, 'YYYY/MM/DD')}}</p>
          <p class="text-break">{{banner.Remark}}</p>
        </div>
      </swiper-slide>
      <!-- slides -->
      <!--
      <swiper-slide
        data-background="https://www.ootoya.com.tw/upload/ootoya_news/20191113/1025-定食日-夾頁菜單-01.jpg" class="swiper-lazy"
      >
        <div class="swiper-lazy-preloader"></div>
        <div class="swiper-content m-3 p-4 rounded-lg shadow" data-swiper-parallax="-200">
          <h4 class="title is-4 mb-1">【13日定食日】邀您一起好好吃飯！增強體力！</h4>
          <p class="mb-1">2020/04/17</p>
          <p>大戶屋，重視每位消費者，嚴選台灣擁有完整生產履歷及品檢報告。</p>
        </div>
      </swiper-slide>
      <swiper-slide
        data-background="https://www.ootoya.com.tw/upload/ootoya_news/20190829/0910.jpg" class="swiper-lazy"
      >
        <div class="swiper-lazy-preloader"></div>
        <div class="swiper-content m-3 p-4 rounded-lg shadow" data-swiper-parallax="-200">
          <h4 class="title is-4 mb-1">【13日定食日】邀您一起好好吃飯！增強體力！</h4>
          <p class="mb-1">2020/04/17</p>
          <p>大戶屋，重視每位消費者，嚴選台灣擁有完整生產履歷及品檢報告。</p>
        </div>
      </swiper-slide>
      -->
      <!-- Optional controls -->
      <div class="swiper-pagination"  slot="pagination"></div>
    </Swiper>
    <!-- 首頁搶券按鈕(時空門) -->
    <div v-if="hasTicket" class="position-fixed floating" @click="$router.push('/getCoupon?isAuto=2')">
      <img width="400" src="../../../assets/images/floating.png" alt="">
    </div>

    <!-- 沒有設定任何資料跑這裡 -->
    <div v-if="!hasBanner" class="no-data h-100 has-background-white-bis text-center" style="padding-top: 50%">
      <img width="240" src="../../../assets/images/img_init.png">
    </div>
  </div>

</template>

<script>
import store from 'src/store'
import { S_Obj,GetDateDiff,FetchSysConfig } from 'src/fun1.js'	// 共用fun在此!
import { InitClock, Clock1 } from 'src/clock1.js'	// 計時器

import { deviseFunction, goMOrder } from 'src/libs/deviseHelper.js'
import { showImageWuhu, setLoading, isLogin } from 'src/libs/appHelper.js'
import { formatTime } from 'src/libs/timeHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

export default {
  name: 'CardIndex',
  // BANNER輪播
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data() {
    return {
      // BANNER輪播
      swiperOptionA: {
        // Enable lazy loading
        observer:true,
        lazy: true,
        parallax: true,
        pagination: {
          el: '.swiper-pagination'
        },
      },
      isSideMenu: false,
      state: this.$store.state,
      // ticketList: [],
      hasTicket: false,
    };
  },
  setup() {
    return { Clock1 }
  },
  async beforeRouteEnter(to, from, next) {
    store.dispatch('fetchData4CardIndex')
    setLoading(true)

		if (!isLogin.value) {
			setLoading(false)
			next();
			return
		}

    // 取-可用的優惠卷列表資訊 - 快速時空門版
		await store.dispatch('fetchGetDrawTicketListJson');

		let setMinute = await FetchSysConfig('AppDrawMinute')
		// let setMinute = 60	// @@
			,setSecs 		= setMinute * 60
		// console.log('beforeRouteEnter-setMinute: ', setMinute);	// @@

		next(vm => {
			const _act1	= 'HasDrawTicket'
				,now1 		= formatTime(new Date(), 'YYYY-MM-DD HH:mm:ss')
			let arr1	= store.state.baseInfo.memberData.drawTicketList
				,i 			= arr1.length;
			// console.log('快速時空門版-now1,arr1: '+now1, arr1);	// @@

			vm.hasTicket = false;
			S_Obj.save(_act1, 0);
			while (i--) {
				const o 	= arr1[i]
					,_s1 		= o.begin_date
					,_s2 		= o.end_date
					,nSecs 	= GetDateDiff(now1, _s1, "s")
					,isShow	= now1 <= _s2 && nSecs <= setSecs
				// console.log('優惠卷-mins, startTime, endTime: '+nSecs/60, _s1, _s2);	// @@
				if (isShow) {
					// console.warn('優惠卷isShow: '+isShow, o.TicketTypeName);	// @@
					InitClock(nSecs);	// 啟動定時器
					S_Obj.save(_act1, 1);
					vm.hasTicket = true;
					break;
				}
			}
			setLoading(false)
		});
  },
  computed: {
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.$store.getters.currentApp.apiip.replace('/public/AppVIP.ashx', '') },
    mainEnterpriseID() { return this.state.publicData.MainEnterPriseID },
    pageData() {
      return this.state.baseInfo.publicData.index
    },
    stores() { return this.pageData.store },
    brands() {
      let companyData = this.state.baseInfo.publicData.companyData
      let brandList = []

      if (companyData) {
        // 品牌
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      return brandList
    },
    // 即時更新橫幅的圖片
    hasBanner() { return !!this.pageData.slideBanners.length },
    mainBannerUpdate() { return this.pageData.slideBannersUpdate },
  },
  methods: {
    showImageWuhu,
    formatTime(timeStr, formatStr) {
      return formatTime(timeStr, formatStr)
    },
    redirectToLink(banner) {
			const LType = banner.LinkType
					,LPos 	= banner.LinkPostion || banner.OuterURL
					,isTrue	= !!LPos.trim()
			if (!isTrue) { return; }
      const marketID = ['MarketHead','MarketKind','MarketDetail'];
      if (LType == 'InnerURL') {
				const has1 	= /qShopID/.test(LPos) && /qShopType/.test(LPos)
					,_path		= '/' + LPos
				// console.log('redirectToLink-LPos: ', LPos);	// @@
				if (has1) {
					const GetStr1 = function(v1) {
						const	str1 = LPos.slice(LPos.indexOf('?')+1).trim()
						if (str1) {
							let i	 		= 0
								,params = str1.split("&")
								,nLen = params.length
							while (i<nLen) {
								let val = params[i].split("=");
								if (val[0] == v1) {
									return unescape(val[1]);
								}
								i++;
							}
						}
						return null;
					};

					let sID 	= GetStr1('qShopID')
						,sType 	= GetStr1('qShopType')
					goMOrder(sID, sType, '/card');
				} else {
					this.$router.push(_path);
				}

      } else if (LType == 'OuterURL') {
        let url = banner.OuterURL
        if (url) {
          // 在殼裡面 => 開啟瀏覽器
          if (typeof(JSInterface) !== 'undefined') {
            deviseFunction('openWeburl', url, '')
          // 在瀏覽器 => 瀏覽器新開一個tab
          } else {
            window.open(url, '_blank')
          }
        }
      }else if (LType == 'MessageDetail') {
				this.loadMsg(LPos);
      }else if (LType == 'MessageKind') {
				this.loadMsgKind(LPos);
      }else if (LType == 'FoodKind') {
        this.loadFoodKind(LPos);
      }else if (LType == 'FoodDetail') {
        this.loadFood(LPos);
      }else if (marketID.indexOf(banner.LinkType) > -1) { 
        store.commit('setMarketBanner',{ LinkType:banner.LinkType,LinkPostion:banner.LinkPostion});       
        if (banner.LinkPostion != '') this.$router.push({ path: '/cardShop'})
      }
    },
    async loadMsg(p_value) {
      //訊息
      //await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandNews')
      const path = `/cardNewspage/${p_value}`
      this.$router.push({ path: path });
    },
    async loadMsgKind(p_value) {
      //訊息類別
      await store.dispatch('fetchAppBrandData')
      this.$router.push({ path: '/cardBrand', query: { msgKindID:p_value} });
    },
    async loadFoodKind(p_value) {
      //商品類別
      await store.dispatch('fetchAppBrandData')
      await store.dispatch('fetchBrandDataKind', {KindID: p_value})
      this.$router.push({ path: '/cardBrand', query: { foodKindID:p_value} });
    },
    async loadFood(p_value) {
      //商品
      if (this.brands && this.brands.length == 0) await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandDataFood', {DetailID: p_value})
      let brandArr=[];
      if (Array.isArray(store.state.baseInfo.publicData.brandListDetail) && store.state.baseInfo.publicData.brandListDetail.length > 0){
        const foodObj = store.state.baseInfo.publicData.brandListDetail[0];
        brandArr = this.brands.filter((item) => {
          return item.ID == foodObj.BrandID
        })

        if (Array.isArray(brandArr) && brandArr.length > 0){
          await store.dispatch('fetchBrandData', {GID: brandArr[0]["GID"]})
          const path = `/cardProducts/${foodObj.DetailID}?mainName=${foodObj.KindName}&subCode=${foodObj.KindID}&gid=${brandArr[0]["GID"]}`;
          this.$router.push({ path: path });
        }
      }
    },
    // 導向我的訂餐
    // showMyMOrder() {
    //   const isDevelopment = (/dev-service.jinher.com.tw\/projectFeature\//.test(window.location.href))
    //   let url
    //   if (isDevelopment)  url = `https://dev-service.jinher.com.tw/projectFeature/APP_MOrder/MOrder/index.html?#/record`
    //   if (!isDevelopment) url = `https://kakar.jinher.com.tw/app/morder/index.html?#/record`

    //   // 預設值
    //   const data = {
    //     // 會員門店號
    //     //"ShopID": ShopID,
    //     // 主企業號的 ID
    //     "mainEnterpriseID": this.state.publicData.MainEnterPriseID,
    //     //"mainEnterpriseID": this.mainEnterpriseID,
    //     // 主企業號的 connect
    //     "mainConnect": this.state.publicData.MainConnect,
    //     // Mode選的type, (ex:takeout)
    //     //"ShopType": ShopType,
    //     // Mode選的type, (ex:takeout)
    //     "Mobile": this.state.userData.Account,
    //     // 登入者姓名
    //     "Username": this.state.userData.Name,
    //     // 登入者地址
    //     "Address": this.state.userData.Address,
    //   }

    //   // 寫入要存的 key 設定
    //   data['_KEY'] = "ShopID,mainEnterpriseID,ShopType,Mobile,Username,Address,mainConnect"

    //   // 執行存入殼裡
    //   deviseFunction('SetSPS', JSON.stringify(data), '')

    //   return window.location.href = url
    // },
    // 主橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-slide')
      imageObjs.forEach((item)=>{
        let imgStyle = item.style
        let imgUrl = imgStyle.backgroundImage

        // 如果已經load好圖片
        if (imgUrl) {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.style.backgroundImage = newImgUrl
        }
      })
    }
  },
  watch: {
    mainBannerUpdate: function(val) {
      // 如果pull request主橫幅
      if (val) {
        this.refreshImage() // 即時更新主橫幅的圖片
        store.commit('setMainBannerUpdate', false) // 清空flag
      }
    }
  },
/*
  beforeMount() {
    console.log('beforeMount 被執行');	// @@
		// 未登入 => 導回首頁
		// if (!isLogin) context.root.$router.push('/')
		// setLoading(true)
		// store.dispatch('fetchAppPublicData')
		// setTimeout(() => setLoading(false), 300)
  },
 */
}
</script>

<style lang="scss" scoped>
.floating {
  z-index: 97;
  left: 50%;
  padding: 16px;
  top: calc(50% - 54px + env(safe-area-inset-top));
  transform: translate(-50%,-50%);
  background: linear-gradient(-45deg, rgb(255,255,0), rgb(155,220,16));
  background-size: 400% 400%;
  border-radius: 59% 41% 42% 58% / 57% 46% 54% 43%;
  transition: all 1s ease-in-out;
  animation: morph 2s ease-in-out infinite;
}
@keyframes morph {
  0% {
		border-radius: 59% 41% 42% 58% / 57% 46% 54% 43%;
    background-position: 0% 50%;
	}
	50% {
		border-radius: 57% 43% 58% 42% / 38% 49% 51% 62%;
    background-position: 100% 50%;
	}
	100% {
		border-radius: 59% 41% 42% 58% / 57% 46% 54% 43%;
    background-position: 0% 50%;
	}
}
</style>
