<template>
  <div class="h-100 overflow-auto">
    <div class="h-100 d-flex flex-column">
      <!-- 點數資訊 -->
      <div class="has-background-white px-4" style="height: 210px">
        <div class="columns is-mobile is-gapless is-multiline is-vcentered">
          <div class="column is-12">
            <div class="level py-2 is-mobile">
              <div class="level-item has-text-centered">
                <figure class="image is-128x128 vip-avatar">
                  <img v-if="getTypeC == 'A'" class="is-rounded" src="../../../assets/images/nav_ic_avatar.png">
                  <img v-if="getTypeC == 'B'" class="is-rounded" src="../../../assets/images/nav_ic_avatar_gold.png">
                  <img v-if="getTypeC == 'C'" class="is-rounded" src="../../../assets/images/nav_ic_avatar_diamond.png">
                </figure>
              </div>
              <div class="level-item has-text-centered" @click="$router.push('/cardPoint')">
                <div>
                  <p class="heading is-size-6 has-text-grey-light">點數 <i class="fas fa-caret-square-right has-text-success"></i></p>
                  <p class="title" :class="{'has-text-grey-light':(!state.baseInfo.memberData.vip_infoIsLoaded || isNaN(points))}">{{ (!state.baseInfo.memberData.vip_infoIsLoaded || isNaN(points)) ? '讀取中..' : points }} <sub class="is-size-6 ml-1 has-text-grey-light font-weight-normal">點</sub></p>
                </div>
              </div>
              <!-- <div class="level-item has-text-centered" @click="$router.push('/cardPrepay')">
                <div>
                  <p class="heading is-size-6 has-text-grey-light">儲值金 <i class="fas fa-caret-square-right has-text-success"></i></p>
                  <p class="title">{{balance}}<sub class="is-size-6 ml-1 has-text-grey-light font-weight-normal">元</sub></p>
                </div>
              </div> -->
            </div>
          </div>
          <div class="column is-12">
            <progress class="progress is-small is-warning" :value="showCardProgress" max="100" style="height: 8px"></progress>
          </div>
          <!-- <div v-if="getTypeC != 'A'" class="column is-narrow">
            <i class="fas fa-crown fa-fw text-warning"></i>
          </div> -->
          <div class="column mt-2 is-12 is-size-7 has-text-success">
            <template v-if="!state.baseInfo.memberData.vip_infoIsLoaded">
              讀取中..
            </template>
            <template v-else-if="getTypeC == 'A'">
              再累積 <span>{{diffSale}}</span> 元 即可升級 享金 會員
            </template>
            <template v-else-if="getTypeC == 'B' && diffSale">
              再累積 <span>{{diffSale}}</span> 元 即可升級 享鑽 會員
            </template>
            <template v-else-if="getTypeC == 'C' && diffSale > 0">
              再累積 <span>{{diffSale}}</span> 元就能延續一年 享鑽 會員
            </template>
            <template v-else-if="getTypeC == 'C' && diffSale <= 0">
              恭喜您已成功延續一年 享鑽 會員
            </template>
            
            <b class="is-pulled-right has-text-dark">{{card_info.ExpiredDate}}<!-- {{upgradeExpiredDate}} --></b>
          </div>

        </div>
      </div>

      <!-- 功能選單 -->
      <div class="has-background-success pt-5 flex-fill service-items">
        <div class="columns is-mobile is-gapless is-multiline mx-3">
          <div class="column mb-3 is-4">
            <div class="text-center" :data-badge="ticketListLength_quick" @click="$router.push('/cardCoupon')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_coupon.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">我的優惠券</p>
            </div>
          </div>
<!-- 
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/getCoupon?isAuto=4')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_coupon_limit.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">點擊搶券</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/getCoupon?isAuto=3')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_coupon_limit.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">到店領券</p>
            </div>
          </div>
 -->
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/pointExg')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_coupon_point.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">集點換券</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/pointGive')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_pointgive.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">點數轉贈</p>
            </div>
          </div>
          <!-- <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/oldCard')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_cardBack.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">享聚卡回娘家</p>
            </div>
          </div> -->
          <!-- <div class="column mb-3 is-4">
            <div class="text-center">
              <figure class="image m-auto bg-white rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_brand.png">
              </figure>
              <p class="heading is-size-6 mt-2">現場候位</p>
            </div>
          </div> -->
          <!-- <div class="column mb-3 is-4">
            <div class="text-center">
              <figure class="image m-auto bg-white rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_news.png">
              </figure>
              <p class="heading is-size-6 mt-2">我要訂位</p>
            </div>
          </div> -->
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/cardPay')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_record.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">消費紀錄</p>
            </div>
          </div>
          <!-- <div class="column mb-3 is-4">
            <div class="text-center">
              <figure class="image m-auto bg-white rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_member.png">
              </figure>
              <p class="heading is-size-6 mt-2">點數轉贈</p>
            </div>
          </div> -->
          <div class="column mb-3 is-4">
            <div class="text-center" @click="$router.push('/setting')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_profile.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">會員資訊</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" @click="goMOrder()">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_store.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">我的訂單</p>
            </div>
          </div>
          <div class="column mb-3 is-4">
            <div class="text-center" :data-badge="notifyCnt" @click="$router.push('/pushNotifications')">
              <figure class="image m-auto bg-warning rounded-circle is-64x64">
                <img class="image-scale drop-shadow" src="../../../assets/images/nav_ic_pushNotifications.png">
              </figure>
              <p class="heading is-size-6 mt-2 font-weight-bolder">消息通知</p>
            </div>
          </div>
        </div>
        <!-- 置底回首頁 -->
        <div class="position-fixed m-3" style="bottom:0; right:0">
          <a @click="$router.push('/card')">
            <div><i class="fas fa-home fa-fw fa-lg has-text-white"></i></div>
          </a>
        </div>
      </div>
    </div>

    <!-- 卡Code -->
    <transition name="slide-top">
      <!-- <div class="w3-white funcLayer" v-if="currentCardCode">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="currentCardCode=false;$store.commit('setCssTouch', true)">
        </header>
        <div class="w3-container w3-padding-large w3-padding-64 w3-center">
          <img :src="cardQrCode.image" class="w3-image" alt="" style="width: 75%">
          <p>{{cardQrCode.value}}</p>
        </div>
      </div> -->
    </transition>

    <!-- 外連結 -->
<!-- 
    <transition name="slide-top">
      <div class="w3-white funcLayer" v-if="isLink">
        <header class="header w3-container flex-center-v w3-white w3-border-bottom w3-border-gray" style="justify-content:flex-end;">
          <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;" @click="isLink=false;$store.commit('setCssTouch', true)">
        </header>
        <div style="width:100vw;height:calc(100% - 62px);overflow:auto;-webkit-overflow-scrolling:touch">
          <iframe :src="srcLink" frameborder="0" width="98%" height="100%"></iframe>
        </div>
      </div>
    </transition>
-->
  </div>
</template>

<script>
import store from 'src/store'
// import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
import { goMOrder } from 'src/libs/deviseHelper.js'
export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: ''
    };
  },
  setup() {
    return { goMOrder }
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    userName()   { return this.state.userData.Name },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    cardQrCode() { return this.state.cardQRCode },
    card_info() { return this.memberData.card_info },
    getTypeC() { return this.card_info.CardTypeCode },
    points() { return parseInt(this.card_info.Points) },
    balance() { return parseInt(this.card_info.Balance) || 0 },
    diffSale() { return parseInt(this.card_info.DifferenceCumulativeSales) || 0 },
    // 2020-06-09: 沒有用到了,改成直接用memberData.card_info.ExpiredDate
    // 會員卡累積消費升級期限
    // upgradeExpiredDate() {
    //   if (this.card_info.UpgradeDate == undefined) return ''

    //   const upgradeDate = new Date(this.card_info.UpgradeDate)
    //   const expiredDate = new Date(upgradeDate.setDate(upgradeDate.getDate() + parseInt(this.card_info.UpgradeDateDays)))
    //   const d = expiredDate
    //   return `${d.getFullYear()}/${d.getMonth()+1}/${d.getDate()}`
    // },
    showCardProgress() {
      if (this.isProgress === false) return 0
      // vip消費門檻
      let until = parseInt(this.card_info.CardTypeCumulativeSales) || 0
				,c_latSales = parseInt(this.card_info.CumulativeSales) || 0
      if (until == 0) {
        // 秋林:
        // if CardTypeCumulativeSales  = 0   then  CardTypeCumulativeSales  = CumulativeSales + DifferenceCumulativeSales
        until = c_latSales + this.diffSale
      }
      let value = parseInt(c_latSales/until*100) || 0
      value = (value > 100) ? 100 : value
      // value = 50// only for test
      // console.log(c_latSales
      //   + ' / '
      //   + until
      //   + ' = '
      //   + value
      //   + '%')
      return value
    },
    ticketListLength_quick() {
      return this.memberData.vip_info.TicketCount
    },
    ticketListLength() {
      let ticketLength = 0
      let ticketList = this.memberData.ticketList
      if (ticketList) {
        ticketLength = ticketList.length
      }
      return ticketLength
    },
    notifyCnt() {return this.memberData.pushNotifyNoRead},

  },
  // 頁面模組
  methods: {
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },

  },
  // 每次進入此頁面會執行的設定
  beforeRouteEnter: function(to, from, next){
    // for 點數 + QR Code
    // 取優惠卷列表資訊
    store.dispatch('fetchAppPublicDataDetailMemberWuhu')

    store.state.isPageName = '會員專區'		// 頁面名稱

    next();
  },
  // 建立頁面後
  created: function(){
    // 顯示會員的 progress bar
    setTimeout(() => {
      this.isProgress = true;
    }, 1500)
  },
}
</script>
<style lang="scss" scoped>
  .vip-avatar {
    transform: scale(.8);
    margin: 0 -16px;
  }
  .image-scale {
    transform: scale(1.2);
  }
  progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, #fdca30, #f34235);
    border-radius: 6px;
  }
  .service-items {
    .heading {
      letter-spacing: 0;
    }
  }
  .is-size-6dot5 {
    font-size: 1.15rem !important;
  }
</style>
