<template>
  <div class="h-100 overflow-auto bg-white">
    News List Move to Brand Page
  </div>
</template>

<script>
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage } from 'src/libs/appHelper.js'
// import VueAwesomeSwiper from 'vue-awesome-swiper'
// import 'swiper/dist/css/swiper.css'

export default {
// BANNER輪播
  // components: {
  //   Swiper: VueAwesomeSwiper.swiper,
  //   SwiperSlide: VueAwesomeSwiper.swiperSlide
  // },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    currentApp() { return this.state.currentAppUser.EnterPriseID },
    srcUrl() { return this.getters.srcUrl },
    newsData() { return this.state.publicData.news.data.filter(item => item.KindID !== "_INFO_") },
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      newsType: 'brand',
      // BANNER輪播
      // swiperOptionA: {
      //   pagination: {
      //     el: '.swiper-pagination'
      //   },
      // },
    };
  },
  // 頁面模組
  methods: {
    showImage,
    deviseUrl(url){
      return deviseFunction('openWeburl', url, '')
    }
  },
  beforeRouteUpdate(to, from, next) {
    document.querySelector(".overflow-auto").scrollTop = 0 // 置頂
    next();
  },
}
</script>
