<template>
  <div class="h-100 bg-white overflow-auto">
    <div>
      <!-- <p class="text-center is-size-5 sticky-top bg-white reg-title">最新消息</p> -->
      <div class="card is-shadowless" v-if="pageData && pageData.KindID !== undefined" v-cloak>
        <div class="card-image">
          <figure class="image has-background-white-ter is-256x265">
            <img :src="showImageWuhuPage(pageData.PicURL)">
          </figure>
        </div>
        <div class="card-content p-3">
          <div class="media mb-3">
            <div class="media-content overflow-hidden">
              <!-- 分享功能 -->
              <p class="is-pulled-right" @click="deviceShare(pageData)">
                <span class="fa-stack align-middle text-warning" style="font-size: 0.75em">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
                </span>
              </p>
              <p class="title mt-2 is-4">{{pageData.DetailName}}</p>
              <div class="is-divider" :data-content="'發布日期：'+pageData.SaleTime.substring(0, 10)"></div>
            </div>
          </div>
          <div class="content">
            <div class="products-text white-space-wrap">
              {{pageData.SubText1}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div v-if="pageData && pageData.KindID !== undefined" v-cloak>
    <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
      {{pageData.DetailName}}
    </div>
    <div>
      <img class="w3-image" :src="showImage(pageData.PicURL)"  alt="">
    </div>
    <p class="w3-container primary-text-red w3-display-container">
      發布日期: {{pageData.SaleTime.substring(0, 10)}}
    </p>
    <p class="w3-container" style="word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap;">
      {{pageData.SubText1}}
    </p>
  </div> -->
</template>

<script>
import store from 'src/store'  
import { showImage,showImageWuhu, showAlert } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl() { return this.getters.srcUrl },
    pageData() {
      return this.state.baseInfo.publicData.brandNewsOne
    },
    newsTypes() { return this.state.publicData.news.types },
  },
  methods: {
    showImage,
    //showImageWuhu,
    // 顯示分類名稱
    newsTypeName(){
      
      if (this.newsTypes.length === undefined || this.pageData.KindID === undefined ) return ''

      return this.newsTypes.find((type)=>{return type.KindID === this.pageData.KindID }).KindName
    },
    showImageWuhuPage(p_url){
      const pic = showImageWuhu(p_url);
      return pic.indexOf('/assets/images/img_init.png') > -1 ?require('../../../assets/images/img_init.png'):pic;
    },
    deviceShare(pageData) {
      // console.log('deviceShare ===> start', pageData)

      let url = 'https://web.jh8.tw/home/Q/fig.html?t=n&id='
        + pageData.DetailID

      let msg = '嗨!跟你分享一個好消息，希望你會喜歡 -- ' 
        + pageData.DetailName
        + ' ' + url

      let shareObj = {
        subject: '',
        body: msg,
        chooserTitle: ''
      }
      let shareObjString = JSON.stringify(shareObj)

      // console.log('deviceShare ===> shareObjString =>' + shareObjString)

      return deviseFunction('shareTo', shareObjString, '')
    }
    
  },
  beforeRouteEnter: function(to, form, next){
    store.dispatch('fetchBrandNewsById', to.params.id)
    // 頁面名稱
    store.state.isPageName = '最新消息'
    next(vm=>{
      if (vm.pageData==undefined) showAlert("此消息已下架");
    });
  },
}
</script>
