<template>
  <div class="h-100 bg-white overflow-auto">
    <div>
      <!-- <p class="text-center is-size-5 sticky-top bg-white reg-title">享聚卡回娘家</p> -->
      <div class="field is-grouped px-3 my-2">
        <p class="control is-expanded">
          <input class="input" type="number" placeholder="請輸入要綁定的卡號" v-model="cardNO">
        </p>
      </div>
      <div class="field is-grouped px-3 my-2">
        <p class="control">
          <input class="input" type="number" placeholder="請輸入認證碼" v-model="verifyNO">
        </p>
        <p class="control is-expanded" @click="cardBindSubmit()">
          <a class="button w-100 is-success">
            送出
          </a>
        </p>
      </div>
      <p class="p-3">
        <img class="rounded-lg shadow border" src="@/assets/images/realCard.png" alt="">
      </p>
      <div class="m-3" v-if="registeredCards && registeredCards.length>0">
        <h6 class="title is-6 mb-3">已登記的晶片卡資料：</h6>
        <article class="message is-warning border border-warning my-2" v-for="(card, index) in registeredCards" :key="index">
          <div class="message-body">
            <div class="level is-mobile">
              <div class="level-start">狀態：{{card.CardStatus}}</div>
              <div class="level-end text-center">申請日期：{{card.CreatedDate.substring(0, 10)}}</div>
            </div>
            <p class="text-center bg-white text-dark p-1">卡號：{{card.CardNO}}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import store from "src/store";
import { isLogin, showAlert, setLoading } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function() {
    return {
      title: "<%- @_SelfCode %>",
      state: this.$store.state,
      cardNO: '5530897620', // 卡號
      verifyNO: '' // 驗證碼
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    registeredCards() {
      return this.state.baseInfo.memberData.registeredCards
    }
  },
  // 頁面模組
  methods: {
    async cardBindSubmit() {
      
      if (!this.cardNO || this.cardNO.length==0) {
        return showAlert("請輸入會員卡號")   
      } else if (this.cardNO.length!=16) {
        return showAlert("會員卡號錯誤")
      } else if (!this.verifyNO || this.verifyNO.length==0) {
        return showAlert("請輸入驗證碼")   
      } else if (this.verifyNO.length!=8) {
        return showAlert("驗證碼錯誤")
      }
      
      setLoading(true)

      let res = await store.dispatch("ensureJgssgMemberCardBind", {
        cardNO: this.cardNO,
        verifyNO: this.verifyNO
      })

      setLoading(false)
      
      if (res.error) {
        // 顯示結果
        showAlert(`享聚卡卡號：<br>${this.cardNO}<br>${res.msg}`)        

        // 清除輸入的卡號
        this.cardNO = '5530897620'
        this.verifyNO = ''
      } else {
        // 顯示結果
        // showAlert(`享聚卡卡號：${this.cardNO} 回娘家成功`)
        let lastCardNo = this.cardNO.substring(this.cardNO.length-6)
        let showMsg = `享聚卡卡號末六碼：${lastCardNo}`
        showMsg += `<br>綁定成功`
        showMsg += `<br>享聚卡回娘家禮匯入成功`
        showMsg += `<br>歡迎卡友回娘家`
        showAlert(showMsg)  
        
        // 清除輸入的卡號
        this.cardNO = '5530897620'
        this.verifyNO = ''

        store.dispatch("fetchMemberRegisteredCardsData")
      }
    }
  },
  // 在路由進入時執行
  beforeRouteEnter: function beforeRouteEnter(to, form, next) {
    if (!isLogin) return next('/')

    setLoading(true, 2)
    // 取會員已登記的一代卡資料
    store.dispatch("fetchMemberRegisteredCardsData");
    // 頁面名稱
    store.state.isPageName = '享聚卡回娘家'

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});

  }
};
</script>
