<template>
  <div class="h-100 bg-white overflow-auto" :style="{'transform':(exPointModal)?'':'translateZ(0)'}">
    <div class="modal is-active" style="z-index:100" v-if="exPointModal" @click="exPointModal = false">
      <div class="modal-background"></div>
      <div class="modal-card px-3">
        <header class="modal-card-head bg-white border-0">
          <p class="modal-card-title is-size-5">已過期點數</p>
          <button class="delete is-medium" aria-label="close"></button>
        </header>
        <section class="modal-card-body py-0">
          <div class="content">
            <table>
              <thead>
                <tr>
                  <th>點數</th>
                  <th class="text-right">使用期限</th>
                </tr>
              </thead>
              <tbody>
                <template>
                  <tr v-for="(data) in getExpiredPoint" :key="data.ExpiredDate">
                    <td>{{data.Points}}</td>
                    <td class="text-right">{{data.ExpiredDate}}</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </section>
        <footer class="modal-card-foot bg-white border-0 p-2"></footer>
      </div>
    </div>
    <div>
      <div class="level is-mobile has-background-dark has-text-grey px-3 py-2 mb-0">
        <div class="level-item justify-content-start">近十筆點數紀錄</div>
        <div class="level-item justify-content-end" @click="exPointModal = true" v-if="hasExpiredPoint">
          <i class="fas fa-history mr-1"></i>
          <u>已過期點數</u>
        </div>
      </div>
      <div class="p-3">
        <div class="columns is-variable is-1 text-center is-mobile mb-0">
          <template>
            <div class="column" v-for="(data, index) in arrExpiredPoints(1)" :key="'expired'+index">
              <div class="notification is-success border border-success is-light px-2 py-3 shadow-sm rounded-lg">
                <sub class="has-text-grey">剩餘</sub>
                <b class="title mx-2 my-0 is-4 d-inline-block has-text-success align-sub">{{data.Points}}</b>
                <sub class="has-text-grey">點</sub>
                <div class="is-size-7 text-dark mt-1">期限 {{data.ExpiredDate}}</div>
              </div>
            </div>
          </template>
        </div>
        <template v-if="hasExpiredPointsData">
          <div class="columns is-variable is-1 is-mobile is-multiline mb-0" v-for="data in pointData" :key="data.GID">
            <div class="column is-12">
              <div class="border rounded-lg p-3">
                <p class="is-size-6">
                  <span class="mr-2">日期：{{data.TradeTime.substring(0, 10)}}<!-- 2020-04-20 --></span>
                  <span>類型： {{data.TradeTypeName}}<!-- 積分兌換退回 --><br>
									{{/71|72/.test(data.TradeTypeCode) ? data.PayType : ''}}
									</span>
                </p>
                <div class="level is-mobile mt-2">
                  <div class="level-item has-text-centered border-right">
                    <div>
                      <p class="heading mb-1">消費金額</p>
                      <p>
                        <b class="title mx-2 my-0 is-4 d-inline-block align-sub">{{data.TradeAmount}}<!-- 0 --></b>
                        <sub>元</sub>
                      </p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered border-right">
                    <div>
                      <p class="heading mb-1">累積</p>
                      <p>
                        <b class="title mx-2 my-0 is-4 d-inline-block align-sub">{{data.TradePoints}}<!-- 88 --></b>
                        <sub>點</sub>
                      </p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="heading mb-1">剩餘</p>
                      <p>
                        <b class="title mx-2 my-0 is-4 d-inline-block align-sub">{{data.Points}}<!-- 88 --></b>
                        <sub>點</sub>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <!-- 無資料 -->
      <p class="text-center has-text-grey-lighter my-5 py-5" v-if="!hasExpiredPointsData">-- 無紀錄 --</p>
      </div>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { formatTime } from 'src/libs/timeHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      exPointModal: false,
      // currentYear: new Date().getFullYear(),
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    memberData() { return this.$store.state.baseInfo.memberData },
    points() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
    pointData() {
      let pastData 	= this.memberData.expiredPoints
      let newData 	= pastData.map((item)=>{
				const TradeTypeCode = parseInt(item.TradeTypeCode);
				// console.log('pointData-Code: '+TradeTypeCode, item.TradeTypeName);	// @@
				// console.log('pointData-item: '+item.TradePoints, item);	// @@

        // 4,	-4: 積分兌換, 積分兌換退回: 文字改為==> 點數兌換
        // 7,	-7: 積分換券, 積分換券退回: 文字改為==> 點數換券
        if (TradeTypeCode == 4) {
          item.TradeTypeName = '點數兌換'
        } else if (TradeTypeCode == -4) {
          item.TradeTypeName = '點數兌換退回'
        } else if (TradeTypeCode == 7) {
          item.TradeTypeName = '點數換券'
        } else if (TradeTypeCode == -7) {
          item.TradeTypeName = '點數換券退回'
        } else if (TradeTypeCode == 71) {			// 點數轉贈
          item.PayType = item.PayType.replace("會員", '');
        } else if (TradeTypeCode == 72) {			// 點數受贈
          item.PayType = item.PayType.replace("會員:", '從 ').replace("贈點", ' 轉贈');
        }

        /* 這幾種要正負相反 */
        if ([4,-4,7,-7,71,-71].includes(TradeTypeCode)) {
					item.TradePoints = -item.TradePoints;
					// console.log('正負相反-item: '+item.TradePoints);	// @@
        }
				item.Points = parseInt(item.Points);
        return item
      })
			// console.log('pointData-newData: ', newData);	// @@
      return newData
    },
    hasExpiredPointsData(){
      return !!this.pointData.length;
    },
		/* 有過期的點數 */
    getExpiredPoint() {
      return this.arrExpiredPoints();
    },
		/* 有過期的點數 */
    hasExpiredPoint() {
      return !!this.getExpiredPoint.length;
    },
  },
  // 頁面模組
  methods: {
		arrExpiredPoints(bTrue) {	/** @bTrue: 0: 無效, 1: 有效 */
			const now1	= formatTime(new Date(), 'YYYY-MM-DD')
				,arr1 		= this.memberData.expiredPoints_section.filter((item) => {
				return bTrue ? now1 <= item.ExpiredDate : now1 > item.ExpiredDate;
			}).map((item)=>{
				item.Points = parseInt(item.Points);
        return item;
      })
			// console.warn('arrExpiredPoints-now1,arr1: '+(bTrue?'有':'無')+'效', now1,arr1);	// @@
			return arr1
		},

  },
  // 在路由刷新前
  beforeRouteEnter: function(to, form, next){
    // for 點數
    // for 點數紀錄
    store.dispatch('fetchAppPublicDataDetailPointWuhu')
    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    // 頁面名稱
    store.state.isPageName = '積點紀錄'
    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>
