<template>
  <div class="h-100 bg-white overflow-auto">
    <div>
      <!-- <p class="text-center is-size-5 sticky-top bg-white reg-title">{{showPageHeader()}}</p> -->
      <div class="card is-shadowless" v-if="pageData">
        <div class="card-image">
          <figure class="image is-256x265">
            <img :src="showImageWuhu(pageData.PicURL+'?v='+(new Date().getTime()))">
          </figure>
        </div>
        <div class="card-content p-3">
          <div class="media mb-0">
            <div class="media-content">
              <!-- 分享功能 start -->
              <p class="is-pulled-right" @click="deviceShare(pageData)">
                <span class="fa-stack align-middle" style="font-size: 0.75em">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
                </span>
              </p>
              <!-- 分享功能 end -->
              <p class="title is-5">{{pageData.DetailName}}</p>
            </div>
          </div>
          <div class="content">
            <!-- Tabs  -->
            <div class="tabs is-centered bg-white my-2">
              <ul class="m-0">
                <li class="w-30" :class="{'is-active':currentType==1}" @click="currentType=1" v-if="pageData.SubText1">
                  <a class="position-relative px-3 text-decoration-none">{{pageData.SubTitle1}}</a>
                </li>
                <li class="w-30" :class="{'is-active':currentType==2}" @click="currentType=2" v-if="pageData.SubText2">
                  <a class="px-3 text-decoration-none">{{pageData.SubTitle2}}</a>
                </li>
                <li class="w-30" :class="{'is-active':currentType==3}" @click="currentType=3" v-if="pageData.SubText3">
                  <a class="position-relative px-3 text-decoration-none">{{pageData.SubTitle3}}</a>
                </li>
              </ul>
            </div>
            <div class="py-3 products-text white-space-wrap">
              {{currentType == 1?pageData.SubText1:''}}
              {{currentType == 2?pageData.SubText2:''}}
              {{currentType == 3?pageData.SubText3:''}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- original backup -->
    <!-- <div v-if="pageData">
      <h5 class="w3-center">{{pageData.DetailName}}</h5>
      <div class="w3-display-container">
        <img class="w3-image" :src="showImageWuhu(pageData.PicURL)">
      </div>

      <div class="w3-row w3-light-gray flex-center-h tabBar" style="flex-wrap:nowrap">
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==1}"
             @click.prevent="currentType=1"
             >{{pageData.SubTitle1}}</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==2}"
             @click.prevent="currentType=2"
             v-if="pageData.SubTitle2!=''"
             >{{pageData.SubTitle2}}</div>
        <div class="w3-col s4 w3-bottombar w3-center tabLink"
             :class="{'isActive':currentType==3}"
             @click.prevent="currentType=3"
             v-if="pageData.SubTitle3!=''"
             >{{pageData.SubTitle3}}</div>
      </div>
      <div>
        <div v-show="currentType === 1" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText1}}</div>
        <div v-show="currentType === 2" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText2}}</div>
        <div v-show="currentType === 3" class="w3-container w3-padding-16" style="white-space: pre-wrap;">{{pageData.SubText3}}</div>
      </div>
    </div> -->
  </div>
</template>

<script>
import store from 'src/store'
import { showImage,showImageWuhu } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  data: function(){
    return {
      state: this.$store.state,
      currentType: 1,
    };
  },
  computed: {
    // (從 route 取的)常用資訊
    mainName() { return this.$route.query.mainName },
    subName()  { return this.$route.query.subName },
    KindID()   { return this.$route.query.subCode },
    LinkID()   { return this.$route.params.id },
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl()   { return this.$store.getters.srcUrl },
    pageData() { return this.state.publicData.currentProduct },
    // pageData() {
    //   //const subTypeData = this.state.publicData.menu.subType.find(item => {return item.code == this.KindID})
    //   const subTypeData = this.state.baseInfo.publicData.brandList.find(item => {return item.KindID == this.KindID && item.DetailID == this.LinkID})
      
    //   // if (subTypeData) return subTypeData.list.find(item => { return item.DetailID == this.LinkID})
    //   if (subTypeData) return subTypeData
    //   return {}
    // },
    currentApp() { return this.state.currentAppUser.EnterPriseID },
  },
  methods: {
    showImage,
    showImageWuhu,
    // 顯示主標
    showPageHeader() {
      if (this.subName == undefined) return this.mainName
      if (this.subName != undefined) return this.mainName + " > " + this.subName
    },
    resetPage() {
      this.currentType = 1;
    },
    deviceShare(one) {
      const shareObj = {
        subject: '',
        chooserTitle: '',
        body: `嗨!跟你分享一道美食，希望你會喜歡 -- ${one.DetailName} https://web.jh8.tw/home/Q/fig.html?detailId=${one.BrandID}`
      }
      const shareObjString = JSON.stringify(shareObj)
      // console.log('deviceShare ===> shareObjString =>' + shareObjString)
      return deviseFunction('shareTo', shareObjString, '')
    }
  },
  beforeRouteEnter: function(to, from, next){
    store.dispatch('fetchProductData', to.params.id)
    next();
  },
  watch: {
    // 如果路由有变化，会再次执行该方法
    '$route': 'resetPage'
  },
}
</script>
<style lang="scss" scoped>
.products-text {
  min-height: 160px;
}
.w-30 {
    width: 30%;
}
</style>
