<template>
  <div class="h-100 overflow-auto has-background-white-ter">
    <!-- TODO：保留30天內的訊息，點擊則開啟完整訊息(如有指定頁面則前往)，變成已讀狀態(紅點變灰) -->
    <div class="box border shadow-sm m-2 p-3" v-for="(o1, index) in arrNotify" :key="index" :class="{'is-open border-0 rounded-0':o1.isOpen}" @click="openBox(o1)">
      <header class="text-right" v-if="o1.isOpen">
        <button class="delete is-large" @click.stop="o1.isOpen = false"></button>
      </header>
      <article class="media">
        <div class="media-left mr-2" style="padding-top:2px" v-if="!o1.isOpen">
          <figure class="image is-16x16" :class="[!o1.isRead?'has-text-danger':'has-text-white-ter']">
              <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z" />
              </svg>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
              <p class="mb-2"><strong v-html="o1.Push_Title"></strong></p>
              <p class="line-height-150 mb-2 has-text-grey three-line-ellipsis" v-html="o1.Push_Message"></p>
              <p class="text-right has-text-grey-light"><small v-html="o1.PushDate"></small></p>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import store from "src/store";
import { GetDateDiff } from 'src/fun1.js'	// 共用fun在此!
import { setLoading } from 'src/libs/appHelper.js'

export default {
  computed: {
  },
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      // state: this.$store.state,
      notifys: this.$store.state.baseInfo.memberData.pushNotifys,
      arrNotify: [],			// 過濾後-推播消息
    }
  },
  methods: {
    openBox(o1){
			/http/.test(o1.Push_content) && window.open(o1.Push_content);
			if (!o1.isRead) {
			// 設會員-推播消息-已讀
			this.$store
				.dispatch('updatePushNotify', o1.GID)
				.then(res => {
					if (!res.ErrorMsg) {
						store.dispatch('fetchPushNotifyNum')	// 取會員-推播消息-總數
						o1.isRead = true
					}
				})
			}
      o1.isOpen = true
    }
  },
  async beforeRouteEnter(to, from, next) {
    setLoading(true, 2)

    await store.dispatch('fetchPushNotifyData')	// 取會員-推播提醒

    // 頁面名稱
    store.state.isPageName = '推播消息'
		// next()
		next(vm => {
			const today = moment(new Date()).format('YYYY/MM/DD')
			/* 過濾90天內 */
			vm.arrNotify = vm.notifys.filter((item) => {
				const diffDay = GetDateDiff(item.CreatDate, today, "d")
				return diffDay <= 90;
			});
			// console.log('beforeRouteEnter-arrNotify: ', vm.arrNotify);	// @@

			setLoading(false)
		});
  }
}
</script>

<style lang="scss" scoped>
.three-line-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box {
  transition: margin .15s ease;
  z-index: 99;
  &.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    .three-line-ellipsis {
      display: block;
    }
    padding-top: calc(1rem + env(safe-area-inset-top)) !important;
  }
}
</style>