<template>
	<div class="h-100 d-flex flex-column bg-light">
		<div class="px-3 pb-3" v-if="trace.OrderNo">
			<!-- 訂單未完成提示 -->
			<div class="mb-3 p-3 text-white d-flex align-items-center justify-content-between mx-n3" style="background-image: linear-gradient(73.1deg, #ec842a 8%, #F2C94C 86.9%)">
				<p class="font-medium text-lg">{{(mallData.orderstatus[trace.OrderStatus.toString()] || "-")}}</p>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
						<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
						<line x1="9" y1="7" x2="10" y2="7"></line>
						<line x1="9" y1="13" x2="15" y2="13"></line>
						<line x1="13" y1="17" x2="15" y2="17"></line>
					</svg>
				</div>
			</div>
			<!-- 訂單已完成提示 -->
			<div class="mb-3 p-3 text-white d-flex align-items-center justify-content-between mx-n3" style="background-image: linear-gradient(73.1deg, #569e18 8%, #86b817 86.9%)" v-if="false">
				<p class="font-medium text-lg">訂單已完成</p>
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<rect x="3" y="16" width="3" height="5" rx="1"></rect>
						<path d="M6 20a1 1 0 0 0 1 1h3.756a1 1 0 0 0 .958 -.713l1.2 -3c.09 -.303 .133 -.63 -.056 -.884c-.188 -.254 -.542 -.403 -.858 -.403h-2v-2.467a1.1 1.1 0 0 0 -2.015 -.61l-1.985 3.077v4z"></path>
						<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
						<path d="M5 12.1v-7.1a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-2.3"></path>
					</svg>
				</div>
			</div>
			<!-- 歷程Timeline -->
			<div class="bg-white border rounded-lg overflow-hidden shadow-sm">
				<div class="p-4 bg-white">
					<p class="mb-2">訂單號：{{trace.OrderNo}}</p>
					<p>日期：{{formatTime(trace.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</p>
				</div>
				<hr class="m-0">
				<div class="p-4" style="background-color:hsl(48, 100%, 96%)">
					<div class="columns is-mobile is-vcentered is-variable is-1 mb-0">
						<div class="column is-narrow py-2">
							<svg xmlns="http://www.w3.org/2000/svg" class="has-text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#f79400" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<circle cx="7" cy="17" r="2"></circle>
								<circle cx="17" cy="17" r="2"></circle>
								<path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"></path>
							</svg>
						</div>
						<div class="column py-2">
							<p>配送方式：{{trace.PreSpecLimit && trace.PreSpecLimit.indexOf('cvs') == 0?'超商取貨':trace.PreWay}}<!-- 宅配、超商取貨、自取 --></p>
						</div>
					</div>
					<div class="columns is-mobile is-vcentered is-variable is-1 mb-0">
						<div class="column is-narrow py-2">
							<svg xmlns="http://www.w3.org/2000/svg" class="align-text-bottom" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#f79400" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<line x1="3" y1="21" x2="21" y2="21"></line>
								<path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"></path>
								<line x1="5" y1="21" x2="5" y2="10.85"></line>
								<line x1="19" y1="21" x2="19" y2="10.85"></line>
								<path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"></path>
							</svg>
						</div>
						<div class="column py-2">
							<!-- 取件門市(超商取貨、自取) | 收件地址(宅配) -->
							<p v-if="storeInfo.StoreName">
								取件門市：{{storeInfo.StoreName}}<br>
								<span v-if="storeInfo.StoreAddr">{{storeInfo.StoreAddr}}</span>
							</p>
							<p v-if="!storeInfo.StoreName && trace.PreName">
								取件門市：{{trace.PreName}}<br>
								<span v-if="trace.PreAddr">{{trace.PreAddr}}</span>
							</p>
							<p v-if="false">
								收件地址：<br>
								王小明<br>
								0900123456<br>
								高雄市前鎮區二聖路100號
							</p>
						</div>
					</div>
				</div>
				<hr class="m-0">
				<div class="p-4 bg-white">
					<p>
						貨物查詢號碼：{{storeInfo.LogisticsIDNo}}
						<span class="text-decoration-underline float-right fw-bolde has-text-info" @click="copyText">複製</span>
					</p>
				</div>
				<!-- 貨態流程(未達貨態無active、無時間) -->
				<div class="timeline-container">
					<ul class="list-updates">						
						<li class="update" :class="[iIndex == 0?'active':'']" v-for="(cvsDt, iIndex) in cvsDetail" :key="'cvsDt'+iIndex">
							<span class="time">{{formatTime(cvsDt.UpdateStatusDate, 'YYYY-MM-DD HH:mm:ss')}}</span>
							<p>{{cvsDt.StatusName}}</p>
						</li>						
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.timeline-container::before,
.list-updates::before,
.list-updates .update::before {
  content: "";
}
.timeline-container::before,
.list-updates::before,
.list-updates .update::before,
.all-updates {
	position: absolute;
}
.timeline-container,
.list-updates .update,
.list-updates {
	position: relative;
	color: hsl(0, 0%, 71%);
}
.timeline-container {
  padding: 0 2rem 1rem 3rem;
}
.list-updates {
	list-style: none;
}
.list-updates::before {
  height: 90%;
  width: 2px;
	background-color: hsl(0, 0%, 71%);
	top: 10px;
	left: -16px;
}
.list-updates .update {
  padding: 1rem 0 .5rem .5rem;
}
.list-updates .update::before {
  height: 10px;
  width: 10px;
  left: calc(-1rem - 4px);
	top: 50%;
	background-color: hsl(0, 0%, 71%);
	transform: translateY(-50%);
	border-radius: 50%;
}
.list-updates .update.active {
	color: #f79400;
	&::before {
		background-color: #f79400;
		left: calc(-1rem - 7px);
		width: 16px;
		height: 16px;
	}
}
</style>

<script>
import store from 'src/store'
import { showToast } from 'src/libs/appHelper.js'
 import { getCVSexpress } from 'src/libs/market.js'
 import { formatTime } from 'src/libs/timeHelper.js'
export default {
	data: function () {
		return {
			state: this.$store.state,
			cvsDetail:[],
		};
	},
	computed: {
		trace(){return store.state.mallData.ShopTrace},
		storeInfo(){return (this.cvsDetail.length?this.cvsDetail[0]:{})},
		mallData() {return this.$store.state.mallData;},
	},
	methods: {
		formatTime,
		copyText() {
			showToast('複製成功')
		},
		setDetail(m_detail){
			this.cvsDetail = [];
			if (this.$route.params.id == this.trace.OrderNo && Array.isArray(m_detail) && m_detail.length) this.cvsDetail = m_detail;			
		}
	},
	async beforeRouteEnter(to, form, next) {
		store.state.isPageName = '運送資訊'	// 頁面名稱
		const haveID = store.state.mallData.ShopTrace.ID
		if(haveID) await getCVSexpress({OrderID:store.state.mallData.ShopTrace.ID},(p_detail)=>{
			next(vm=>{
				vm.setDetail(p_detail);
			});
		})
		if(!haveID) next();
		
	},
	beforeRouteLeave: function (to, form, next) {
		next();
	}
}
</script>