<template>
  <div class="h-100 d-flex flex-column" v-if="mallData.isCarUI!=undefined">
    <!-- 頂大類選單 -->
    <template v-if="$route.query.type==null">
      <div class="border-bottom">
        <div class="my-2">
            <div class="px-2 overflow-auto text-nowrap hide-scrollbar">
              <template v-for="(item, index) in $store.state.mallData.foodkind2">
                <span class="tag is-medium rounded-pill shadow-sm py-2 px-3 me-2"
                  :key="index"
                  :class="{'tag-bg text-white':(index==$route.query.kind2Index)}"
                  v-if="haveKind(index)"
                  @click="goKind(index,0,true)"
                >
                  {{item.Name}}
                </span>
              </template>
            </div>
        </div>
      </div>
    </template>
    <!-- 商品分類 -->
    <div class="flex-fill h-100 overflow-hidden" v-if="$route.query.type==null">
      <div class="h-100">
        <div class="columns is-mobile is-variable is-0 mt-0 h-100">
          <!-- 左欄類別項目 -->
          <div class="column is-3 pt-0 w3-light-gray overflow-auto position-relative h-100">
            <ul class="w3-ul w3-text-gray m-0 p-0" style="line-height: 1.25;" v-scroll-spy-active="{class:'spyActive'}" v-scroll-spy-link="{selector: 'li'}">
              <li class="w3-border-0 w3-padding-16 px-2" v-for="(itemType, typeIndex) in mallData.kind" :key="'leftKind'+typeIndex" :id="'spyScrollLink'+ typeIndex">
                <!-- 加入購物籃數字 -->
                <div v-if="mallData.kindQty[itemType.ID] && mallData.kindQty[itemType.ID] > 0 && false" class="w3-right w3-badge w3-red item-badge">{{mallData.kindQty[itemType.ID]}}</div>
                {{itemType.Name}}
              </li>
            </ul>
          </div>
          <!-- 右欄類別商品項目 -->
          <div class="column is-9 pt-0 overflow-auto h-100 position-relative" v-scroll-spy="{data: 'spySection', offset:108, time: 0, steps: 1}" ref="scrollTitem">
            <section v-for="(itemType, typeIndex) in mallData.kind" :key="'kind'+typeIndex" v-show="mallData.isCarUI!=undefined"><!-- v-show="itemType.foods && itemType.foods.length > 0"-->
              <div class="px-2 border-bottom spySectionActive" style="background-image: linear-gradient(to right, rgb(241, 241, 241), rgb(255, 255, 255) 60%);padding-top:.8rem;padding-bottom:.8rem">
                <div class="columns is-mobile is-gapless is-vcentered">
                  <div class="column">{{itemType.Name}}</div>
                  <div class="column is-narrow">
                    <div class="field has-addons">
                      <p class="control mb-0">
                        <button class="button py-1 px-2 h-auto is-size-7"
                          style="border-top-left-radius:.25rem;border-bottom-left-radius:.25rem"
                          :class="[(mallData.sortPriceType=='sp1')?'is-light is-info is-outlined':'has-background-white-bis']"
                          @click="$store.commit('setSortPriceType', 'sp1');"
                        >
                          <b>&#36;</b>
                          <span>低&rarr;高</span>
                        </button>
                      </p>
                      <p class="control mb-0">
                        <button class="button py-1 px-2 h-auto is-size-7"
                          style="border-top-right-radius:.25rem;border-bottom-right-radius:.25rem"
                          :class="[(mallData.sortPriceType=='sp2')?'is-light is-info is-outlined':'has-background-white-bis']"
                          @click="$store.commit('setSortPriceType', 'sp2')"
                        >
                          <b>&#36;</b>
                          <span>高&rarr;低</span>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
                <div class="px-2 py-3">
                  <article class="media"
                    v-for="(item, itemIndex) in sortPrice(itemType.foods)"
                    :key="'item'+itemIndex" @click="item_click(item,undefined,typeIndex,itemIndex)"
                  >
                    <!-- 資料結構預載動畫 -->
                    <div class="skeleton-container" v-if="item.Name == '...'">
                      <div class="skeleton">
                        <div class="avatar"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line price"></div>
                      </div>
                    </div>
                    <div class="media-left mr-2" v-show="item.Name !== '...'">
                      <figure class="image is-1by1 m-0 image-rwd">
                        <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">
                        <img :src="foodSrc(item.ID)" :alt="item.Name">-->
                        <img :src="showImgSubsidiary(item.PIC1)" :key="showImgSubsidiary(item.PIC1)"
                         class="has-background-white-ter h-auto rounded-4 object-fit-cover" :alt="item.Name">
                        <span v-if="toDecimal(item.ShowQty) > 0" class="w3-display-centerbottom is-size-7 px-1 tag is-warning shadow-sm" style="transform:translateY(-16px);min-width:64px">限量 {{item.ShowQty}} 組</span>
                      </figure>
                    </div>
                    <div class="media-content" style="overflow-x: unset" v-show="item.Name !== '...'">
                      <div class="content">
                        <p><b>{{item.Name}}</b></p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <div>
                            <small class="is-size-7">NT$ </small>
                            <b class="has-text-danger">{{item.Price1}}</b>
                            <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                          </div>
                        </div>
                        <div class="level-right align-items-center">
                          <!-- 數量,不能有加減項,因為有規格問題 -->
                          <template v-if="mallData.isCarUI!=undefined && !item.Stop">
                            <button class="w3-small w3-border w3-border-gray w3-white w3-hover-white w3-button w3-round-xxlarge circle-button-small numDecrease" v-if="false">
                              <i class="fas fa-minus"></i>
                            </button>
                            <input type="number" min="0" readonly="readonly" class="input is-normal text-center border-0 px-0" style="width: 2em" :value="mallData.foodQty[item.MainID]" v-if="mallData.foodQty[item.MainID] > 0">
                            <button class="has-text-success bg-transparent p-0 border-0 mx-2" style="height:28px" @click.stop="item_click(item,true,typeIndex,itemIndex)">
                              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                              </svg>
                            </button>
                          </template>
                          <button class="button  has-background-grey-lighter py-1 h-auto" v-else>停售</button>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </section>
          </div>
        </div>
      </div>

      <!-- 半透明遮罩 -->
      <transition name="slide-fade">
        <div class="fixed-top w-100 h-100" style="z-index: 999;background-color: rgba(10,10,10,0.6)"  v-if="isTypeModal=='bill'||isTypeModal=='spec'" @click="isTypeModal=''" v-cloak></div>
      </transition>
      <transition name="slide-top">
        <!-- 結帳BAR明細 -->
        <div class="modal d-flex" style="z-index:1000" v-if="isTypeModal=='bill'">
          <div class="modal-background bg-transparent" @click="isTypeModal=''"></div>
          <div class="modal-card mt-auto mx-0 bill">
            <header class="modal-card-head border-bottom-0 bg-white p-3" style="border-top-left-radius:1rem;border-top-right-radius:1rem">
              <div class="columns is-mobile is-gapless is-vcentered w-100 m-0">
                <div class="column is-narrow" @click="deleteAll()" style="opacity:.4"><i class="fas fa-trash-alt fa-fw" style="font-size:20px"></i> </div>
                <div class="column text-center">結帳明細</div>
                <div class="column is-narrow"><button class="delete is-medium p-0 rounded-circle" aria-label="close" @click="isTypeModal=''"></button></div>
              </div>
              <p class="modal-card-title mb-0 is-size-5"></p>
              
            </header>
            <section class="modal-card-body pt-2 px-2">
              <!-- 商品項目 -->
              <div>
                <p class="text-center has-text-grey-lighter py-4" v-if="!mallData.shopping_cart.length">-- 無商品項目 --</p>
                <article class="media" v-for="(item, iIndex) in mallData.shopping_cart" :key="iIndex">
                  <div class="media-left mr-2">
                    <figure class="image is-1by1 m-0 image-rwd">
                      <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                      <img :src="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))"
                      class="has-background-white-ter rounded-4" alt="">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content h-auto">
                      <p><b>{{item.FoodName}}</b></p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <div>
                          <div class="has-text-grey-light"><small class="is-size-7">單價 NT$ </small>{{item.Price}}</div>
                          <div><small class="is-size-7">NT$ </small><b class="has-text-danger">{{item.Total}}</b></div>
                        </div>
                      </div>
                      <small class="mx-2">{{item.Taste}}</small>
                      <div class="level-right">
                        <!-- 數量 -->
                        <div class="d-flex align-items-center">
                          <button class="p-0 border-0 mx-2 has-text-grey-light bg-transparent" style="height:28px" @click="delItem(item)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                          </button>
                          <input type="number" min="0" readonly="readonly" class="input is-normal text-center border-0 px-0" style="width: 3em" :value="item.Count">
                          <button class="has-text-success p-0 border-0 mx-2 bg-transparent" style="height:28px" @click="addItem(item)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
            </section>
          </div>
        </div>

        <!-- 選規格 -->
        <div class="modal d-flex px-2" style="z-index:1002" v-if="isTypeModal=='spec'">
          <!-- <div class="modal-background"></div> -->
          <div class="modal-card mx-0">
            <header class="modal-card-head border-bottom-0 bg-white">
              <p class="modal-card-title">{{mallNowItem.Name}}</p>
              <button class="delete is-medium" aria-label="close" @click="isTypeModal=''"></button>
            </header>
            <section class="modal-card-body">
              <p>規格名稱</p>
              <div>
                <span class="ck-box" v-for="(item, iIndex) in itemStyle" :key="'chisty'+iIndex">
                  <input :id="item.ID" type="radio" name="項目" class="ck-button w3-hide" v-bind:value="iIndex" v-model="styleIndex">
                  <label :for="item.ID">{{item.Name}}</label>
                </span>
              </div>
            </section>
            <footer class="modal-card-foot border-top-0 justify-content-between">
              <div class="text-danger">
                <small>NT$ </small>
                <b>{{(styleIndex > -1?mallData.nowItem.style[styleIndex]["Price1"]:mallData.nowItem.Price)}}</b>
              </div>
              <div class="d-flex">
                <div class="d-flex align-items-center">
                  <button class="p-0 border-0 mx-2 has-text-grey-light bg-transparent" style="height:28px" :disabled='Qty < 2' @click="Qty--">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                  </button>
                  <input type="number" min="0" readonly="readonly" class="input is-normal text-center" style="width: 3em" :value="Qty">
                  <button class="has-text-success p-0 border-0 mx-2 bg-transparent" style="height:28px" @click="Qty++">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                  </button>
                </div>
                <button class="button is-success" @click="addToCart()">放入購物車</button>
              </div>
            </footer>
          </div>
        </div>

      </transition>

    </div>

    <!-- 結帳BAR -->
    <div class="pt-2 px-2 bg-white" style="padding-bottom:calc(.5rem + env(safe-area-inset-bottom));z-index:1002" v-if="$route.query.type==null">
      <div class="columns is-mobile is-gapless m-0">
        <div class="column">
          <div class="buttons has-addons">
            <button class="button is-black py-4 justify-content-start" style="width:64%;border-top-left-radius:.5rem;border-bottom-left-radius:.5rem" v-if="isLogin" @click="isTypeModal='bill'">
              <div class="w3-display-container d-inline-block ml-2">
                <span class="d-inline-block align-middle" :class="[(cartQty(mallData.kindQty)==0)?'w3-opacity-max':'cart-bounceIn']">
                  <img src="../../../assets/images/cart_w.svg" style="height:2rem;margin-top:-4px">
                </span>
                <!-- 加入購物籃數字 -->
                <transition name="slide-up" mode="out-in">
                  <div class="w3-display-topright w3-badge w3-red item-badge" v-if="cartQty(mallData.kindQty) != 0" :key="cartQty(mallData.kindQty)">{{cartQty(mallData.kindQty)}}</div>
                </transition>
              </div>
              <span class="ml-2">
                <span class="is-size-7">總共 NT$ </span>
                <transition name="slide-up" mode="out-in">
                  <span class="d-inline-block w3-large w3-text-amber" :key="totalAmount()">
                    <b>{{totalAmount()}}</b>
                  </span>
                </transition>
              </span>
            </button>
            <button class="button is-black py-4 justify-content-start" style="width:64%;border-top-left-radius:.5rem;border-bottom-left-radius:.5rem" v-if="!isLogin"></button>
            <button class="button is-link is-selected py-4 fw-bold" style="width:36%;border-top-right-radius:.5rem;border-bottom-right-radius:.5rem" @click="chkCartSum()">
              結帳去<i class="fas fa-angle-right ml-3"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 商品頁 -->
    <template v-if="$route.query.type=='product' && (Object.keys(mallNowItem)).length > 0">
      <div class="flex-fill h-100 overflow-auto">
        <!-- 輪播 Banner -->
        <div class="text-center has-background-white-ter">
          <!-- 無圖時 -->
          <img v-if="mallNowItem.PIC1 ==''" src="../../../assets/images/img_init.gif">
          <swiper ref="mySwiper" v-else>
            <!-- slides -->
            <swiper-slide v-if="mallNowItem.PIC1 !=''">
              <!-- 圖 -->
              <img :src="showImgSubsidiary(mallNowItem.PIC1)" key="swp1" @touchstart="zoomTouch">
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC2 !=''">
              <!-- 圖 -->
                <img :src="showImgSubsidiary(mallNowItem.PIC2)" key="swp2" @touchstart="zoomTouch">
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC3 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC3)" key="swp3" @touchstart="zoomTouch">
              </div>
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC4 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC4)" key="swp4" @touchstart="zoomTouch">
              </div>
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC5 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC5)" key="swp5" @touchstart="zoomTouch">
              </div>
            </swiper-slide>
            <!-- Optional controls -->
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
        <div class="p-3">
          <span v-if="mallNowItem.ShowQty" class="tag is-medium is-warning mb-3">限量 {{mallNowItem.ShowQty}} 組</span>
          <!--<h3 class="my-3" :style="{ fontSize: fontSizeBase*22 + 'px' }">【新機上市★N95口罩等級濾淨原理】3M FA-E180 淨呼吸倍淨型空氣清淨機(適用6-14坪空間)</h3>-->
          <h5 class="mb-3 fw-bolder">{{mallNowItem.Name}}</h5>
          <p class="my-3 pb-3 border-bottom">
            <!-- 商品簡述：100個中文字以內 -->
            <b class="d-block  mb-2">商品簡述：</b>
            <span class="d-block white-space-wrap">{{mallNowItem.Remark.replace(/"/g, "")}}</span>
            <!-- <span class="d-block">
              ● 10分鐘有效濾淨99.9%PM2.5<br>
              ● 3.3分鐘產出20000公升乾淨空氣<br>
              ● 提升2倍累計淨化量、續航力<br>
              ● 可用手機APP遠端監控<br>
              ● 超節能，一天電費僅1.76元
            </span>-->
          </p>
          <div class="columns is-mobile is-variable is-1 is-multiline mb-0">
            <div class="column">
              <div class="w3-text-red w3-xlarge">
                <span class="w3-medium">NT$ </span>
                <!-- <b>{{mallNowItem.Price1}}</b> -->
                <b>{{(maxItemStyle?itemStyle[styleIndex]["Price1"]:mallNowItem.Price1)}}</b>
                <span class="w3-medium" v-if="mallNowItem.Unit!=''">/{{mallNowItem.Unit}}</span>
                <!-- <del class="ml-2 has-text-grey-light is-size-5">{{mallNowItem.Price}}</del> -->
                <del class="ml-2 has-text-grey-light is-size-5">{{(maxItemStyle?itemStyle[styleIndex]["CurPrice"]:'')}}</del>
              </div>
            </div>
            <div class="column is-narrow text-right">
              <!-- 數量 -->
              <div class="d-flex align-items-center">
                <button class="p-0 border-0 mx-2 has-text-grey-light bg-transparent" style="height:32px" :disabled='Qty < 2' @click="Qty--">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                  </svg>
                </button>
                <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="input is-normal text-center has-background-light" style="width: 3em" @input="checkValue" v-model.number="Qty">
                <button class="has-text-success p-0 border-0 mx-2 bg-transparent" style="height:32px" @click="Qty++">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="column is-full" v-if="!isHideStyle()">
              <p class="mb-2"><b>規格：</b></p>
              <span class="ck-box" v-for="(item, iIndex) in itemStyle" :key="'substy'+iIndex">
                <input :id="item.ID" type="radio" name="color" class="ck-button w3-hide" v-bind:value="iIndex" v-model="styleIndex">
                <label :for="item.ID">
                  {{item.Name}}
                </label>
              </span>
            </div>
            <!--
            <div class="column is-full" v-for="(itemStyle, sIndex) in itemStyle" :key="'style'+sIndex">
              <p class="mb-2"><b>{{itemStyle.Name}}：</b></p>
              <span class="ck-box" v-for="(item, iIndex) in itemStyle.type" :key="'substy'+iIndex">
                <input :id="item.ID" type="radio" name="color" class="ck-button w3-hide" value="">
                <label :for="item.ID">
                  {{item.Name}}
                </label>
              </span>
            </div>
            -->
          </div>
          <!-- 折扣
          <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <b>適用活動：</b>
            <span class="pt-2 d-block">
              <span class="tag is-warning is-medium mr-2">折價券</span>
              NT$100 折價券
            </span>
          </p> -->
          <p class="mb-3 pb-3 border-bottom">
            <b>商品編號：</b>{{(maxItemStyle?itemStyle[styleIndex]["ID"]:'')}}
          </p>
          <p class="mb-3 pb-3 border-bottom">
            <!-- <b>庫存：</b>{{mallNowItem.CurStock}} 組 -->
            <b>庫存：</b>{{getStock()}} {{(mallNowItem.Unit!=''?mallNowItem.Unit:'組')}}
            <span class="has-text-danger ml-2" v-show="mallNowItem.MaxCount!='' && mallNowItem.MaxCount!='0'">* 每人限購 {{mallNowItem.MaxCount}} {{(mallNowItem.Unit!=''?mallNowItem.Unit:'組')}}</span>
          </p>
          <!-- Tabs  -->
          <div class="tabs is-centered bg-white sticky-top w3-stretch">
            <ul class="m-0 ps-0">
              <li :class="{'is-active fw-bold':(tabIndex=='tab01')}" @click="tabsIntoView('tab01')"><a style="text-decoration:none">詳情</a></li>
              <li :class="{'is-active fw-bold':(tabIndex=='tab02')}" @click="tabsIntoView('tab02')"><a style="text-decoration:none">運送方式&說明</a></li>
            </ul>
          </div>
          <!-- 詳情：簡易HTML編輯器(圖/文) -->
          <section class="border-bottom pb-3" id="tab01" v-html="mallNowItem.Note"></section>
          <!-- <section class="text-center w3-stretch" id="tab01">
            <iframe style="width:100vw;height: 56.25vw;" src="https://www.youtube.com/embed/w15_ebf24BI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figure class="m-0">
            <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/0.jpg?ts=142747">
            </figure>
            <figure class="m-0">
            <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/1.jpg?ts=142747">
            </figure>
            <figure class="m-0">
            <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/3.jpg?ts=142747">
            </figure>
            <figure class="m-0">
            <img src="https://diz36nn4q02zr.cloudfront.net/webapi/images/r/SalePageDesc/6052842/4.gif?ts=142747">
            </figure>
          </section>-->
          <section id="tab02">
            <!-- 運送方式 -->
            <div class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="(Object.keys(mallData.foodFreight)).length > 0 && mallData.foodFreight[mallNowItem.PYCode] || cvsFeeList.length > 0">
              <b>運送方式：</b>
              <div class="columns is-mobile is-variable is-2 pt-2" v-if="(Object.keys(mallData.foodFreight)).length > 0 && mallData.foodFreight[mallNowItem.PYCode]">
                <div class="column is-narrow">
                  {{(mallData.foodFreight[mallNowItem.PYCode]["Name"])}}
                </div>
                <div class="column">
                  <div v-for="(frei, freiIndex) in mallData.foodFreight[mallNowItem.PYCode]['items']" :key="'frei'+freiIndex">{{frei.text}}</div>
                </div>
              </div>
              <div class="columns is-mobile is-variable is-2 pt-2" v-for="(cvsf, cvsfIndex) in cvsFeeList" :key="'cvsf'+cvsfIndex" v-show="cvsFeeList.length > 0">
                <div class="column is-narrow">
                  {{(cvsf["Name"])}}
                </div>
                <div class="column">
                  <div v-for="(cvsItem, cvsItemIndex) in cvsf['items']" :key="'cvsItem'+cvsItemIndex">{{cvsItem.text}}</div>
                </div>
              </div>

            </div>
            <!-- 規格說明：500個中文字以內 -->
            <p class="my-3 pb-3 border-bottom" :style="{ fontSize: fontSizeBase*16 + 'px' }" v-if="mallNowItem.Spec != ''">
              <b>說明：</b>
              <span class="pt-2 d-block white-space-wrap">
                {{mallNowItem.Spec.replace(/"/g, "")}}
                <!-- 品名：<br>
                型號：<br>
                額定輸入：<br>
                消耗功率：<br>
                產品尺寸：<br>
                產地：  -->
              </span>
            </p>
          </section>
        </div>
      </div>
      <!-- 置底固定結帳按鈕 -->
      <div class="px-1 pt-1" style="padding-bottom:env(safe-area-inset-bottom, .5rem)">
        <div class="columns is-mobile is-variable is-1 m-0 text-center bg-white" v-if="!isSelectStyle() || getStock()">
          <div class="column py-1">
            <button class="button is-success is-outlined is-fullwidth is-light py-4 rounded-4 fw-bold" @click="addToCart()">放入購物車</button>
          </div>
          <div class="column py-1">
            <button class="button is-info is-fullwidth py-4 rounded-4 fw-bold" @click="addToCart(true)">直接購買</button>
          </div>
        </div>
        <div class="columns is-mobile is-variable is-1 m-0 text-center bg-white" v-if="isSelectStyle() && !getStock() || mallNowItem.Stop">
          <div class="column py-1">
            <button class="button is-outlined is-fullwidthborder bg-light py-4 rounded-4 fw-bold">{{mallNowItem.Stop?'停  售':'銷售一空'}}</button>
          </div>
        </div>
      </div>
    </template>

  </div>

</template>

<script>
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'
import store from 'src/store'
import Vue from 'vue'
import Scrollspy from 'vue2-scrollspy'
Vue.use(Scrollspy);

import { incNumber,foodSrc,cartQty,decNumber,delItem,addItem,totalAmount,getFoodmarket,
        getFoodmarketDetail,cleanCart,toDecimal,reloadShopType,chkTypeInt,sortPrice,
        guestCartQty,guestMarkeLogin 
        } from 'src/libs/market.js'
// import fetchData from '../../libs/fetchData.js'
import { showConfirm, hideModal,showAlert,showImageWuhu,showToast,showImgSubsidiary, fixScroll } from 'src/libs/appHelper.js'

export default {
  components: {
		Swiper: VueAwesomeSwiper.swiper,
		SwiperSlide: VueAwesomeSwiper.swiperSlide
	},
	// 頁面資料: 請使用function return
	data: function () {
		return {
			state: this.$store.state,
      mallData: this.$store.state.mallData,
		// mallNowItem: this.$store.state.mallData.nowItem,
			isTypeModal: '', // 選規格&結帳明細
			allCount: 1,
			allAmount: '8,999',
			spySection: 0,
			styleIndex: 0,  //現在所選規格
			tabIndex: 'tab01',
			Qty:1, //預設要加到購物車的數量
			lastQty:1, //上一次購物車的數量
			prepareKind:[], //準備要撈的小類品項IDs
			isSortPrice: '', //價格排序
			listenEL:null,
			prepareKindObj:{},
			isLoadScrollTop:false, //是否撈上一次的ScrollTop
      swiperOption: {
        // lazy: true,
        pagination: {
          el: '.swiper-pagination'
        },
        autoplay: {
          disableOnInteraction: false
        },
      },
		};
	},
	computed: {
		// 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		isLogin() {
			return this.$store.getters.isLogin
		},
		fontSizeBase() {
			return store.getters.fontSizeBase
		},
		mallNowItem() {
		// return store.state.mallData.nowItem;
		return this.mallData.nowItem;
		},
		itemStyle() {
			const sty1 = this.mallNowItem.style || [];
			// console.log('itemStyle-sty1: ', sty1);	// @@
			return sty1
		},
		maxItemStyle() {
			const len1 = this.itemStyle.length || 0;
			// console.log('maxItemStyle-len1: ', len1);	// @@
			return len1
		},
		// currentMallData() {
			// const kinds = this.mallData.kind.filter(p_kind=>{
				// return p_kind.foods && p_kind.foods.length > 0;
			// });
			// return kinds;
		// },

		swiper() {
			return this.$refs.mySwiper.swiper//.$swiper
		},
		cvsFeeList(){
      const item_cvs = (this.mallNowItem.CVSCodes || "").split(',')
			,obj1 = this.mallData.foodExpresst;
			var cvsFee = [];
      Object.keys(obj1).map((cvs_key)=>{
				if (item_cvs.indexOf(cvs_key) > -1) cvsFee.push(obj1[cvs_key]);
			
			});
			return cvsFee;
		},
    byApp(){return this.$store.getters.isNotLinePara},
	},
	props: {
		el: String
	},
	beforeDestroy(){
		window.removeEventListener('scroll', this.listenerType,true);

	},
	mounted() {
		// 监听滚动事件
		window.removeEventListener('scroll', this.listenerType,true);
		window.addEventListener('scroll', this.listenerType, true);
	},
	// 頁面模組
	methods: {
		fixScroll,
		incNumber,
		cartQty,
		foodSrc,
		decNumber,
		delItem,
		addItem,
		totalAmount,
		showImageWuhu,
		showImgSubsidiary,
		sortPrice,
		toDecimal,
    guestCartQty,
    guestMarkeLogin,
    chkCartSum(){      
      const guestQty = this.guestCartQty()
      if (!this.isLogin){
        if (!guestQty) return showToast("購物車沒有品項")
        else if(this.byApp) this.$router.push('/login')
        else if(!this.byApp) this.guestMarkeLogin();
        
      }else{
        const allCount = this.cartQty(store.state.mallData.kindQty) + guestQty
        if (!allCount) return showToast("購物車沒有品項")
        else this.$router.push('/cardShopCart')
      }
      
    },
		listenerType(el){
			//console.log("aaa>>>>>");
			var elTmp = el.srcElement.children || el.target.children;
			const p_tag = "section";
			var isSection = elTmp.length > 0 && ((elTmp[0]["nodeName"]).toLowerCase() == p_tag || (elTmp[0]["localName"]).toLowerCase() == p_tag || (elTmp[0]["tagName"]).toLowerCase() == p_tag);
			if (isSection && this.$route.query.goto!=undefined && this.$route.query.type==undefined && Array.isArray(this.mallData.kind)){
				this.listenEL =  el.srcElement || el.target;
				//console.log("bbb>>>>>",this.listenEL);
				if (this.isLoadScrollTop){
					this.listenEL.scrollTop = this.mallData.mallScrollTop
					this.isLoadScrollTop = false;
				}
				var st = el.srcElement.scrollTop || el.target.scrollTop;

				this.$store.commit('setShoplistenELe', this.listenEL)
				this.$store.commit('setMallScrollTop', st);//提供第scrollTop<=3才能刷新
				var tta = el.srcElement.children || el.target.children;
				var scollHt = el.srcElement.clientHeight || el.target.clientHeight;
				for (var j = 0, len = tta.length; j < len; j++) {
					var chiBot = (tta[j]).getBoundingClientRect().bottom;
					var chiTop = (tta[j]).getBoundingClientRect().top;
					var isBottomLoad = (chiBot > 108 && chiBot < scollHt);
					var isTopLoad = (scollHt-chiTop > -36 && chiTop > -1);  //-36保守讓kiosk可撈到畫面已出現小類待出品項

					if (this.mallData.kind.length > j){
						var isLocal = this.spySection != j && !this.mallData.kind[j]["isLoad"] && (isTopLoad || isBottomLoad)
						if (isLocal && this.prepareKindObj.ID != this.mallData.kind[j]["ID"]){
							this.prepareKindObj = {ID:this.mallData.kind[j]["ID"],index:j};

						}

					}

				}

			}
		},
		// 類別右側定位
		isSelectStyle(){
		return this.styleIndex > -1 && this.maxItemStyle > this.styleIndex;
		},
		checkValue(e){
			// console.log("Qty>>",e.target.value,"*",this.lastQty);
			if (e.target.value < 0 || e.target.value.indexOf('-') > -1 || e.target.value.indexOf('0') == 0) {this.Qty=this.lastQty;}
			else if(toDecimal(e.target.value)>999){this.Qty=this.lastQty;showToast('數值填入過大,修正為:'+this.Qty);}
			else {this.lastQty=e.target.value}
		},
		runPrepareKind(){
			if (this.prepareKind.length > 0) {
				var lastIndex = this.prepareKind.length - 1;
				getFoodmarket(this.prepareKind[lastIndex]["ID"],this.prepareKind[lastIndex]["index"],()=>{
					// this.$store.commit('turnShopCart');
					if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll
					if (this.prepareKind.length > lastIndex) this.prepareKind.splice(lastIndex,1);
				});
			}
		},

		haveKind(p_index){
		let isOk 	= false
			,kind		= []
		const foodkind2 = this.mallData.foodkind2
		if(foodkind2.length > p_index) {
			kind = this.mallData.foodkind.filter(p_kind=>{
				return p_kind.FLevel == foodkind2[p_index]["ID"];
				});
				isOk = (kind.length > 0);
			}
			return isOk;
		},
		triggerScrollAct() {
			this.prepareKind = [];
			this.$nextTick(()=>{

				// if (index!=undefined) return this.$scrollTo(index)  //或計要回到上(下)一個
			})
		},
		spyScrollAct() {
			this.$nextTick(()=>{
			if (this.$route.query.goto!=undefined) this.mallData.spyIndex = this.$route.query.goto;
				if(this.$route.fullPath.includes('?goto')) {
					this.isLoadScrollTop = true;
					return this.$scrollTo(this.$route.query.goto);
				}
				// if(this.$route.fullPath.includes('?goto')) return this.$scrollTo(this.spySection)

			})
		},
		scrollTopAct() {
			this.$nextTick(()=>{
				if (this.listenEL) {
				this.listenEL.scrollTop = this.mallData.mallScrollTop;
				//console.log(this.listenEL.scrollTop,"mallScrollTop>>",this.mallData.mallScrollTop);
				}

			})
		},

		// 類別右側定位
		spyScrollLinkAct() {
			this.$nextTick(()=>{
				// console.log("spyScrollLink",this.spySection);
				let anchorId = 'spyScrollLink' + this.spySection

				let anchorEl = document.getElementById(anchorId)

				if (anchorEl) anchorEl.scrollIntoView()
			})
		},
		// 商品內容Tabs定位
		tabsIntoView(elId) {
			this.tabIndex = elId
			let El = document.getElementById(elId)
			if (El) El.scrollIntoView()
		},
		isHideStyle(){
			if (!this.itemStyle) return false;
			return (this.maxItemStyle === 1 && this.itemStyle[0]["isNoStyle"]);
		},
		item_click(p_item,isSpec,kIndex,fIndex){
			this.Qty = 1; //預設數量

			//console.log('item_click-item: ', p_item);	// @@
			getFoodmarketDetail(p_item.MainID,kIndex,fIndex,(p_food)=>{
				if (p_food) {
					store.commit('setShopNowItem', p_food);
					this.item_ok(isSpec);
				} else {
					showAlert("此商品已下架或不存在");
				}
			});
		},
		item_ok(isSpec){
			if (isSpec) {
				this.setDefault();
				if (this.isHideStyle()){
					this.addToCart();
					return;
				}

				this.isTypeModal = 'spec'
				this.$store.commit('setCssTouch', false) // 修正手機端遮罩層bug
			} else {
				const thePage = '/cardShopType'
				let param1 = {
					type: 'product',
					from: 'subKind',
					goto: this.spySection,
				}
				const q_k2index = this.$route.query.kind2Index
				if (q_k2index) {
					param1.kind2Index = q_k2index;
				}
				this.$router.push({path: thePage, query: param1})
			}
		},
		deleteAll(){
			showConfirm("是否清除購物車", '確定', '取消')
			// 點擊確認執行
			.then(() => {
				cleanCart(()=>{
					hideModal();
				this.mallData.shopping_cart.map(p_cart=>{
					this.mallData.foodQty[p_cart.MainID] = 0;
					this.mallData.kindQty[p_cart.KindID] = 0;
					});
					this.isTypeModal='';
				this.mallData.shopping_cart=[];
				this.mallData.shopOrderTmp={Total:0};
					//showToast('購物車已變更');
				});

			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(() => hideModal())
		},
    getStock(){
      return this.maxItemStyle ? chkTypeInt(this.itemStyle[this.styleIndex]["CurStock"]) : 0; //庫存
    },
		addToCart(isGoCart){
		// const one = this.itemStyle[this.styleIndex]
			// ,aa1 		= one["CurStock"]
		// console.log('addToCart-庫存,one: ', aa1, one);	// @@

		if (this.styleIndex < 0 || !this.maxItemStyle) {showAlert("請選擇規格!"); return;}
		this.mallNowItem.styleFoodID = this.getStyle1("ID");
		this.mallNowItem.Taste = this.getStyle1("Name"); //規格名稱
		this.mallNowItem.Price1 = this.getStyle1("Price1");//規格價格
		this.mallNowItem.CurPrice = this.getStyle1("CurPrice");//規格原價

		if (!this.getStock()) {showAlert("商品已無庫存!"); return;}

			if (isGoCart){
        incNumber(this.mallNowItem,this.Qty,()=>{
					this.valInit();
					this.$router.push('/cardShopCart')
				});
        if(!this.isLogin && this.byApp) this.$router.push('/login')
        else if(!this.isLogin && !this.byApp) this.guestMarkeLogin();
			}else{
        incNumber(this.mallNowItem,this.Qty);
				this.valInit();
			}
			// if(isGoCart) this.$router.push('/shopCart')
		},
		getStyle1(key1){
			const hasStock = this.maxItemStyle;
			return hasStock ? this.itemStyle[this.styleIndex][key1] : '';
		},
		valInit(){
		this.setDefault();

			this.isTypeModal='';
			this.$store.commit('setCssTouch', true);
		},
		goKind(p_index,sub_index){
			if (p_index == this.$route.query.kind2Index) return;
			if (sub_index == undefined) sub_index=0;
			this.prepareKindObj={};

		const foodkind2 = this.mallData.foodkind2
		if(foodkind2.length > p_index) {
			this.mallData.kind = this.mallData.foodkind.filter(p_kind=>{
					return p_kind.FLevel == foodkind2[p_index]["ID"];
					});
			}

		if (!this.mallData.kind.length) {showToast('無類別');return;}
		this.mallData.kind.map((p_kind,kIndex)=>{
				// if (kIndex == sub_index) getFoodmarket(p_kind.ID,kIndex,()=>{  //this.mallData.kind[kIndex]["ID"]
					//改到shoptype==>beforeRouteEnter
				//   if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
				//   // this.$router.replace({ path: '/shopType', query: { goto: 0,kind2Index: index} })
				// });

				var tmpFoods=[];
				for (var i = 0; i < 17; i++) {
					tmpFoods.push({Name:"..."}); //為了讓點餐頁類別可以置頂

				}
				if (kIndex != sub_index && !p_kind.isLoad) p_kind.foods = tmpFoods;

			});

			if (p_index!=undefined) this.$router.replace({ path: '/cardShopType', query: { goto: sub_index ,kind2Index: p_index,reload:'yes'} })
		},
		// 判斷 single || double click
		oneClick() {
			this.clicks++
			if(this.clicks === 1) {
				var self = this
				this.timer = setTimeout(function() {
					self.clicks = 0
				}, 200);
				this.isDblClick = false
				this.swiper.autoplay.start()
			} else {
				clearTimeout(this.timer);
				this.isDblClick = true
				this.clicks = 0
				// 放大時，停止輪播
				if(this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
				else this.swiper.autoplay.start()
			}
		},
		// two-finger-touch stop swiper
		zoomTouch(e) {
			if(e.touches.length == 2 && e.targetTouches.length == 2) this.swiper.autoplay.stop()
			else if( this.swiper.zoom.scale == 1)  this.swiper.autoplay.start()
		},
	/* 設預設(規格 */
	setDefault() {
		this.styleIndex = 0
		/** @Fix: 預設選規格1 */
		// this.styleIndex = -1;
		// const isOnly1 = this.maxItemStyle == 1
		// if (isOnly1) this.styleIndex = 0; //若規格只有1筆,則預設選它
		// if (this.$route.query.type=='product' && isOnly1) this.styleIndex = 0;
	},
	},
	beforeRouteUpdate: function (to, form, next) {
		if (!this.listenEL) this.$store.commit('setShoplistenELe', this.$refs.scrollTitem)
		reloadShopType(to);
		if (to.query != null && to.query.reload === 'yes') store.dispatch("fetchMallKindData",to.query)

		next()
	},
	// 在路由刷新前
	beforeRouteEnter: function (to, form, next) {
    store.state.isPageName = '商城'
		reloadShopType(to);
		store.commit('setSortPriceType', '');
		if (((form.path === "/cardShop" && to.query.reload === 'yes') || form.path === "/cardShopType") && to.query != null) store.dispatch("fetchMallKindData",to.query)

		next(vm=>{
			if (!vm.listenEL){
			const $it = vm.$refs.scrollTitem
				//首次進入不會觸發scrollTop,要檢查撈取小類方式
				vm.$store.commit('setShoplistenELe', $it)
				if ($it) {
					$it.scrollTop +=1;
				}
			}
		})
	},
	beforeRouteLeave: function(to, form, next){
		this.isTypeModal = ''
		// 消滅此 instance
		this.$destroy()
		next()
	},
	// 建立頁面後
	created: function () {

		this.spyScrollAct()
	// this.setDefault();

		// Nav橫向捲動到位
		this.$nextTick(()=>{
			let El = document.querySelector('.topnav-container')
			let navItem = document.getElementById('kind2Index'+this.$route.query.kind2Index)
			if (El && navItem) El.scrollLeft = navItem.getBoundingClientRect().left -16
		})

	},
	watch: {
		'$route' () {
			this.spyScrollAct();
			this.tabIndex = 'tab01'
		this.setDefault();
		},
		spySection(kIndex){
		// if (this.mallData.isLoadKind2) {this.mallData.isLoadKind2=false;this.spySection=0;}

			var isLoading = this.prepareKindObj.ID == this.mallData.kind[kIndex]["ID"]
			if (!this.mallData.kind[kIndex]["isLoad"] && !isLoading) {
				getFoodmarket(this.mallData.kind[kIndex]["ID"],kIndex,()=>{
					if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll
					this.$store.commit('turnShopCart');//觸發UI更新用
				});
			}
			this.mallData.spyIndex = kIndex;
		},
		prepareKind(){
			this.runPrepareKind()
			// setTimeout(() => this.runPrepareKind(), 100);
		},
		prepareKindObj(p_obj){
			if (p_obj.ID) getFoodmarket(p_obj.ID,p_obj.index,()=>{
				this.prepareKindObj={};
				if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll2

			});
		}
	}
}
</script>

<style lang="scss" scoped>
  .spySectionActive {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1;
    border-color: #e5e5e5 !important;
  }
  .spyActive {
    background: white;
    color: black !important;
    box-shadow: rgba(0, 0, 0, .15) -12px 0px 12px 0px;
    font-weight: 500;
  }
  .item-badge {
      height: 1.5rem;
      line-height: 1.5rem;
      min-width: 1.5rem;
      border-radius: .75rem;
      padding: 0 .25rem;
      margin: -1rem -.75rem;
  }
  .scrollspy-container li + li {
      margin-top: 0;
  }
  .twoline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all .15s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  }
  .slide-up-leave {
    opacity: 1;
    transform: translateY(0rem);
  }
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(.75rem);
  }
  .slide-up-enter {
    opacity: 0;
    transform: translateY(-.75rem);
  }
  .slide-up-enter-to {
    opacity: 1;
    transform: translateY(0rem);
  }
  .cart-bounceIn {
    animation: bounceIn .3s;
  }
  @keyframes bounceIn {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.5);
    }
    65% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.025);
    }
    90% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
  .bill {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    z-index: 8;
  }
  .bill .modal-card-body {
    padding-bottom: calc(5rem + env(safe-area-inset-bottom));
  }
  .swiper-slide img {
    min-height: 375px;
  }

  /* skeleton loading 資料結構預載動畫 */

  .skeleton {
    width: 240px;
    height: 64px;
  }
  .skeleton .avatar {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 8px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    background-size: 600px;
    animation: shine-avatar 2s infinite ease-out;
  }
  .skeleton .line {
    float: left;
    width: 120px;
    height: 10px;
    margin-top: 6px;
    border-radius: 6px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    background-size: 600px;
    animation: shine-lines 2s infinite ease-out;
  }
  .skeleton .avatar + .line {
    width: 160px;
  }
  .skeleton .line ~ .line {
    background-color: #ddd;
  }
  .skeleton .line.price {
    margin-top: 16px;
    width: 60px;
  }

  @keyframes shine-lines {
    0% {  background-position: -100px; }
    40%, 100% { background-position: 140px; }
  }
  @keyframes shine-avatar {
    0% { background-position: -32px; }
    40%, 100% { background-position: 208px; }
  }

  .button.is-info.is-light:hover, .button.is-info.is-light.is-hovered {
    border-color: #3298dc !important;
  }

  .to-fill {
    border: 1px solid #eee;
    user-select: auto;
    width: 44px;
    line-height: 32px;
    vertical-align: sub;
  }

  .top-nav-inner::before {
    left: 0;
  }

  @media (min-width:768px) {
    .skeleton {
      width: 480px;
      height: 128px;
    }
    .skeleton .avatar {
      width: 128px;
      height: 128px;
    }
    .skeleton .line {
      float: none;
      margin-left: 144px;
    }
  }
  .scroll-auto-fix {
    height: calc(100vh - 100px - env(safe-area-inset-top));
  }
  .pb-env-fix {
    padding-bottom: calc(64px + env(safe-area-inset-bottom));
  }
  .btm-env-fix {
    bottom: calc(8px + env(safe-area-inset-bottom));;
  }
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
  .image-rwd {
      width: 64px;
  }
  .tag-bg {
    background-image: linear-gradient( 73.1deg, #569e18 8%, #86b817  86.9% );
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .button.is-success.is-light:hover,
  .button.is-success.is-light.is-hovered {
    border-color: #6d9613;
  }
  .rounded-4 {
    border-radius: 0.5rem !important;
  }
  .rounded-5 {
    border-radius: 1rem !important;
  }
</style>
<!-- scoped bootstrap Bootstrap v5.1.3 -->
<style scoped src="../../../assets/css/bootstrap.min.css">