<template>
  <div class="h-100 d-flex flex-column">

    <!-- 無商城設定提示 -->
    <template v-if="!$store.state.mallData.foodkind.length && !isLoad">
      <div class="notification is-warning is-light m-3 text-center">
        Coming Soon !!<br>Under Construction
      </div>
    </template>

    <!-- 頂分類選單 -->
    <template v-if="$store.state.mallData.foodkind.length">
      <div class="shadow bg-light" style="z-index:1" v-if="$route.query.type==null">
        <div class="container my-2">
          <div class="row g-2 align-items-center">
            <div class="col-auto" @click="getSearchFoods();$router.push('/cardShop?type=search')">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </div>
            <div class="col overflow-auto text-nowrap hide-scrollbar" style="margin-right:-.5rem">
              <template v-for="(item, index) in $store.state.mallData.foodkind2">
                <span class="tag is-medium tag-bg text-white rounded-pill shadow-sm py-2 px-3 me-2" :key="index" v-if="haveKind(index)" @click="goKind(index,0,true)">{{item.Name}}</span>
              </template>
            </div>
          </div>
        </div>
      </div>
    </template>

    <!-- 首頁內容 -->
    <div class="h-100 overflow-auto" v-show="$route.query.type==null && $store.state.mallData.foodkind.length">
      <!-- Swipe Banner -->
      <div class="container px-0 mb-3 text-center has-background-white-ter" v-if="mallData.Banner.length">
        <swiper ref="mySwiper" :options="swiperOption">
          <swiper-slide v-for="(banner, bIndex) in mallData.Banner" :key="'banr'+bIndex">
						<figure class="image is-16by9 m-0">
							<img class="swiper-lazy object-cover" :data-src="showImgSubsidiary(banner.PicURL)" :key="banner.PicURL" @click="redirectToLink(banner)">
							<div class="swiper-lazy-preloader"></div>
						</figure>
          </swiper-slide>
          <div class="swiper-pagination" style="z-index:1" slot="pagination"></div>
        </swiper>
      </div>

      <!-- 推薦分類區塊 -->
      <section v-for="(itemFeature, fIndex) in mallData.home" :key="'home'+fIndex" >
        <div class="container mb-4">
          <div class="row align-items-center" @click="reloadHome(fIndex)">
            <div class="col is-size-5">
              <div class="py-2 px-3 ft-header rounded-end rounded-pill fw-bolder" style="margin-left: -.5rem">{{itemFeature.Name}}</div>
            </div>
            <div class="col-auto text-yelllow-800">
              更多
              <svg xmlns="http://www.w3.org/2000/svg" class="align-text-bottom" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>
            </div>
          </div>
        </div>
        <div class="container px-3">
          <div class="row row-cols-2 row-cols-md-3">
            <div class="col"
              v-for="(item, tIndex) in itemFeature.type" :key="'sub'+tIndex"
              @click="item_click(item,undefined,fIndex,tIndex,true)"
            >
              <div v-if="itemFeature.Counts > tIndex">
                <div class="card-image">
                  <figure class="image is-1by1 position-relative mb-2">
                    <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                    <img :src="showImgSubsidiary(item.PIC1)" :key="showImgSubsidiary(item.PIC1)" class="has-background-white-ter rounded-5" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="position-absolute tag is-danger shadow-sm" style="top:-2px;left:-2px">限量<b class="mx-1">{{item.ShowQty}}</b>組</span>
                  </figure>
                </div>
                <div class="card-content p-1">
                  <p class="mb-2"><b>{{item.Name}}</b></p>
                  <p>
                    <small class="is-size-7">NT$ </small>
                    <b class="has-text-danger">{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- 推薦分類區塊(完整) -->
    <template v-if="nowHome()">
      <section class="h-100 overflow-auto">
        <div class="container mb-4">
          <div class="row align-items-center">
            <div class="col is-size-5">
              <div class="py-2 px-3 ft-header rounded-pill fw-bolder" style="margin-left: -.5rem">{{mallData.home[$route.query.index]["Name"]}}</div>
            </div>
          </div>
        </div>
        <div class="container px-3">
          <div class="row row-cols-2 row-cols-md-3" v-if="mallData.isCarUI!=undefined">
            <div class="col"
              v-for="(item, sIndex) in mallData.home[$route.query.index]['type']"
              :key="'sitem'+sIndex"
              @click.stop="item_click(item,undefined,$route.query.index,sIndex,true)"
            >
              <div class="h-100 d-flex flex-column">
                <div class="card-image">
                  <figure class="image is-1by1 position-relative mb-2">
                    <img :src="showImgSubsidiary(item.PIC1)" :key="showImgSubsidiary(item.PIC1)" class="has-background-white-ter rounded-5 object-fit-cover" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="position-absolute tag is-danger shadow-sm" style="top:-2px;left:-2px">限量<b class="mx-1">{{item.ShowQty}}</b>組</span>
                  </figure>
                </div>
                <div class="card-content p-1">
                  <p class="mb-2 twoline-ellipsis"><b>{{item.Name}}</b></p>
                  <p>
                    <small class="is-size-7">NT$ </small>
                    <b class="has-text-danger">{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                  <p>
                    <button class="button is-success is-outlined is-light is-fullwidth rounded-3 shadow-sm" v-if="!item.Stop" @click.stop="item_click(item,true,$route.query.index,sIndex,true)">物車</button>
                    <button class="button is-light is-fullwidth border rounded-3" v-else>停 售</button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>

    <!-- 選規格跳窗 -->
    <transition name="slide-fade">
      <div class="modal d-flex px-2" style="z-index:1002" v-if="isTypeModal=='spec'">
        <div class="modal-background" style="background-color:rgba(0,0,0,.6)" @click="isTypeModal=''"></div>
        <div class="modal-card mx-0">
          <header class="modal-card-head border-bottom-0 bg-white">
            <p class="modal-card-title">{{mallData.nowItem.Name}}</p>
            <button class="rounded-circle delete is-medium" aria-label="close" @click="isTypeModal=''"></button>
          </header>
          <section class="modal-card-body">
            <p>規格名稱</p>
            <div>
              <span class="ck-box" v-for="(item, iIndex) in mallData.nowItem.style" :key="'chisty'+iIndex">
                <input :id="item.ID" type="radio" name="項目" class="ck-button w3-hide" v-bind:value="iIndex" v-model="styleIndex">
                <label :for="item.ID">{{item.Name}}</label>
              </span>
            </div>
          </section>
          <footer class="modal-card-foot border-top-0 justify-content-between">
            <div class="text-danger">
              <small>NT$ </small>
              <b>{{(styleIndex > -1?mallData.nowItem.style[styleIndex]["Price1"]:mallData.nowItem.Price)}}</b>
            </div>
            <div class="d-flex">
              <div class="d-flex align-items-center">
                <button class="p-0 border-0 mx-2 has-text-grey-light bg-transparent" style="height:28px" :disabled='Qty < 2' @click="Qty--">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                  </svg>
                </button>
                <input type="number" min="0" readonly="readonly" class="input is-normal text-center" style="width: 3em" :value="Qty">
                <button class="has-text-success p-0 border-0 mx-2 bg-transparent" style="height:28px" @click="Qty++">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                  </svg>
                </button>
              </div>
              <button class="button is-success rounded" @click="addToCart()">放入購物車</button>
            </div>
          </footer>
        </div>
      </div>
    </transition>

    <!-- 搜尋功能 -->
    <template v-if="$route.query.type=='search'">
      <!-- 輸入框 -->
      <div class="bg-light" :class="{'shadow':onlineItem.length}" style="z-index:1">
        <div class="container my-2">
          <div class="row g-2 align-items-center">
            <div class="col-auto" @click="getSearchFoods();$router.push('/cardShop?type=search')">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </div>
            <div class="col">
              <form action="." v-on:submit.prevent="searchOnline()">
                <div class="field">
                  <div class="control">
                    <input class="input border" type="search" placeholder="輸入關鍵字" ref="searchInput" v-model="keyFilter">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 搜尋結果 -->
      <section class="flex-fill h-100 overflow-auto">
        <div class="notification is-warning is-light m-3 text-center" v-if="!onlineItem.length">
          -- 無搜尋結果 --
        </div>
        <div class="container p-3">
          <div class="row row-cols-2 row-cols-md-3">
            <div class="col" v-for="(item, cuIndex) in onlineItem" :key="'current'+cuIndex" @click="item_click(item,undefined,0,0,false)">
              <div>
                <div class="card-image">
                  <figure class="image is-1by1 position-relative mb-2">
                    <img :src="showImgSubsidiary(item.PIC1)" class="has-background-white-ter rounded-5 object-fit-cover" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="position-absolute tag is-danger shadow-sm" style="top:-2px;left:-2px">限量<b class="mx-1">{{item.ShowQty}}</b>組</span>
                  </figure>
                </div>
                <div class="card-content px-0 py-2">
                  <p class="mb-1"><b>{{item.Name}}</b></p>
                  <p class="has-text-danger">
                    <small>NT$ </small>
                    <b>{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>
  </div>
</template>
<!--<script src="src/assets/test.js"></script>--><!--商城假data-->
<script>
  import VueAwesomeSwiper from 'vue-awesome-swiper'
  import 'swiper/dist/css/swiper.min.css'
  import store from 'src/store'

  import { malltmp } from 'src/assets/mall_temp.js'
  import { getFoodmarket,foodSrc,incNumber,foodCheck,getFoodKind,getFoodmarketDetail_kind,getSearchFoods,getFoodmarketDetail_only,singlefoodmarket,searchFood,toDecimal,chkTypeInt,getGroupitems,getMyShopCart,itmeQtyReload,getFoodRule } from 'src/libs/market.js'
  // import fetchData from '../../libs/fetchData.js'
  import { showAlert,showToast,showImageWuhu,showImgSubsidiary } from 'src/libs/appHelper.js'
  import { deviseFunction } from 'src/libs/deviseHelper.js'

  export default {
    components: {
      Swiper: VueAwesomeSwiper.swiper,
      SwiperSlide: VueAwesomeSwiper.swiperSlide
    },
    // 頁面資料: 請使用function return
    data: function () {
      return {
        state: this.$store.state,
        searchBar: false,
        mallTmp: malltmp,
        keyFilter:"",
        isTypeModal: '', // 選規格
        Qty:1, //預設要加到購物車的數量
        styleIndex: -1,  //現在所選規格
        onlineItem:[], //搜尋線上品項
        // detect click
        isDblClick: false,
        clicks: 0,
        swiperOption: {
          observer:true,
          lazy: {
            loadPrevNext: true,
          },
          pagination: {
            el: '.swiper-pagination'
          },
          autoplay: {
            delay: 3000,
            disableOnInteraction: false
          },
        },        
      };
    },
    computed: {
      // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
      isLoad(){
        return this.$store.state.isLoading;
      },
      isLogin() {
        return this.$store.getters.isLogin
      },
      fontSizeBase() {
        return store.getters.fontSizeBase
      },
      mallData() {
        return this.$store.state.mallData;
      },
      currentItem(){
        return this.$store.state.mallData.iv_currentItem.filter(food =>RegExp(this.keyFilter).test(food.Name));
      },
      swiper() {
        //return this.$refs.mySwiper.swiper;
        return this.$refs.mySwiper?this.$refs.mySwiper.swiper:undefined
      }
    },
    mounted() {
      // window.addEventListener('scroll', (el) => {

      //   var st = el.srcElement.scrollTop || el.target.scrollTop;
      //   console.log("st..",st);
      // }, true);
    },
    // 頁面模組
    methods: {
      doSomething() {
      },
      foodSrc,
      showImageWuhu,
      showImgSubsidiary,
      foodCheck,
      getFoodKind,
      getSearchFoods,
      toDecimal,
      reloadHome(fIndex){
        getGroupitems(this.mallData.home[fIndex]["GID"],(p_data)=>{
          this.$store.commit('groupFood', {"fIndex":fIndex,"GroupItems":p_data});
          // this.$store.commit('turnShopCart');
          this.$router.push({ path: '/cardShop', query: { type: 'feature',index:fIndex } })
        });

      },
      nowHome(){
        return (this.$route.fullPath.includes('&index') && this.$route.fullPath.includes('?type') && this.$route.query.type === "feature" && this.$route.query.index > -1);

      },
      searchOnline(){
        searchFood(this.keyFilter,(foods)=>{
          this.onlineItem = foods;
        });
        this.$refs.searchInput.blur()
      },
      item_click(p_item,isSpec){

        this.Qty = 1; //預設數量
        // this.$store.state.mallData.nowItem = p_item;
        store.commit('setShopNowItem', p_item);

        if (this.mallData.nowItem.ID){
          singlefoodmarket(this.mallData.nowItem.ID,(food_arrs)=>{
            if (Array.isArray(food_arrs) && food_arrs.length > 0){
              getFoodmarketDetail_only(store.state.mallData.nowItem.ID,(p_style)=>{
                store.state.mallData.nowItem.style = p_style;
                this.$store.commit('turnShopCart');
                this.item_ok(isSpec);
              });
            }else{
              showAlert("此商品已下架或不存在");
            }
          });
        }
        // var isLoad=true;
        // if (isLoad){
        // if (isLoad && !isFromHome){
        // if (!p_item.isLoad){
        //   if (!p_item.isLoad && !isFromHome){
        //     搜尋商品頁


        //     const findKind = (et) => et.ID == p_item.Kind;
        //     var kind_index = this.mallData.foodkind.findIndex(findKind);
        //     var kindID = this.mallData.foodkind[kind_index]["ID"];
        //     if (!this.mallData.iv_foods[kindID]){
        //       getFoodmarket_only(kindID,()=>{
        //         this.findFoods(p_item,isSpec,kind_index,kindID);
        //       });
        //     }
        //     else{
        //       this.findFoods(p_item,isSpec,kind_index,kindID);
        //     }

        // }else if (isLoad && isFromHome){
        //   }else if (!p_item.isLoad && isFromHome){
        //     首頁群組商品
        //     this.item_ok(isSpec);
        //     getFoodmarketDetail_home(p_item.MainID,kIndex,fIndex,(p_food)=>{
        //       this.$store.state.mallData.nowItem = p_food;


        //       this.item_ok(isSpec);
        //     });
        //   }
        // }else{
        //   this.item_ok(isSpec);
        // }


      },
      item_ok(isSpec){

        if (isSpec) {
          this.styleIndex = -1;
          if (this.mallData.nowItem.style.length == 1) this.styleIndex = 0;

          if (this.isHideStyle()){
            this.addToCart();
            return;
          }

          this.isTypeModal = 'spec'
          this.$store.commit('setCssTouch', false) // 修正手機端遮罩層bug
        } else {
          // console.log("count...",this.$router.length);
          if (this.nowHome()){
            this.$router.push({ path: '/cardShopType', query: { type: 'product',fromIndex:this.$route.query.index } });
          }else{
            this.$router.push({ path: '/cardShopType', query: { type: 'product' } });
          }

        }
      },
      isHideStyle(){
        if (!this.mallData.nowItem.style) return false;
        return (this.mallData.nowItem.style.length === 1 && this.mallData.nowItem.style[0]["isNoStyle"]);
      },
      findFoods(p_item,isSpec,kind_index,kindID){

        if (this.mallData.iv_foods[kindID] && !this.mallData.foodkind[kind_index]["foods"]) {
          this.$store.state.mallData.foodkind[kind_index]["foods"] = this.mallData.iv_foods[kindID]
          const findFood = (et) => et.GID == p_item.GID;
          var fin_index = this.mallData.foodkind[kind_index]["foods"].findIndex(findFood);
          getFoodmarketDetail_kind(p_item.MainID,kind_index,fin_index,(p_food)=>{
            this.$store.state.mallData.nowItem = p_food;
            this.item_ok(isSpec);

          });
        }
      },
      setDemo(){
        this.$store.state.mallData.foodkind2 = this.mallTmp.kind2; //暫時塞假的資料
        this.$store.state.mallData.foodkind = this.mallTmp.kind;

        this.$store.state.mallData.foodkind.map(p_kind => {
          p_kind.foods= this.mallTmp[p_kind.ID] || [];
          //首頁顯示的品項
          var foodIds = p_kind.foods.map(p_food =>{
            //p_food.style = this.mallTmp.style;
            // p_food.MainMenu = this.mallTmp.foodMainMenu;  //詳請頁的Banner,五張圖
            p_food.PIC1 = this.mallTmp.foodMainMenu.PIC1;
            p_food.PIC2 = this.mallTmp.foodMainMenu.PIC2;
            p_food.PIC3 = this.mallTmp.foodMainMenu.PIC3;
            p_food.PIC4 = this.mallTmp.foodMainMenu.PIC4;
            p_food.PIC5 =  this.mallTmp.foodMainMenu.PIC5;
            // p_food.Market= this.mallTmp.foodMarket;
            p_food.style = this.mallTmp.foodMarket.map(p_style =>{
              var style_arr = [];
              Object.keys(p_style).map( p_key =>{
                if (p_key.indexOf("SpecID") == 0){
                  var specKey = p_style[p_key];
                  if (specKey && specKey != "") style_arr.push(this.mallTmp.specName[specKey]);

                }
              });

            // return {ID:p_style.ID,Name:style_arr.join()};
              return {ID:p_food.ID+"-"+p_style.ID,Name:style_arr.join()}; //暫時加foodid來區別訂單ID
            });

            // p_food.MinOrderCount = 1;//最低購量
            // p_food.MaxOrderCount = 3;//最高購量

            return p_food.ID;
          });

          this.mallTmp.home.map(p_home => {
            p_home.type.map((obj,oIndex) =>{
              var id_index = foodIds.indexOf(obj.ID);
              if (obj.Kind === p_kind.ID && id_index > -1){
                p_home.type[oIndex] = p_kind.foods[id_index];

              }
            })
          });


        });
        this.$store.state.mallData.home = this.mallTmp.home;
      },
      checkStock(){
        var isIndexStyle = this.styleIndex > -1 && this.mallData.nowItem.style.length > this.styleIndex;
        var int_curStock = chkTypeInt(isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["CurStock"]:0);//庫存
        return int_curStock > 0;
      },
      addToCart(isGoCart){
        if (this.styleIndex < 0 || this.mallData.nowItem.style.length <= this.styleIndex) {showAlert("請選擇規格!"); return;}
        this.mallData.nowItem.styleFoodID = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["ID"]:'');
        this.mallData.nowItem.Taste = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["Name"]:''); //規格名稱
        this.mallData.nowItem.Price1 = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["Price1"]:'');//規格價格
        this.mallData.nowItem.CurPrice = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["CurPrice"]:'');//規格原價
        if (!this.checkStock()) {showAlert("商品已無庫存!"); return;}
        incNumber(this.mallData.nowItem,this.Qty);
        this.styleIndex = -1;
        if (this.$route.query.type=='product' && this.mallData.nowItem.style.length == 1) this.styleIndex = 0;
        this.isTypeModal='';
        this.$store.commit('setCssTouch', true)
        if(isGoCart) this.$router.replace('/cardShopCart')
      },
      // 判斷 single || double click
      oneClick() {
        this.clicks++
        if(this.clicks === 1) {
          var self = this
          this.timer = setTimeout(function() {
            self.clicks = 0
          }, 200);
          this.isDblClick = false
          if (this.swiper && this.swiper.autoplay) this.swiper.autoplay.start()
        } else {
          clearTimeout(this.timer);
          this.isDblClick = true
          this.clicks = 0
          // 放大時，停止輪播
          if(this.swiper && this.swiper.autoplay && this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
          else if (this.swiper && this.swiper.autoplay) this.swiper.autoplay.start()
        }
      },
      redirectToLink(banner) {
        this.oneClick()
        setTimeout(() => {
        // console.log(banner);
        //console.log(banner);LinkType= FoodKind, FoodDetail ...LinkPostion='300100001'
        if ((banner.LinkType != '' || banner.LinkPostion != '') && this.isDblClick) return

          if (banner.LinkType === "FoodDetail" || banner.LinkType === "MarketDetail"){
            this.getSearchFoods();
            const findfood = (et) => et && et.ID == banner.LinkPostion; //依規格的ID來區分群組

            var p_index = this.mallData.iv_currentItem.findIndex(findfood);
            if (p_index> -1) this.item_click(this.mallData.iv_currentItem[p_index],undefined,0,0,false)
            if (p_index < 0) singlefoodmarket(banner.LinkPostion,(food_arrs)=>{
              if (Array.isArray(food_arrs) && food_arrs.length > 0){
                this.item_click(food_arrs[0],undefined,0,0,false)
              }else{
                showAlert("此商品已下架或不存在");
              }
            });

          }else if (banner.LinkType === "FoodKind" || banner.LinkType === "MarketKind"){

            const findKind = (et) => et.ID == banner.LinkPostion;
            // var k_index = this.mallData.foodkind2.findIndex(findKind);
            var sub_index = this.mallData.foodkind.findIndex(findKind);
            if (sub_index < 0) return showAlert("無法找到此類別");
            var kind2ID = this.mallData.foodkind[sub_index]["FLevel"];
            const findKind2 = (et) => et.ID == kind2ID;
            var k_index = this.mallData.foodkind2.findIndex(findKind2);
            if (k_index < 0) return showAlert("無法找到此類別");

            var sub_kind = this.mallData.foodkind.filter(p_kind=>{
              return p_kind.FLevel == this.mallData.foodkind2[k_index]["ID"];
            });

            var findSub_index = sub_kind.findIndex(findKind);
            if (findSub_index> -1) this.goKind(k_index,findSub_index,true)
          }else if (banner.LinkType === "FoodHead" || banner.LinkType === "MarketHead"){
            const findHome = (et) => et.SN == banner.LinkPostion;
            var homeIndex = this.mallData.home.findIndex(findHome);
            if (homeIndex < 0) return showAlert("無法找到分組");
            if (homeIndex > -1) this.$router.push({ path: '/cardShop', query: { type: 'feature',index:homeIndex } })
          }else if (banner.LinkType == 'InnerURL') {
            this.$router.push(banner.LinkPostion)

          }else if (banner.LinkType == 'OuterURL') {
            let url = banner.OuterURL
            // 在殼裡面 => 開啟瀏覽器
            if (typeof(JSInterface) !== 'undefined') {
              deviseFunction('openWeburl', url, '')
            // 在瀏覽器 => 瀏覽器新開一個tab
            } else {
              window.open(url, '_blank')
            }
          }

        }, 300)

        // let linkPrefix
        // if (banner.LinkType === "FoodDetail") linkPrefix = '/cardProducts/'
        // if (banner.LinkType === "MessageDetail") linkPrefix = '/cardNewspage/'

        // this.$router.push(linkPrefix + banner.LinkPostion)
      },
      // two-finger-touch stop swiper
      zoomTouch(e) {
        if(this.swiper && this.swiper.autoplay && e.touches.length == 2 && e.targetTouches.length == 2) this.swiper.autoplay.stop()
        else if(this.swiper && this.swiper.autoplay && this.swiper.zoom.scale == 1)  this.swiper.autoplay.start()
      },
      goKind(p_index,sub_index,isreload){
        if (sub_index == undefined) sub_index=0;
        if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {
          store.state.mallData.kind = store.state.mallData.foodkind.filter(p_kind=>{
              return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
            });
        }
        if (store.state.mallData.kind.length == 0) {showToast('無類別');return;}
        store.state.mallData.kind.map((p_kind,kIndex)=>{
          // if (kIndex == sub_index) getFoodmarket(p_kind.ID,kIndex,()=>{  //this.mallData.kind[kIndex]["ID"]
            //改到shoptype==>beforeRouteEnter
          //   if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
          //   // this.$router.replace({ path: '/shopType', query: { goto: 0,kind2Index: index} })
          // });


          var tmpFoods=[];
          for (var i = 0; i < 17; i++) {
            tmpFoods.push({Name:"..."}); //為了讓點餐頁類別可以置頂

          }
          //console.log(kIndex , sub_index , p_kind.isLoad)
          if (kIndex != sub_index && !p_kind.isLoad) p_kind.foods = tmpFoods;

        });
        getFoodmarket(this.mallData.kind[0]["ID"],0,()=>{
          if (p_index!=undefined) {
            if (isreload){
              this.$router.push({ path: '/cardShopType', query: { goto: sub_index ,kind2Index: p_index ,reload:'yes'} })
            }else{
              this.$router.push({ path: '/cardShopType', query: { goto: sub_index ,kind2Index: p_index} })
            }

          }
        });

      },
      haveKind(p_index){
        var isOk = false;
        var kind=[]
        if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {
          kind = store.state.mallData.foodkind.filter(p_kind=>{
            return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
          });
          isOk = (kind.length > 0);
        }
        return isOk;
      },
    },

    
    // 在路由刷新前
    async beforeRouteEnter(to, form, next) {
      store.state.isPageName = '商城'
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
      store.state.mallData.reloadShopFn= async (p_next)=>{

        store.commit('clsShopMall');
        //await store.dispatch('fetchAppConfig','foodMarketShopID')
        await store.dispatch('fetchMarketShopID')
        
        getFoodKind(()=>{// 取大中類別
        //TODO move shopcart to cloud?
          if (store.getters.isLogin) getMyShopCart(()=>{
            itmeQtyReload();
          });
          // store.dispatch('fetchFoodmarketMulti') //取所有品項
          getFoodRule(()=>{ //取運費,物流費,首頁群組商品,規則表等
            //if (p_next) p_next();
            if (p_next) p_next(vm=>{
              setTimeout(() => {   
                if (Object.keys(store.state.marketBanner).length){
                  vm.redirectToLink(store.state.marketBanner)
                  setTimeout(function() {
                    store.commit('setMarketBanner',{}); 
                  }, 400);//redirectToLink裡有一個setTimeout,300
                  
                }    
              }, 10);
            });
          })
          // getFoodFreight(()=>{ //取運費
          //   getFoodExpresst(()=>{ //取物流費
          //     getHeadergroup(()=>{//取首頁群組商品
          //       getFoodSpec(()=>{if (p_next) p_next();}); //取規則表

          //     });
          //   });

          // });
          
        });
      }
      const p_path = ["/cardShopType","/cardShopCart","/cardShopMine"];   //在商城相關,不重撈      
      if (p_path.indexOf(form.path) > -1 && store.state.mallData.foodkind.length){
        next();
      }else{
        store.state.mallData.reloadShopFn(next);

      }
      // next();
    },
    beforeRouteUpdate: function (to, form, next) {
      document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
      if (to.path === "/cardShop" && to.query.from === 'scanSend'){
        //scanResult,透過掃描生成購物車
        var promise_arr = [];
        store.state.mallData.barcodeItem.map((p_item)=>{
          //if (p_item.Price1 != '') incNumber(p_item);

          promise_arr.push(new Promise((resolve) => {
            if (p_item.Price1 != '') {
              incNumber(p_item,1,(new_cart)=>{
                store.commit('addShopCart', new_cart);
                resolve('ok');
              });
            }else{
              resolve('no');
            }
          }));
        });

        Promise.all(promise_arr).then((suces)=> {
          // 一次性同時回傳成功訊息
          if (suces.indexOf('ok') > -1){
            this.$router.replace({ path: '/cardShopCart', query: { from: 'scanToCart' }})
          }else{
            showToast("沒有新增商品");
            next();
          }

          //next();
        }).catch( () => {
          // 失敗訊息 (立即)
          next();
        });

      }else{
        next();
      }

    },
    beforeRouteLeave: function(to, from, next) {
      next()
    },
    // 建立頁面後
    created: function () {
      // this.setDemo();

      this.keyFilter='';
    },
    watch: {
      '$route' () {
        this.keyFilter='';
      }
    }
  }
</script>

<style lang="scss" scoped>
  .tag-bg {
    background-image: linear-gradient( 73.1deg, #569e18 8%, #86b817  86.9% );
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .ft-header {
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( 73.1deg, #ec842a 10%, #F2C94C 70%, #fff 95%);
  }
  .button.is-success.is-light:hover,
  .button.is-success.is-light.is-hovered {
    border-color: #6d9613;
  }
  .rounded-4 {
    border-radius: 0.5rem !important;
  }
</style>
<!-- scoped Bootstrap v5.1.3 -->
<style scoped src="../../../assets/css/bootstrap.min.css">