<template>
  <div>
    <!-- 讀取中效果 -->
    <div class="modal is-active" style="z-index: 9999;" v-show="isLoading" v-cloak>
      <div class="modal-background" style="background-color: rgba(0,0,0,0);"></div>
      <div class="modal-content has-text-centered py-4">
        <div class="bg-white d-inline-block rounded-circle wobble-hor-bottom shadow-sm">
          <figure class="image is-96x96">
            <img src="./assets/images/loading.svg">
          </figure>
        </div>
				<p class="text-white mt-2">{{loadingMsg}}</p>
      </div>
    </div>

    <!-- Alert 彈窗 -->
    <div class="modal is-active" v-if="customModal.type == 'alert'" style="z-index: 9999;">
      <div class="modal-background"></div>
      <div class="modal-content">
        <article class="message is-dark m-3">
          <div class="message-body border-0">
            <p class="is-size-5 text-center my-3" v-html="customModal.text"></p>
            <div class="columns is-mobile is-variable is-1 mt-n1">
              <div class="column">
                <button class="button is-fullwidth text-wide is-success" @click="hideModal">
                  <b>確定</b>
                </button>
              </div>
            </div>
          </div>
        </article>
      </div>
      <!-- <button class="modal-close is-large" aria-label="close" @click="hideModal"></button> -->
    </div>

    <!-- Confirm 彈窗 -->
    <div class="modal is-active" v-show="customModal.type == 'confirm'" style="z-index: 99999;">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box text-center m-3">
          <p class="is-size-5 mb-3" style="line-height:1.5" v-html="customModal.text"></p>
          <div v-if="isNoteTitle" class="text-left mb-4">
            <p class="mb-2">{{customModal.confirmNoteTitle}}：</p>
            <span class="ck-box" v-for="(item, index) in customModal.confirmNoteChoice" :key="index">
              <input :id="index" type="radio" :value="item.code" name="reason" class="ck-button w3-hide" v-model="customModal.confirmNoteChoosed">
              <label :for="index">
                {{item.text}}
              </label>
            </span>
            <input type="text" v-if="customModal.confirmNoteRemarkPlaceHolder" :placeholder="customModal.confirmNoteRemarkPlaceHolder" v-model="customModal.confirmNoteRemark" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter mt-3">
            <!-- 提示文字 -->
            <div class="has-text-danger d-block pt-2" style="margin-bottom:-10px">{{customModal.confirmNoteWarnMsg}}</div>
          </div>
          <!--單選,radio style2 -->
          <div v-if="isNoteText" class="text-left mb-2">
            <p class="mb-2">{{customModal.confirmNoteText}}：</p>
            <p class="mb-2" v-for="(item, index) in customModal.confirmNoteChoice" :key="index">
              <span class="ck-box">
                <input :id="index" type="radio" :value="item.code" name="reason" class="w3-radio w3-margin-left" v-model="customModal.confirmNoteChoosed">
                <label :for="index">
                  {{item.text}}
                </label>
              </span>
            </p>
            
            <input v-if="!isNoteText" type="text" :placeholder="customModal.confirmNoteRemarkPlaceHolder" v-model="customModal.confirmNoteRemark" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter mt-3">
            <!-- 提示文字 -->
            <div class="has-text-danger d-block pt-2" style="margin-bottom:-10px">{{customModal.confirmNoteWarnMsg}}</div>
          </div>
          <!-- 按鈕 -->
          <div class="columns is-mobile is-variable is-1 mt-n1">
            <div class="column" v-if="$store.state.customModal.cancelText!='noCancel'">
              <button class="button is-fullwidth text-wide is-light border mr-2" @click="$store.state.promise.reject()">{{$store.state.customModal.cancelText}}</button>
            </div>
            <div class="column">
              
              <button v-if="isNoteText" class="button is-fullwidth text-wide is-success" @click="$store.state.promise.resolve()" :disabled="isNoteText && customModal.confirmNoteChoosed === ''">{{$store.state.customModal.confirmText}}</button>
              <button v-if="!isNoteText" class="button is-fullwidth text-wide is-success" @click="$store.state.promise.resolve(), hideModal()">{{$store.state.customModal.confirmText}}</button>
            </div>
          </div>
        </div>
      </div>
      <button v-if="$store.state.customModal.cancelText!='noCancel'" class="modal-close is-large" aria-label="close" @click="hideModal"></button>
    </div>

    <component :is="layout">
      <transition name="slide-fade" mode="out-in">
        <keep-alive :max="6">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive >
      </transition>
    </component>
  </div>
</template>

<script>
import store from 'src/store'
import Default from 'src/appFami/layout/Kakar.vue'
import Card from 'src/appFami/layout/CardKakar.vue'
import { computed } from '@vue/composition-api'
import { hideModal, isLogin, getParameterByName } from 'src/libs/appHelper.js'

export default {
  name: 'appFami',
  components: { Default, Card },
  setup(props, context) {
    store.commit('setSearchUrl', {key:"linePara",value:(getParameterByName("linePara") || "")});
    //store.commit('setSearchUrl', {key:"lineNofInfo",value:(getParameterByName("lineNofInfo") || "")});//LINE notify
    // 主畫面 layout (預設為 Default)
    const layout = computed(() => context.root.$route.meta.layout || 'Default' )

    const isLoading = computed(() => store.state.isLoading )
    const loadingMsg = computed(() => store.state.loadingMsg )
    const customModal = computed(() => store.state.customModal )

    return { isLoading, loadingMsg, isLogin, customModal, hideModal, layout }
  },
  computed: {
    // fontSizeBase() { return store.getters.fontSizeBase },
    isNoteText() {
      return this.customModal.confirmNoteText && this.customModal.confirmNoteText.trim()!=''
    },
    isNoteTitle(){
      return typeof this.customModal.confirmNoteTitle === 'string' && this.customModal.confirmNoteTitle.trim()!=''
    },
  },
}
</script>
<style lang="scss">

/* ----------------------------------------------
 * Generated by Animista on 2020-4-17 12:11:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

 .wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s infinite both;
	animation: wobble-hor-bottom 0.8s infinite both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-15px) rotate(-3deg);
    transform: translateX(-15px) rotate(-3deg);
  }
  30% {
    -webkit-transform: translateX(8px) rotate(3deg);
    transform: translateX(8px) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-8px) rotate(-1.8deg);
    transform: translateX(-8px) rotate(1.8deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(1.2deg);
    transform: translateX(5px) rotate(1.2deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-0.6deg);
    transform: translateX(-3px) rotate(-0.6deg);
  }
}

</style>
